[2020-05-19 17:03] vanroekel commented on #564
Let me open a new issue with the summary and reproduction steps.  I think that will be clearer.  I'll also first try a case off ocean/develop to see if I can reproduce

[2020-05-19 17:03] xylar commented on #564
@vanroekel, could you try first loading the python environment and then setting the MPI modules?  I think that might make a differnece here -- which mpirun/mpiexec, etc. is being used.

[2020-05-19 17:04] vanroekel commented on #564
sure I will try that as well.

[2020-05-19 17:10] vanroekel commented on #564
@xylar yes, it was order.  If I load Mpi second, it works fine.  I'm perfectly happy doing that and not worrying about any new issues.  Thanks!

[2020-05-19 17:12] xylar commented on #564
That is always going to be a requirement once MPI is part of the conda environment, and we need it to be so we can run ESMF_RegridWeightGen in MPI.  I'll make sure this is part of the documentation once there is some...

[2020-05-22 14:31] mark-petersen commented on #557
@vanroekel I'm working on this. I can get a bfb match on runs when I replace
[code]
with
[code]
as expected. I wanted to double check with you on the rich/PP. To replace:
[code]
I'm guessing I use these:
[code]
Does that look right? I need the background on, and also shear, use PP and leave alpha and exp as the default?

I also want to change the current namelist default
[code]
to true in the Regi

[2020-05-23 03:58] vanroekel commented on #557
Yes, the settings for PP should be right for reproducing what was in vmix_rich.  For constant you may want to turn on background diffusivity as well
[code]

[2020-05-26 15:26] mgduda commented on #551
@xylar Aside from differences in how these two attributes are used to set the initial value of a field after it has been allocated, that's correct: the `missing_value` attribute is added as a netCDF variable attribute, while the `default_value` attribute is not.

[2020-05-26 19:23] pwolfram commented on #500
@philipwjones, am I understanding that the key thing here is to have a clean crash as opposed to a hang when building automatically to prevent issues with needing a password, etc?  This would be for testing, production systems, etc.

If there isn't a clean way too work around this in software, which isn't currently obvious to me if it exists, I can just close the issue.

[2020-05-26 19:42] philipwjones commented on #500
@pwolfram Yes, that's correct. Even if there's away for it to time out and bail, that would be preferable to an indefinite hang. I'm still open to solutions to make this work, but I don't currently have any good ideas either.

[2020-05-26 19:43] philipwjones commented on #500
And we shouldn't forget your other point - we need to add the right info to gitignore for cvmix. Still reporting as untracked...

[2020-05-26 20:02] pwolfram commented on #500
Solution is `git config submodule.src/core_ocean/cvmix.ignore untracked` @philipwjones .  This modifies `.git/config` to

[code]

but, it seems like this is a local setting for a single repo.  No clear `.gitignore` type solution from my query: https://stackoverflow.com/questions/7912022/do-you-ignore-a-git-submodule-in-your-gitignore-or-commit-it-to-your-repo

[2020-05-26 20:05] pwolfram commented on #500
@jonbob and @maltrud, the same issue isn't showing up for the BGC repo.  Do you recall how you got the "untracked" `git status` result for it turned off for that repo?  There is no `ignore = untracked` in the `.git/config` file, which makes this even more confusing.

[2020-05-26 20:32] jonbob commented on #500
@pwolfram - I don't remember anything different being done for the BGC repo, but @mark-petersen made that commit. You can check the original PR -- [#3507](https://github.com/E3SM-Project/E3SM/pull/3507). Maybe it's just because cvmix is first and the untracked error gets tripped and it doesn't look for the second occurrence? Just a guess....

[2020-05-28 14:36] pwolfram opened #576 "Output from MPAS-O unreadable for large 1.8M cell mesh"
Output from initialization step for 1.8M cell mesh appears to produce an incompatible netcdf file:

[code]

This issue is typically alleviated by setting netcdf file type to be `NETCDF3_64BIT_OFFSET`, which is used for python preprocessing inputs into MPAS-O.

It is strange there is this error with MPAS-O output.  This precludes use of python-based netcdf tools with the produced MPAS-O output file

[2020-05-28 14:37] pwolfram commented on #576
Thanks to @xylar for some preliminary discussions-- cc'ing @maltrud, @jonbob and @vanroekel in case you've seen this issue with large simulations in the past.

[2020-05-28 14:43] pwolfram commented on #576
Stack is intel/17.0.1 openmpi/1.10.5 netcdf/4.4.1 parallel-netcdf/1.5.0 pio/1.7.2

Following discussion with @vanroekel:

 * there may be a bug in parallel-netcdf/1.5.0
 * option to try may be to set `io_type=pnetcdf,cdf5` in streams

[2020-05-28 14:53] vanroekel commented on #576
to follow up, there is definitely a bug in pnetcdf/1.5.0, it allows violation of the netcdf classic size constraint but then leads to corrupt netcdf files.  The files can be read, but only with pnetcdf/1.5.0 and read time is significantly slower

[2020-05-28 20:36] pwolfram commented on #576
This means all our standard python tools won't work with the produced files, not to mention it is not performant either.

[2020-05-29 07:59] xylar commented on #576
@pwolfram, is the simplest solution perhaps get someone to build the latest pnetcdf (1.12.1) on LANL IC?  1.5.0 is from July 8, 2014, so just a tad out of date...

[2020-05-29 08:00] xylar commented on #576
To be clear, I'm not volunteering to take over this job because I feel I do enough "sysadmin/tech support" type work for the group as it is.

[2020-05-29 14:58] jonbob commented on #576
@xylar and @pwolfram - if it really is just a question of pnetcdf version, @stephenprice and I have been working with IC to provide module support we need, including pnetcdf. They have added what we need to their spack setup, so we're hoping this support will become more automatic from this point forward. I have a PR that should go on master today that updates grizzly and badger machine files and

[2020-05-29 15:00] stephenprice commented on #576
Jon and I have been working with LANL HPC to update our library support there. If you take a look at the latest machine files for Grizzly (@jonbob can you point to that PR / branch if it has not yet been merged?) you can see what's now available. W.r.t. this thread, there's pnetcdf 1.11.2 working there now (for both Griz and Badger).

[2020-05-29 15:02] xylar commented on #576
Jinx!

[2020-05-29 15:04] stephenprice commented on #576
He beat me by a minute ...

[2020-05-29 15:06] jonbob commented on #576
Ha!

[2020-05-29 15:10] xylar commented on #576
@pwolfram, can you retry with the modules in: https://github.com/E3SM-Project/E3SM/pull/3554/files
[code]

That file also lists:
[code]
@jonbob, would those also be needed?

Also, E3SM builds PIO whereas MPAS-Ocean doesn't.  Is there a module for that?

[2020-05-29 15:13] pwolfram commented on #576
I spent a chunk of yesterday using this stack (thanks to @vanroekel !) to build PIO but wasn't able to get it to work.  Could be doing something slightly wrong, and tried with and without compass environment loaded because sometimes that can cause issues.  Errors I got were like this and occurred on linking:

[code]

Environment used is : `module load intel/19.0.4 openmpi/2.1.2 hdf5-parallel/1.8.1

[2020-05-29 15:14] jonbob commented on #576
@xylar - yes, you would need the "friendly-testing" module, since it gives access to the other new ones. mkl is necessary to compile E3SM, but I don't know about MPAS-Ocean. As for PIO, we did not add a module for that.

[2020-05-29 15:15] jonbob commented on #576
@pwolfram - you should be able to build a test case using E3SM next, which has this PR already merged, and just point at that version of PIO

[2020-05-29 15:16] pwolfram commented on #576
Command to build PIO, for the record, was

[code]

[2020-05-29 15:18] pwolfram commented on #576
I put this into the `module pio/2.5.0` and then set up environment with
[code]

However, MPAS-O did not build using `make ifort CORE=ocean DEBUG=false AUTOCLEAN=true` and failed on the PIO testing step.

[2020-05-29 15:20] pwolfram commented on #576
@jonbob, how should PIO get built?  Can you please send along a link to your PR as @stephenprice mentions?

[2020-05-29 15:25] xylar commented on #576
@pwolfram, I linked to the PR already above.

[2020-05-29 15:26] pwolfram commented on #576
Thanks @xylar, got it!  Will try again from there.

[2020-05-29 15:27] xylar commented on #576
@pwolfram but @jonbob was suggesting you use the E3SM/next branch.

If you build a test case (any test case) in E3SM, it will build PIO as part of building E3SM.  Then, you can just figure out where and copy that over.

[2020-05-29 15:27] jonbob commented on #576
@pwolfram - ideally you'd be building E3SM instead of a standalone model, and then it would magically happen! I don't know about building it on its own -- I never do much outside the system itself

[2020-05-29 15:27] jonbob commented on #576
And it is on master now...

[2020-05-29 15:29] xylar commented on #576
Hmm, clearly definitions of "ideally" can differ ;-)

[2020-05-29 15:34] jonbob commented on #576
Ha! Yes, ideally if only for one workflow!

[2020-05-29 15:38] pwolfram commented on #576
Is there an easy way to know which version of PIO is being used for E3SM @jonbob?

[2020-05-29 15:39] philipwjones commented on #576
E3SM uses SCORPIO - https://github.com/E3SM-Project/scorpio
and you should build that version.

[2020-05-29 15:42] pwolfram commented on #576
@philipwjones and @jonbob, do you recommend I build with E3SM and then copy over lib / include into a module file?

I'm assuming the latest version of scorpio is the one to use or should I use a release version like `scorpio-v1.1.0`?

[2020-05-29 15:46] philipwjones commented on #576
I'm guessing a tagged release is safer.  FYI, I've built successfully on summit starting with a pretty basic CMake like (obviously change the target install paths):

CC=mpicc FC=mpif90 cmake -DCMAKE_INSTALL_PREFIX=~/summitlibs/pio -DPIO_ENABLE_TIMING=OFF -
DNetCDF_Fortran_PATH=${OLCF_NETCDF_FORTRAN_ROOT} ~/summitlibs/pio

[2020-05-30 08:21] xylar opened #581 "COMPASS: User specified number of cores for a test case"
We are starting to add various steps to COMPASS ocean test cases (other than calls to `ocean_model`) that require multiple cores (multiple MPI tasks).

At the same time, work is in progress to run test cases from regression suites in parallel, and this requires accurate knowledge of how many cores a given test case needs, which is currently based only on calls to the model, not on other steps.

Cu

[2020-05-30 08:22] xylar commented on #581
@matthewhoffman, @mark-petersen, @vanroekel, @pwolfram, I'd appreciate hearing your thoughts.

[2020-05-30 08:27] xylar commented on #581
One thought I have is adding a python config file at the level of the test case (e.g. `ocean/global_ocean/QU240/init`) as opposed to the level of the individual steps (e.g. `ocean/global_ocean/QU240/init/e3sm_coupling`).  This config file would be passed to the scripts for each step's `run.py` and would be used to substitute placeholders in the python script that would come from the `config_*.xml`

[2020-05-31 17:38] xylar commented on #549
As a starting point, I added CIME's Earth radius to MPAS-Tools: https://github.com/MPAS-Dev/MPAS-Tools/pull/315

[2020-05-31 17:42] xylar commented on #549
In draft PRs I'm still working, I'm then using this new constant for mesh creation in ocean COMPASS test cases.  Here are a few examples of where it is used:
https://github.com/MPAS-Dev/MPAS-Tools/pull/314/files#diff-a3d53cac6a453686ae6667f0ee3371f8R61
https://github.com/MPAS-Dev/MPAS-Model/pull/577/files#diff-65f1c5f8084ddcbdc3c12bcf37fccfd7R37
https://github.com/MPAS-Dev/MPAS-Model/pull/577/file

[2020-06-01 00:43] pwolfram commented on #576
@mark-petersen or @xylar, can you please confirm this works for you for a build?

You can set up the environment with
[code]
I would plan to make this more robust if indeed I can get MPAS-O to work correctly, but have not done this now while in debugging.

The `io_type=pnetcdf,cdf5` option did not work with this build, and is needed for the large ocean.nc stream  and appears to be giving lustre li

[2020-06-01 09:00] xylar commented on #576
@pwolfram, I build with your configuration and ran the QU240 test case.  (I didn't build in DEBUG mode, which it looks like you did.)  I get the follow error in the log file with the default setup of `initial_state`:
[code]

I don't have any experience building PIO2 or `scorpio` so I don't think I can be of much help on this one.  But I'm happy to do some testing once you have something you think

[2020-06-01 18:03] pwolfram commented on #576
@xylar, it is this one `compass/ocean/global_ocean/QU240/init/`, right?  I'm getting the same error as at high-resolution for this case, which appears to be failing in the lustre library calls.  This is for `debug=true`:

[code]

This is for `debug=false` gives a similar error...

[code]

[2020-06-01 18:05] pwolfram commented on #576
@philipwjones, did you or your team see any `ADIOI_LUSTRE` similar errors in your work?  Is it worth posting this issue to the scorpio issue tracker?

[2020-06-01 18:14] philipwjones commented on #576
No, we don't typically use the LANL clusters and most of our performance work is with I/O turned off, unless we're doing specific I/O testing. Feel free to report but I know some of their issues on other machines have been related to trying to link to older netcdf/pnetcdf libs. Not sure what the version compatibility is.

[2020-06-01 18:37] matthewhoffman commented on #581
I wonder if it would be worth investigating some of the task-parallelism approached that are out there.  I worry this level of complexity is pushing up against the limitations of the handwritten COMPASS system we have.  I forget the name of the task-based framework that @philipwjones has been working with, but I also came across this, which is python based, developed in part at Argonne, and uses C

[2020-06-01 18:54] xylar commented on #581
@matthewhoffman, I have discussed parsl with @vanroekel and @jamilgafur.  I don't think parsl would supersede the need for some way to know how many cores a given test case needs and having an easy way to modify this.  But I do fully agree that it would be a good option for parallelizing COMPASS.  It's kind of overkill for the relatively simple case we have, and ultimately it's @vanroekel and @jam

[2020-06-01 19:13] philipwjones commented on #581
The task-parallel framework we're using in CANGA is FleCSI (C++) and probably a little heavyweight for what you're doing here.

FWIW, I have worked with Henry to put together the capability for calling Metis internally as a library on startup rather than requiring a specific part.NN files for each task count in the ocean_model runs.  That would let ocean_model partition itself at runtime by only r

[2020-06-01 19:26] xylar commented on #581
Yes, that's not my focus here but that is, indeed, an interesting idea!

[2020-06-02 03:02] pwolfram commented on #576
@xylar, quick note, if you `ldd ocean_model`, is the correct version of NETCDF being pointed to in the executable?  I found this as an error this evening and note there was a typo for the previous module load (updated below):

[code]

where the library for netcdf is actually in `lib64`, not `lib`, which means it was pointing to the system version.  This didn't fix the problem, however, which best

[2020-06-02 09:14] xylar opened #585 "COMPASS: rename e3sm_coupling and move it to be its own test"
I would like to move the `e3sm_coupling` step to be its own "test" (at the same level as `init` and `spin_up`) in each `global_ocean` test case.

My reasoning for renaming is that we want to make clear that, once this code is more robust, it will generate an E3SM ocean (and possibly sea-ice, though that can be part of this discussion) initial condition.  I don't have a great suggestion for the new

[2020-06-02 09:16] xylar commented on #585
As part of this work, I would take out the steps that involve other E3SM components (e.g. generating mapping files to atmosphere and land grids).  This work will need to move to a different set of scripts, a different repo, and a different set of tools that is still in the planning stage.

[2020-06-02 09:16] xylar commented on #585
@jonbob, @vanroekel, @maltrud and @mark-petersen, I'd appreciate your thoughts before I start on this.

[2020-06-02 09:53] wkliao commented on #576
[code]
This error message is likely caused by a bug that has already been fixed in MPICH 3.3's ROMIO but OpenMPI's ROMIO has not caught up with it. See an issue created by @dqwu in MPICH repo.

[2020-06-02 12:45] mark-petersen commented on #585
Yes, I agree that moving `e3sm_coupling` to a step after `spin_up` and at the same level, as it's own test case, makes more sense than where it is hidden now. Thanks for thinking of it.

I don't think we should remove mapping file capability until it is available and tested in another process.

I think it still makes sense to create the sea ice initial condition here in COMPASS, since the sea ice

[2020-06-02 12:52] xylar commented on #585
Could you elaborate on why you think these make more sense in COMPASS than in a repo under E3SM-Project?  It seems to me that this would be equally convenient to do in the "other" system.  And given that MPAS-Seaice has opted out of COMPASS, it seems like its initialization shouldn't be tied to COMPASS if there is an alternative.  But I'm open to understanding why it's easier to keep it here.

I'm

[2020-06-02 14:59] jonbob commented on #585
@xylar - I agree with your proposed changes. I think the renaming is consistent with ongoing work in other parts of the system, as is removing the steps that involve other E3SM components. Please let me know if I can help in any way.

[2020-06-02 15:29] pwolfram commented on #576
@xylar, can you please try using

[code]

where you'll have to ensure the correct netcdf library version is being obtained (in `lib64` not `lib`) as well as using all intel compilers (add to your Makefile).  See gist at https://gist.github.com/2537e6a32a8fe4d85e32e8af76a0c898 for modified Makefile.  I've been double-checking to make sure dynamic linking is correct via `ldd ocean_model` too.

So fa

[2020-06-02 15:30] philipwjones commented on #576
Looks like you already have a handle, but just to answer the question above - yes, scorpio uses pio2 interfaces. I'd be strongly in favor of removing that flag from the build, or if we can't remove, at least make pio2 interfaces the default.

[2020-06-02 15:31] pwolfram commented on #576
I would support this decision given my experiences this last week @philipwjones !

[2020-06-02 15:57] xylar commented on #576
@pwolfram, do you have a good plan for fixing this in a permanent way?  Constantly editing the Makefile is obviously not a great option.  Is it time to get cmake working? ;-)

[2020-06-02 15:57] xylar commented on #576
I'll test as soon as I have a chance but probably not today.

[2020-06-02 16:30] pwolfram commented on #576
@xylar, @mark-petersen already took some steps in this direction with `src/core_ocean/ocean.cmake`. I agree, our software stack / build capability isn't that robust right now but this is probably best served by a broader discussion, which could occur here (or somewhere else).

[2020-06-02 16:42] pwolfram commented on #576
This now works with `io_type=pnetcdf,cdf5` for large datasets and a PIO error message is reported indicating that variable sizes are larger than accommodated by the present `io_type`.

[2020-06-02 19:29] xylar commented on #585
As part of this work, I will add `hostname` to the metadata as requested by @milenaveneziani: https://github.com/MPAS-Dev/MPAS-Model/pull/584#issuecomment-637667560

I will remove the runoff metadata from COMPASS because we have decided that will be handled in the new repo in E3SM-Project, so we won't necessarily even know the approach at the COMPASS stage.

[2020-06-02 20:17] mark-petersen commented on #585
@xylar after some thought I can see the advantages of `e3sm_ocean_init` to clearly label and partition the ocean part of this process. Please proceed, as you proposed in the top description.

[2020-06-02 21:32] pwolfram commented on #576
I'm storing up to date instructions at https://acme-climate.atlassian.net/wiki/spaces/ECG/pages/1054113803/MPAS-Ocean+Initialization+and+Testing

[2020-06-02 21:58] vanroekel commented on #585
@xylar I think these are good changes and in line with what we are slowly working toward elsewhere.  I also agree we go with e3sm_ocean_init

[2020-06-03 19:31] pwolfram commented on #500
Hi Everyone, Please see PR #591 -- We can use a timeout and two separate checks to help facilitate this process . The intention is #591 will close this issue.

[2020-06-05 18:09] philipwjones opened #597 "local ocean allocatable arrays are wrong size"
In some of the recently introduced ocean changes, local allocatable arrays were only allocated up to nCellsAll (formerly nCellsSolve). However, adjacency indices in cellsOnCell, etc. use nCellsAll+1 for non-existent neighbors. This results in out-of-bounds indexing and these arrays need to be resized.

So far, this is seen in the new ocean mesh module and the ocn_tracer_advection_mono module.

[2020-06-19 02:59] pwolfram commented on #576
Closed by #592

[2020-06-19 02:59] #576 closed

[2020-06-23 15:44] cponder opened #609 "Print & write statements in PIO lib don't produce output"
I'm trying to debug an issue where MPAS-A dies inside the UCX communication.
I've been able to insert debug statements into the MPAS-A source using the convention
[code]
Going down into the PIO calls, though, none of these write statements are producing any output:
[code]
I suspect that MPAS is re-mapping these output channels so the strings don't go anywhere.
Can you tell me what output units wou

[2020-06-23 15:48] cponder commented on #609
I tried posting with the MPAS-A developers forum
[](https://forum.mmm.ucar.edu/phpBB3/viewtopic.php?f=64&t=9280&p=17353#p17353)
but haven't gotten any response from there.

[2020-06-23 16:22] mgduda commented on #609
I did post a [response](https://forum.mmm.ucar.edu/phpBB3/viewtopic.php?f=64&t=9280) in the forum yesterday. It's possible the forum didn't send you a reply notification, or if it did, the notification may have ended up in your spam folder. Since this isn't an issue with the MPAS-Model code itself, I'd suggest we discuss on the forum.

[2020-06-23 16:22] #609 closed

[2020-06-29 22:00] pwolfram commented on #500
I think this mostly was an irritant to me, so I'll close for now.

[2020-06-29 22:00] #500 closed

[2020-07-03 22:44] pwolfram opened #625 "Synthetic hurricane model bug"
Use of the `testing_and_setup/compass/ocean/hurricane_wind_pressure/main.py` file produces a faulty last time step for `testing_and_setup/compass/ocean/hurricane/synthetic_hurricanes/SANDY_017771.json` synthetic hurricane using input file `hurricane_inputs.txt`:
[code]

where `output.nc` has the faulty field that is not define for the last time step, resulting in spurious large number in MPAS-O:
[

[2020-07-03 22:44] pwolfram commented on #625
Bug found in https://github.com/MPAS-Dev/MPAS-Model/pull/624

[2020-08-07 14:34] sbrus89 commented on #625
FIxed by #626

[2020-08-07 14:35] #625 closed

[2020-08-07 16:49] sbrus89 opened #648 "Zero bottom drag values in hurricane cases"
In init mode, the manning's n coefficients are specified based on depth thresholds. In the code that assigns these values, the endpoints of the thresholds are not included. This allows the bottom drag values for some cells to go unassigned.

[2020-08-07 16:52] sbrus89 commented on #648
https://github.com/MPAS-Dev/MPAS-Model/blob/220fde40cdcd4bfd7f579ab49175928abc7c8901/src/core_ocean/mode_init/mpas_ocn_init_hurricane.F#L361-L377

[2020-08-07 16:52] sbrus89 commented on #648
![zero_bottomDrag](https://user-images.githubusercontent.com/3514023/89669113-1bbb9f00-d89c-11ea-8d74-0779966e5b43.png)

[2020-08-07 17:53] sbrus89 opened #649 "Account for vertical layers in domain decomposition"
This is just something I was thinking about and was wondering if anyone in the group had thoughts...

It seems to me that there will be a load imbalance caused by our domain decomposition not accounting for the fact that open-ocean cells with more vertical layers have more work associated with them than cells in shallow regions with fewer vertical layers. This issue will probably get worse as we b

[2020-08-08 11:33] xylar commented on #649
@sbrus89, I have a vague memory that this was discussed earlier in the project and possibly also tried.  I'm not sure what the results suggested and why we didn't go that route.  I'm keen to see what @mark-petersen and @philipwjones remember of that.

[2020-08-08 15:12] philipwjones commented on #649
@sbrus89 and @xylar My recollection (and it could be faulty) was that we did try this, since it should be an obvious win, and we could see gains in some configurations, but the gains were limited by several other things. First, at the limits of strong scaling where the production runs typically occur, the Metis partitioning starts to lead to irregular domains with worse connectivity so the load-ba

[2020-08-17 20:22] mark-petersen commented on #649
@sbrus89 we had a summer student try this two years ago, Divya Jaganathan. Here is her poster:
https://drive.google.com/file/d/1nTcbrnE9sBGE9I5oKnFGRnyyiZm44jQB/view?usp=sharing
The take-home is that it made very little difference:
![image](https://user-images.githubusercontent.com/4036816/90440438-76bb7600-e094-11ea-903e-e92d0979a472.png)
Here X=0 (red) is equal MPAS partitions of 2D cells, as is

[2020-08-17 20:57] philipwjones commented on #649
I can't remember - did Divya add a barrier before the barotropic solver timer?  Often the wait time from load imbalance shows up in the barotropic timer. And the barotropic is where you'd see a negative impact from more irregular subdomains. As I said above, it could be a nice feature to play with. But also agree that it's probably not the highest priority at the moment and not a clear win in any

[2020-08-21 12:56] xylar opened #658 "QU240wISC test broken"
The QU240wISC test case no longer works on the latest `ocean/develop` (1550912b1).

On Grizzly, I built using the following setup:
[code]

I did a `make clean` and `make ifort` (as usual).

When I run the `initial_state` step of the test case, I see:
[code]

[2020-08-24 02:56] mark-petersen commented on #658
This is now fixed by #659

[2020-08-24 02:56] #658 closed

[2020-08-24 09:44] xylar opened #663 "plot_initial_state.py is taking forever and running out of memory"
Even for meshes that aren't particularly large by our standards (e.g. EC30to60), `plot_initial_state.py` is taking a very long time to run and is running out of memory:
[code]

[2020-08-24 09:55] xylar commented on #663
@mark-petersen, could you get the script working on the COMPASS mesh with the most cells (not sure which this is off the top of my head) on a Grizzly compute node?  Until then, I'm going to have to disable it in my testing.

[2020-08-25 12:50] mark-petersen opened #665 "Add variables to MPAS_Stream_type for CF-compliance"
I would like to propose that we add variables to the `MPAS_Stream_type` so that the time can be CF-compliant. The specific problem is that a variable `time_bnds` is required that defines the start and end time points of each measurement (see [CF-compliant requirements](https://daac.ornl.gov/submit/netcdfrequirements/)), but we write multiple output files with different time bounds, so we can not j

[2020-08-25 13:50] xylar commented on #665
I think `Time` would also be needed, since this could be different for different streams.

[2020-08-25 13:51] xylar commented on #665
@mark-petersen, I renamed `time_bnds` to `Time_bnds` everywhere, just FYI.

[2020-08-25 20:43] mark-petersen commented on #665
@mgduda my main question for you is if it sounds acceptable to add the new flag to a stream header,
[code]
where the second option will add the output for these CF-Compliant variables. If so, I will proceed with the project.  We can discuss more details in the actual PR, when we can see the code and example output.

[2020-08-28 21:55] philipwjones opened #674 "bad continuation character in ocn init tidal boundary"
The file ocn_init_tidal_boundary.F contains a line that erroneously uses a backslash instead of an ampersand as a continuation character. This prevents compilation for any build of init modes.

[2020-08-31 17:24] mattdturner opened #678 "Bad `bottomDepth` data in initial_state.nc for EC60to30 on Cori"
When attempting to run the EC60to30 test via COMPASS, there appears to be incorrect data being written to the `initial_state.nc` file on Cori (process described below).  When running the same process on Grizzly, the inputs look correct.

On Cori, the following steps were taken to generate the `initial_state.nc` file:
Currently loaded conda env: `compass_0.1.9         *  /global/cfs/cdirs/e3sm/soft

[2020-08-31 17:30] mattdturner commented on #678
I ran the same thing on Grizzly, and got the following `initial_state.png` figure:
![initial_state](https://user-images.githubusercontent.com/8278916/91748500-4e944280-eb7d-11ea-8671-7b0c382f9897.png)

So the issue appears to be Cori-specific.

[2020-08-31 17:41] xylar commented on #678
Thanks @mattdturner.  It looks from your ParaView plot as if the bathymetery data is getting read with the wrong stride or something.  I'll try to figure it out.

We don't run COMPASS on Cori that often because of the long queue times so it hasn't got as much testing as other systems.

Just as a sanity check, did you load your modules and then load the `compass_0.1.9` environment or the other way

[2020-08-31 17:48] mattdturner commented on #678
My modules are loaded in the following order:
[code]

I can re-run after loading compass first, and report back.

[2020-08-31 17:54] xylar commented on #678
Yes, please do that.  I don't know if it will make a difference but it would at least be safer in that order.

[2020-08-31 18:54] mattdturner commented on #678
After loading the compass environment first, I still get the same histograms as listed in the initial comment.

[2020-08-31 19:30] xylar commented on #678
Okay, thanks for ruling that out.  I'll take a look tomorrow.

[2020-09-01 10:45] xylar commented on #678
@mattdturner, could you share your config file for COMPASS?  Specifically, I'd like so see where your initial conditions are being stored.  I suspect that one possibility is that the topography file is corrupted and needs to be deleted and downloaded again.  One way to tell is that the file date should be 25 Jan 2020 but if the file didn't download correctly, it may have the date that it was (part

[2020-09-01 10:52] xylar commented on #678
Ah, I see that we do have such a location already:
[code]
but it looks like the data there is pretty incomplete and should be copied wholesale from LCRC.

It does look like the topography file is incomplete and corrupt.  Here's what I see when I download it to my own directory:
[code]
Here's what I see in the shared location:
[code]

[2020-09-01 10:58] xylar commented on #678
I am re-downloading all the data from `mpas_standalonedata` right now.  I will update when that's done.  I moved the previous `mpas_standalonedata` directory to `old_mpas_standalonedata` and will ask to have it removed by an E3SM admin once the new data is in place.

[2020-09-01 11:14] xylar commented on #663
closed by #664

[2020-09-01 11:14] #663 closed

[2020-09-01 11:15] xylar commented on #665
@mark-petersen and @mgduda, maybe this is worthy of a quick Developer's telecon, maybe next Monday?

[2020-09-01 12:47] xylar commented on #678
Here's the result of my test on Cori with my own version of the input data:
![initial_state](https://user-images.githubusercontent.com/4179064/91853076-f8e59600-ec61-11ea-9d32-882fffeb8824.png)
It seems to match the Grizzly results so I think the bad bathymetry file is the only problem.

[2020-09-01 14:14] mattdturner commented on #678
Thanks @xylar for taking care of this so quickly.  It looks like the bad topography file was probably the culprit.

[2020-09-01 15:30] mattdturner commented on #678
Using the updated bathymetry file, I was able to replicate the same `initial_state.png` file that you produced, which matches what I saw on Grizzly.  So I think this issue can be marked as resolved.

[2020-09-02 06:35] xylar commented on #678
Great, I’ll go ahead and close this. Down the road, it would be great to improve COMPASS so it checks to make sure download files are complete but that’s kind of a project.

[2020-09-02 06:35] #678 closed

[2020-09-02 17:47] xylar opened #682 "Move COMPASS to its own repo?"
I want to socialize the idea of spinning off COMPASS into its own repository.  I have a proof of concept here:
https://github.com/xylar/compass
My idea would be that changes to COMPASS test cases (as opposed to init mode in MPAS cores) would only happen here.  This would alleviate the need for PRs into ocean/develop (ocean/coastal while it exists) and landice/develop just for changes to test cases

[2020-09-02 18:38] matthewhoffman commented on #682
@xylar , I can see why such a split could be advantageous.  I'm a little concerned about ensuring the compatibility between COMPASS and MPAS - the whole reason we put COMPASS into the MPAS repo in the first place was due to regular problems with inconsistencies between tests and code (as you probably remember).    What you propose for that seems workable but I would need to understand it better to

[2020-09-02 19:00] xylar commented on #682
This could work.  But I think updating the COMPASS submodule would still incur the same problems with PRs into `*/develop` and E3SM on a frequent basis

I hadn't considered that option.  At first, I thought this would make sense but I think the reality would be that we would have to update the git submodule almost constantly, making it impractical. And it wouldn't allow a single COMPASS state to w

[2020-09-02 19:15] xylar commented on #682
I haven't fleshed it out but my proposed solution would be:
1. add a `compass_version` file to `src/core_ocean` and `src/core_landice`, initially containing `1.0.*`, indicating that it works with any version of COMPASS that starts with `1.0`.
2. add a check to the beginning of `setup_testcase.py` and `manage_regression_suite.py` that does the same thing as my example `check_compass_version.py`.  I

[2020-09-02 20:10] matthewhoffman commented on #682
I'd like to explore the idea of MPAS-Model as a submodule to COMPASS a bit more.  I'm not sure if it makes sense, but I want to think about it a bit further.

It is possible to have multiple submodules pointing to different branches (e.g. ocean/develop and landice/develop) of the same repo like this:
[code]

This would be simpler to maintain.  The downside is that the MPAS code would not have an i

[2020-09-02 23:09] xylar commented on #682
I see. multiple submodules could work.

How would you get around the need to update the submodule almost every time there is a PR into ocean/develop or landice/develop? Or would that be the cost of this approach?

[2020-09-03 07:21] xylar commented on #682
It looks like updating the submodules to the latest is quick:
[code]
presumably followed by a commit.  So this would be a little bit tedious but not difficult.

I'm happy to add two submodules to my mock-up repo and we can see what that would be like.

[2020-09-03 07:25] xylar commented on #682
Maybe a way forward would be for me to try to keep my mock-up repo synced up with the current COMPASS for a bit and see how that goes.  If the submodule approach feels feasible, we can go that way because it certainly provides the tightest pinning of MPAS-Model to a given COMPASS version.  I'll also increment the mock-up's version following the strategy I'm proposing for major, minor and micro ver

[2020-09-03 10:00] xylar commented on #682
I added submodules in directories `MPAS-Model/ocean/develop` and `MPAS-Model/landice/develop` in my mock-up repo:
https://github.com/xylar/compass
It requires a conceptual flip in how I do my typical development.  With this new approach, I would work in my local checkout of `compass` when I want to do `MPAS-Model` development.  If I just want to make changes to `MPAS-Model/ocean/develop`, I can wo

[2020-09-04 05:52] xylar commented on #549
I believe this has been fully addressed via https://github.com/MPAS-Dev/MPAS-Tools/pull/341 and https://github.com/MPAS-Dev/MPAS-Model/pull/680

[2020-09-04 05:53] xylar commented on #549
I take that back.  It has yet to be addressed in MPAS-Ocean init or forward mode.  @mark-petersen, is that something you can look into?

[2020-09-04 11:34] mark-petersen commented on #549
Yes, I'll look at it.

[2020-09-04 15:53] mark-petersen opened #685 "runtime error in ALE routine with gnu 6.4.0 debug during EC60to30 spinup"
This error occurs only with `gcc/6.4.0` with debug, not intel or `gcc/5.3.0`, and during EC60to30 `prep_spinup1`. It does not occur in the nightly regression suite.

This is an error in the first timestep.  Stack trace:
[code]

[2020-09-04 15:59] philipwjones opened #686 "IEEE inexact and underflow messages in ocean"
In a QU240 test case on Summit, ieee inexact and underflow errors are reported with both PGI and XLF compilers. While we do not trap these conditions (even in debug mode) and the simulation completes successfully, it's probably worth fixing.

[2020-09-04 17:31] vanroekel commented on #685
Thanks for tracking this down @mark-petersen!  In the meantime, I'll update my modules on grizzly to avoid this.

[2020-09-04 17:58] xylar commented on #686
I've been seeing these on Gnu under Ubuntu 18.04.5 on my laptop as well.

[2020-09-08 19:55] mgduda commented on #665
@mark-petersen My first thought is that the `MPAS_Stream_type` (used by the `mpas_io_streams` module) isn't quite the right place to handle this. My counter-proposal would be to handle this at the `mpas_stream_manager` level, which has more information about, e.g., the times at which streams are written. Regardless of where this is handled, how would the stream determine whether fields represented

[2020-09-09 03:04] mark-petersen commented on #674
Fixed by #675

[2020-09-09 03:04] #674 closed

[2020-09-10 22:05] mark-petersen opened #692 "Remove branch within cell loop in buoyancy forcing"
We added an `if` statement within a cell loop for short-term backwards compatibility. This is a reminder to remove it. See https://github.com/MPAS-Dev/MPAS-Model/pull/690#discussion_r486657313

[2020-09-14 18:14] mark-petersen commented on #682
@xylar and @matthewhoffman thanks for your work on this, and sorry for the delay.

I just made a clone of https://github.com/xylar/compass and ran the MPAS-O nightly test suite and some individual cases successfully.

I think this is an excellent simplification of our workflow - in particular to remove timing requirements for E3SM PRs. I like having COMPASS on the outside and MPAS within, and I li

[2020-09-15 12:37] zhangjiang-dev opened #695 "An error occurred when building the MPAS."
when i use ‘make gfortran CORE=ocean’ this command to build mpas，but the program occurred an error，as follows.
the directory of pio installation is '/usr/local/lib,/usr/local/include',How should I specify the environment variable of pio?
thanks ！

Checking for a usable PIO library...
************ ERROR ************
Failed to compile a PIO test program
Please ensure the PIO environment variable is

[2020-09-15 14:51] xylar commented on #695
@zhangjiang-dev, we would need to know considerably more about where you're trying to build the model to be very helpful in responding to your question.  As a starting point, though, I'm providing a PDF of the instructions we share with one another internally in the group to get MPAS-Ocean building on various systems we use.

Please see how far you can get with those suggestions.  If you are still

[2020-09-15 15:17] xylar commented on #682
Thanks very much for the comments, @mark-petersen.  At this point, I think we will need to wait to do something this potentially disruptive until after the v2 code freeze (so just 2 weeks).  I have a system for cherry-picking commits from MPAS-Model (both ocean/develop and landice/develop) onto my test repo.  So it isn't a huge problem if we keep making changes to COMPASS in MPAS-Model even if we

[2020-09-15 15:28] philipwjones commented on #695
@zhangjiang-dev It's probably as easy as setting the PIO environment variable in your case to /usr/local
But please do read the doc Xylar sent too. That should help alleviate potential future issues.

[2020-09-16 08:42] zhangjiang-dev commented on #695
Thank you for the documentation！But it didn't solve my problem.
Before building mpas-ocean，If my pio installation path is /home/hpc/pio，How should I specify the pio environment variable?
Importantly, what is the name of the pio environment variable?
The environment variable solves, so my problem solves.
By the way, can you provide a copy of the installation documents and materials about mpas - oce

[2020-09-16 09:38] zhangjiang-dev commented on #695
I set the PIO environment variables as follows:
export PIO=/home/hpc/pio
But it still reports the following error：
make[1]: Entering directory `/opt/mpas/MPAS-Model-master'
Checking for a usable PIO library...
************ ERROR ************
Failed to compile a PIO test program
Please ensure the PIO environment variable is set to the PIO installation directory
************ ERROR ************

[2020-09-16 21:08] philipwjones commented on #695
Looks correct, assuming the pio installation is good. As Xylar says, to go any further, we need a lot more info about where you're running, what compilers you're using, what projects you're working on, etc...

[2020-09-16 22:55] mark-petersen commented on #685
closed by #676 .

[2020-09-16 23:00] mark-petersen commented on #597
I read that `fixes XXX` in the commit message only closes an issue once it gets to master. So we will need to close these by hand when merging to `ocean/develop`.

Fixed by #598.

[2020-09-16 23:00] #597 closed

[2020-09-16 23:03] mark-petersen commented on #557
Fixed by #569.

[2020-09-16 23:03] #557 closed

[2020-09-16 23:08] mark-petersen commented on #434
This issue is old. A lot of tapering work has been done on Redi this year, so comment no longer applies.

[2020-09-16 23:08] #434 closed

[2020-09-16 23:10] mark-petersen commented on #488
Fixed by #494.

[2020-09-16 23:10] #488 closed

[2020-09-16 23:19] mark-petersen commented on #534
That one was added by mistake. This one is used and correct:
[code]
I'll remove that other one when I get a chance.

[2020-09-16 23:28] mark-petersen commented on #525
This now applies to `WC12` and `WC14`. I double checked, and in both the run duration is divisible by the restart frequency. For example, here
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/WC14/spin_up/config_test_final_settings.xml#L14
and here
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_

[2020-09-16 23:28] #525 closed

[2020-09-16 23:30] mark-petersen commented on #481
Fixed by #578.

[2020-09-16 23:30] #481 closed

[2020-09-16 23:42] mark-petersen commented on #685
Whoops, spoke too fast. This is not fixed yet, but is the same issue as here:
https://github.com/E3SM-Project/E3SM/issues/3826
@mattdturner found a few corrections to private variables and halo sizes and will make a PR soon.

[2020-09-17 03:53] zhangjiang-dev commented on #695
Before building mpas_ocean，i have installed the following dependency packages:
gcc 9.1.0、openmpi 3.1.0、netCDF 4.1.3、parallel-netCDF 1.3.1、netCDF-fortran 4.4.4、PIO 2.5.1
The version of mpas-ocean is master. You can download it from the following link:
https://github.com/MPAS-Dev/MPAS-Model.git

Could you provide me with a copy of the mpas - ocean executable that you compiled? The file format is nc.

[2020-09-17 06:24] zhangjiang-dev commented on #695
My machine environment is as follows:
linux x86
os：RedHat 7.4

[2020-09-17 07:46] xylar commented on #695
@zhangjiang-dev, I think you may just need to set this additional environment variable:
[code]
With our current development branch (`ocean/develop`), there is more helpful output when compilation fails because you have provided PIO2 but have not specified `USE_PIO2` but that may be new since the 6.0 release on `master`.

We do not currently provide compiled binaries.  None of our collaborators so

[2020-09-17 14:36] mattdturner commented on #685
The PR I am hoping to make today for https://github.com/E3SM-Project/E3SM/issues/3826 will likely fix this, but I'll test the EC60to30 `prep_spinup1` to confirm.

@mark-petersen If I run the EC60to30 `spin_up` test on Grizzly w/ `gcc/6.4.0` I should expect to see it FAIL w/ `ocean/develop`?

[2020-09-18 21:33] matthewhoffman opened #700 "Git hash recorded in output files requires make clean"
The Makefile uses 'git describe' to record the version of the code in netCDF output files generated by MPAS.  However, this appears to only be correct if 'make clean' is run.  If that code was previously compiled and then a different git hash is checked out or committed, the version recorded by MPAS is not updated.  This makes this provenance information unreliable.

[2020-09-21 15:02] xylar opened #701 "mesh_spec = 0.0 in initial state files"
In COMPASS global ocean test cases, it seems that `base_mesh.nc` correctly has `mesh_spec = "1.0"` but then my local test of QU240, `culled_mesh.nc` ends up with `mesh_spec = 49.` (i.e. a float instead of a string and obviously wrong) and `initial_state.nc` ends up with `mesh_spec = "0.0"`.  It is not clear yet if this is an issue with COMPASS or MPAS-Tools (the latter is probably more likely).

[2020-09-21 21:06] afernandezody commented on #695
Hello,
I'm chiming in as I'm facing the same problem (albeit with atmosphere rather than ocean). Looking at the Makefile, it seems like the PIO test is trying to compile either pio1.f90 or pio2.f90. However, these files don't seem to be in the PIO directory (or anywhere else); the only f90 files are pio-2.5.2/tests/fncint/ftst_pio.f90 and /pio-2.5.2/tests/fncint/ftst_pio_orig.f90. My PIO installat

[2020-09-21 21:14] philipwjones commented on #695
If you look at that line, it actually generates an extremely simple file too compile.

[2020-09-21 21:16] mgduda commented on #695
@afernandezody If you're seeing the same issue with the atmosphere core, we have a support forum for MPAS-Atmosphere where you could post your question: https://forum.mmm.ucar.edu/ . Just be sure to post in the correct section of the forum.

As @philipwjones said, though, the test program is generated by the top-level `Makefile`.

[2020-09-21 21:25] afernandezody commented on #695
Hi @philipwjones,
I see what you mean but are these files supposed to be written in the subdirectory? Thanks.

[2020-09-21 22:00] philipwjones commented on #695
@afernandezody it is removed immediately after writing the pio message (see rm -rf pio[12].f90).  Note that this is also how tools like CMake look for a working MPI, etc.

[2020-09-21 22:03] philipwjones commented on #695
BTW, note that when it tries to build this simple code, it redirects output to /dev/null   I've never tried to see what happens if you remove that redirection and see what happens - might get some additional info on why it's failing.

[2020-09-21 22:26] afernandezody commented on #695
You're right, the script now makes sense (once I paid attention to all the details). The problem seems to be that the configuration assumes x86_64 architecture whereas the system is arm-powered.

[2020-09-22 00:12] afernandezody commented on #695
Hi @**philipwjones**, I was able to fix the previous issue by fitting the flags to arm architecture. I did this manually, which is not an optimal method, so maybe this could be a future enhancement (I don't know about the ramifications of it and you can weight its convenience). However, I'm getting a new error:
`Fatal Error: Cannot open module file 'pio.mod' for reading at (1)
`even though $(FCINC

[2020-09-22 02:38] philipwjones commented on #695
@afernandezody As @mgduda suggests above, the atmosphere folks maintain a support forum and that's probably a better path for you. I only responded earlier because I've messed with this before and happened to know the answer to your initial questions. For both of these issues reported here, there appears to be something specific to your machine and environment or maybe the pio build (eg did it bui

[2020-09-22 03:11] afernandezody commented on #695
Hi @**philipwjones**  and @**mgduda**,
I'm familiar with the forum because of WRF. I'm working with an alpha-phase system and have almost run out of time for testing. It seems to be a very specific problem with the system as you mentioned so I'll just try to tweak a couple of things in the configuration as time permits. Thanks.

[2020-09-22 20:53] mark-petersen commented on #685
Closed by #698

[2020-09-22 20:53] #685 closed

[2020-09-22 21:57] mkstratos commented on #695
I've run into a similar problem in nightly testing on the landice/develop branch. It seems to be caused by a recent change to PIO https://github.com/NCAR/ParallelIO/pull/1659 which writes a `libpio.settings` summary file to the PIO installation's `lib` directory. Then the MPAS Makefile here https://github.com/MPAS-Dev/MPAS-Model/blob/51d5624709f75182130a2fd94715e1bb13310172/Makefile#L461 detects t

[2020-09-23 08:32] xylar commented on #701
This is a problem with the MPAS cell culler, see https://github.com/MPAS-Dev/MPAS-Tools/issues/350

[2020-09-23 14:11] philipwjones commented on #695
On the E3SM side, we're using scorpio (our pio variant with pio2 interfaces that supports ADIOS for more performant I/O). It does not have a .settings file so that proposed fix wouldn't work.

But I think this points to an issue with the current approach in the Makefile - and I've hit similar problems with CMake and attempts to detect MPI installations. The failure to build the test code can happe

[2020-09-26 14:43] xylar commented on #695
The following change worked for me with both `scorpio` and the latest PIO2 (2.5.2):
[code]

I'll put in a PR to `develop` this weekend.

[2020-09-29 16:35] njeffery opened #710 "Add restart flag inconsistency check"
It's possible to run mpas-seaice with inconsistent restart flags.

Snow and BGC tracers have independent namelist restart flag options.  Although E3SM turns these flags to true during restarts, there is no requirement in stand alone mpas runs.  The purpose of tracer specific restarts is to allow continuation of a spun-up run that may not have had these tracers active to be used as an initial condi

[2020-10-10 09:23] xylar commented on #682
@sbrus89, @matthewhoffman and @mark-petersen, I would like to revive this discussion.  I will update my test `compass` repo this weekend to make sure it is in sync with `ocan/develop` and `landice/develop`.  I have changed I would like to make to COMPASS on `ocean/develop` but I am thinking of holding off until this is resolved to not create extra work for myself and others.

[2020-10-12 18:22] xylar commented on #682
I just learned of a new approach to pulling out a subdirectory as a new repo: https://docs.github.com/en/free-pro-team@latest/github/using-git/splitting-a-subfolder-out-into-a-new-repository.  I'm exploring using that instead of the clunky approach I was using before (creating patches).  This will have the huge advantage of preserving the full history since `testing_and_setup/compass` was created.

[2020-10-13 16:42] matthewhoffman commented on #682
@xylar , I agree that a git-filter-branch approach to splitting out COMPASS would make sense.  When you are at a point to have an in depth discussion of the new workflow, it would be nice to set up a call to walk through it.

[2020-10-14 11:27] xylar commented on #682
## Instructions for testing the new COMPASS workflow:

### 1. Check out a branch

Here, I'm giving instructions from clone the `compass` repo for the first time, check out the `test_merge` branch and get the submodules:
[code]
If all goes well, you should see something like:
[code]

Alternatively, you could add your own branch for working with.  I like to use `git worktree` for this.  Starting fro

[2020-10-21 18:09] bradyrx opened #725 "LIGHT hist files miss some days around month-end transition"
I've noticed that some of the `lagrPartTrack` hist files from LIGHT are missing anticipated days on the 1st of some months. We did a 30to10 BGC run with online LIGHT particles. The LIGHT particles were output at 2 day hist frequencies.

For instance, we ran particles from 0034-0050 for this run. Anticipated `xtime` for the particles would be:

[code]

I then constructed an `xtime` list from the ac

[2020-10-21 18:10] bradyrx commented on #725
My analysis solution is just to have my particle `dt` be 3 days or 4 days, depending on month length, for the missing dates. Not sure if there's any way to fix this at run time.

[2020-10-21 20:03] vanroekel opened #727 "Online moc stream function AM unable to read regionGroupNames from COMPASS generated files"
Currently ```regionGroupNames``` and ```transectGroupNames``` are not being read from MOC_transect_mask files generated by COMPASS, in debugging it appears the issue is the name of the string length dimension.  Here is the nc header of a new file where regionGroupNames is not read
[code]
Here is an old transect/mask header
[code]
If I take the new file and ncrename ```string64``` to ```StrLen``` r

[2020-10-22 18:18] mark-petersen commented on #682
@xylar thanks for your instructions above. With the current repo I was able to run the nightly regression suite from MPAS-Model in two different ways: first by compiling in the compass subdirectory `MPAS-Model/ocean/develop` and second by pointing the config file to an external MPAS repo. I think between these two options, I can figure out a workflow that is reasonable for alterations on COMPASS v

[2020-10-22 19:36] xylar commented on #725
@bradyrx, with @pwolfram not working on MPAS anymore, it's pretty unlikely that we will have a chance to look at this anytime soon.  On the other hand, it sounds more likely to be a timekeeping issue generic to all AMs that might come up in another context.  We do definitely tend to run our AMs in tact with our model restarts so it may be something we just haven't noticed.

Anyway, seems really an

[2020-10-22 19:47] bradyrx commented on #725
Yeah I figured that was the case re: LIGHT. But that this might be something that could come up with other AMs. The key thing here is if there's a mis-match in the AM timescale (here, 2 days) and on the model hist timescale (here, 5 days or 1 month) then you can miss some time steps.

[2020-10-27 19:00] vanroekel opened #732 "Bugs in tracer advection code"
There are a few issues in the tracer advection code, both _mono and _std.

(1) If we look at vertOrder3 here

https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/shared/mpas_ocn_tracer_advection_mono.F#L663-L695

and compare this with Skamarock and Gassmann (2011), their equation 11
![Screen Shot 2020-10-27 at 12 55 12 PM](https://user-images.githubusercontent.com/13662545/973

[2020-10-30 15:32] mark-petersen commented on #732
On (2), see [comment on PR](https://github.com/MPAS-Dev/MPAS-Model/pull/738#discussion_r514760374). It is a linear interpolation, not a weighted average, so original is correct.

[2020-10-31 04:01] vanroekel commented on #732
For both the original formulation is correct.  Closing this issue.  See discussion in #738 for further information.

[2020-10-31 04:01] #732 closed

[2020-11-02 21:32] matthewhoffman commented on #682
We have some existing open PRs in COMPASS.  Do either of you remember how hard it is to move a branch to a new repo with a different file organization?  (I feel like I should know from past situations, but I don't remember.)  Does one have to run git filter-branch on the branches and then push them to the know repo?

The other possibility is to merge them as a work in progress and then continue th

[2020-11-02 21:44] xylar commented on #682
@matthewhoffman, because the directory structure has changed in the new branch, I don't see any alternative to running `git filter-branch`.  I think the best way forward would be to merge work on `MPAS-Model` if it is ready and move the branch (and PR) to the new `compass` repo if it is not.  If you want to merge work-in-progress to the `landice` directory, that's up to you.  I would prefer we not

[2020-11-02 23:11] mark-petersen commented on #682
@matthewhoffman, since we have a V2 (near) freeze right now, and then high-priority PRs waiting after that, it would be nice to free COMPASS from the E3SM PR waiting line, as we could then make much faster progress on it. The two land-ice compass PRs I see are:
- https://github.com/MPAS-Dev/MPAS-Model/pull/349
- https://github.com/MPAS-Dev/MPAS-Model/pull/689

though there may be branches without

[2020-11-04 23:52] matthewhoffman commented on #682
We can go ahead and do that if you both are eager to transition to the new setup.

[2020-11-05 04:01] mark-petersen commented on #682
Thanks. I'd be happy to help anyone with transferring PRs over.

[2020-11-06 10:39] xylar commented on #682
This transition is underway: https://github.com/MPAS-Dev/compass

I think we can probably close this.

[2020-11-06 10:39] #682 closed

[2020-11-06 12:42] xylar commented on #233
Closing because this will not be fixed here

[2020-11-06 12:42] #233 closed

[2020-11-06 12:42] xylar commented on #234
Closing because this will not be fixed here.

[2020-11-06 12:42] #234 closed

[2020-11-06 12:48] xylar commented on #474
I will take care of this as part of COMPASS 1.0

[2020-11-06 12:48] #474 closed

[2020-11-06 12:53] xylar commented on #534
Replaced by https://github.com/MPAS-Dev/compass/issues/9

[2020-11-06 12:53] #534 closed

[2020-11-06 12:55] xylar commented on #549
Removing the COMPASS label because the COMPASS portion of this work has been addressed.  @mark-petersen, I noticed recently when I was working on creating COMPASS test cases in python that other constants such as the acceleration of gravity, the reference density of seawater and various heat capacities should come from CIME as well to make sure we can use consistent values between E3SM components,

[2020-11-06 13:02] xylar commented on #564
Much of this has been addressed.  The issues about the order of loading will be documented in the new COMPASS repo's documentation and have been moved to https://github.com/MPAS-Dev/compass/issues/10

[2020-11-06 13:02] #564 closed

[2020-11-06 13:04] xylar commented on #581
I think this will be addressed as part of COMPASS v 1.0 on the new COMPASS repo: https://github.com/MPAS-Dev/compass

[2020-11-06 13:04] #581 closed

[2020-11-06 13:07] xylar commented on #585
Moved to https://github.com/MPAS-Dev/compass/issues/11

[2020-11-06 13:07] #585 closed

[2020-11-06 13:08] xylar commented on #550
This happened in #563

[2020-11-06 13:08] #550 closed

[2020-11-06 13:43] xylar commented on #701
Fixed in https://github.com/MPAS-Dev/MPAS-Tools/pull/351

[2020-11-06 13:43] #701 closed

[2020-11-06 13:44] xylar commented on #727
Fixed in https://github.com/MPAS-Dev/MPAS-Tools/pull/367

[2020-11-06 13:44] #727 closed

[2020-11-15 05:43] mark-petersen opened #758 "MPAS-O init mode does not produce error if wrong case requested"
In init mode, if you request a test case that does not exist with the flag `config_init_configuration`, it does not produce an error during the init mode, and presumably variables are just filled in with zeros. During the simulation the run will die on start up.

See https://github.com/MPAS-Dev/compass/pull/8#issuecomment-727212984

[2020-12-07 22:06] JeremySilver opened #765 "Missing 'Macros.make' file, environment variable and documentation"
Hi there,

It looks like there may be a file missing required. In `src/Makefile.in.E3SM`, on line 16
`include $(CASEROOT)/Macros.make`
It implies that there is an environment variable `$CASEROOT` and a file `Macros.make`, neither of which appear in the documentation or elsewhere in the code (as far as I can see). Would it be possible to add something about this to the documentation, and possibly a

[2020-12-08 06:03] JeremySilver opened #766 "Some possibly undefined routines being referenced in mpas_init_atm_core_interface.F"
I'm trying to compile part of the model and ran into difficulties with the file `mpas_init_atm_core_interface.F`. I'm compiling with ifort and openmpi. The error message I got reads as follow:
[code]
I couldn't find references to the offending routines (e.g. `init_atm_setup_decomposed_dimensions`) elsewhere in the code, but maybe I'm not understanding something here.

I managed to get the compilat

[2020-12-08 16:50] mgduda commented on #766
Those routines are defined in generated code that is [included at the bottom of the init_atm_core_interface module](https://github.com/MPAS-Dev/MPAS-Model/blob/v7.0/src/core_init_atmosphere/mpas_init_atm_core_interface.F#L443-L453). Are you trying to build the code using something other than the included Makefiles?

If you have further questions about MPAS-Atmosphere, there's a support forum at ht

[2020-12-21 01:57] JeremySilver commented on #766
Thanks for following this up. I was able to get it to compile.

[2020-12-21 01:57] #766 closed

[2021-01-04 14:53] davegill opened #776 "Name of Thompson MP lookup tables should reflect single or double precision build"
Regardless of the requested precision when building MPAS, when the `build_tables` executable generates data, the file names are:
[code]

I was trying to figure out how to generate the single precision data. But the ".DBL" extension does not identify the precision of the look-up tables.

There is a Makefile macro, `PRECISION`, in the top-level Makefile.

The src/core_atmosphere/Makefile has a targe

[2021-01-04 18:35] mark-petersen commented on #765
@JeremySilver, this file, `src/Makefile.in.E3SM` is only used when compiling within the E3SM climate model. In that case, the environment variable `$CASEROOT` is known. Both of these are never used when compiling within MPAS standalone (i.e., by itself). The file `src/Makefile.in.E3SM` was needed within this directory, but it is only ever called by the E3SM Makefile.

Does that answer your questio

[2021-01-04 18:45] mark-petersen opened #777 "Ocean RK4 fails bfb restart test"
Testing e4dbf57d2 on branch `ocean/develop`, and compass test `ocean/global_ocean/QU240/restart_test` but with flags changed to:
[code]
the bfb comparison fails. I also turned off surface fluxes, surface restoring, and set to fixed vertical layers, and problem persists, i.e.:
[code]
This changes the mismatch from 1e-4 to 1e-15. So main problem appears to be in the tracer time stepping:
[code]

Not

[2021-01-04 18:50] mark-petersen commented on #777
@xylar thanks for pointing this out. I tried the easy things that came to mind, as noted in the first comment. I was hoping to find some option that required an update within the split-explicit module, that was not added to RK4. Surface fluxes and forcing are obvious candidates, but do not appear to be related.

[2021-01-04 18:50] xylar commented on #777
Thanks @mark-petersen!  As I mentioned at Coffee today, I'm seeing this problem as well in COMPASS 1.0.  Given that some of the wetting-and-drying work will begin with RK4, it would be really helpful if we can track this down and fix it.

cc @dengwirda and @cbegeman

[2021-01-04 19:09] mark-petersen commented on #777
OK, I found the module (at least). If I turn off GM:
[code]
Then I get an exact bfb match on restart. I flipped every other flag possible - cvmix, redi, tracer vmix, bottom drag, etc, and GM is definitely the problem. We just added this `EdenGreatbatch` method last fall. Maybe that is it.

[2021-01-04 19:31] cbegeman commented on #777
I was looking at GM as well because `ocn_gm_compute_Bolus_velocity` is commented out in the split routine whereas it is called in RK4. This change is associated with https://github.com/MPAS-Dev/MPAS-Model/commit/66a13d9734a942d5c52dd70e9042319599c53bf1, which is supposed to fix a restart problem. Maybe RK4 is redundantly computing MLD rather than using its value for restart. @vanroekel might under

[2021-01-04 19:41] vanroekel commented on #777
@mark-petersen does the test pass with
[code]
?

If the problem is E&G it suggests RK4 is not calling the routine that computes ```BruntVaisalaFreqTop``` or ```RiTopOfCell``` on restart

@cbegeman just saw your comment and checked the rk4 code, you are right!  The calls here

https://github.com/MPAS-Dev/MPAS-Model/blob/master/src/core_ocean/mode_forward/mpas_ocn_time_integration_rk4.F#L648-L650

a

[2021-01-04 19:55] cbegeman commented on #777
@vanroekel Thanks! Your first and last links appear to be the same. Should the last link be https://github.com/MPAS-Dev/MPAS-Model/blob/e4dbf57d235e0a6bf6c568e2423cafe8091c5486/src/core_ocean/mode_forward/mpas_ocn_forward_mode.F#L576-L578

[2021-01-04 20:01] vanroekel commented on #777
oops, yes, thanks for catching that!  I've edited my previous comment

[2021-01-04 20:10] mark-petersen commented on #777
With `config_use_GM` true the restart test always fails, with both `config_GM_closure = 'constant'` and `'EdenGreatbatch'`. I only get the test to pass with `config_use_GM = .false.`.

[2021-01-04 20:27] vanroekel commented on #777
Okay I think I understand what is happening.  To confirm, @mark-petersen is redi enabled for these runs with standard options ```config_Redi_use_surface_taper = .true.``` and ```config_use_redi=.true.```?  If so the code blocks mentioned above, in particular the if(config_use_GM) lines imply that the surface taper is recomputed during the timestep and not using the indMLD from the restart file.  I

[2021-01-12 20:36] xylar opened #784 "division by zero in ocn_time_integration_split_init"
When using `gcc/7.4.0` on Grizzly (see full details below), I'm getting a division by zero error on this line:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/mode_forward/mpas_ocn_time_integration_split.F#L2261

<details><summary>Full stack trace</summary>
<p>

[code]

</p>
</details>

Additionally please enter this information if applicable:
 - Compiler and version: gcc/

[2021-01-12 20:59] xylar opened #785 "intel build no longer work with intel-mpi/2019.4 on Grizzly"
I've been trying to build with `ifort` from the Makefile and `intel-mpi`.  This used to work on Grizzly but doesn't seem to work anymore. The error when trying to build the PIO2 test program is:
[code]

However, if I change `mpif90`, `mpicc` and `mpicxx` to `mpiifort`, `mpiicc` and `mpicpc`, I am able to build successfully but I get errors at runtime:
[code]

Additionally please enter this informa

[2021-01-13 15:09] mark-petersen opened #788 "destroy pool fails with seg fault for multi-block"
If we run with two blocks per core in RK4, the destroy pool fails at the end of the first time step. Error is a seg fault, with traceback:
[code]
This was introduced in #578.

We can invoke this error in the shallow water core, for example, by setting `config_number_of_blocks = 36` but running on 18 cores.

[2021-01-13 15:27] mark-petersen commented on #788
@amametjanov and @mgduda I think this problem was introduced inadvertently, as I looked through the comments in #578 and there was no discussion or testing of multiple blocks.

@mgduda if you have a little time to triage, it would help to know if this multi-block failure is fundamental to this design, or just an oversight.

[2021-01-13 15:28] mark-petersen commented on #788
@philipwjones, FYI, it turns out multiple blocks per core are probably important for local time stepping. @gcapodag and I have been experimenting with load balancing for local time-stepping, and giving each core one low-res. and one high-res. block is probably the best strategy. That is how we found this bug.

[2021-01-13 21:41] snyderdad opened #789 "Recent mods from MPAS-JEDI"
Here's a consolidated list of modifications from JCSDA-internal/MPAS-Model that we hope to merge with MPAS-Dev/MPAS-Model.  All except cmake build are specific to core_atmosphere or core_init_atmosphere.

- [ ]  Cloud fraction and cloud height diagnostics. See #733 from @jamiebresch.
- [ ] "2-stream I/O".  This splits input streams into static and time-varying variables, as in an earlier branch fr

[2021-01-13 23:44] mgduda commented on #788
I've been able to reproduce this issue in the SW core. If I'm not mistaken, it looks like the problem is that when we destroy a pool in one block, all blocks for the fields in that pool are deallocated; then, when destroying the same pool in the next block, we attempt to redundantly deallocate blocks of the fields in that pool.

I'll give this some though to see if there's a clean solution. The co

[2021-01-14 00:06] mark-petersen commented on #788
@mgduda thanks for your input on this. I had thought the same thing, but the allocation is within a block loop: https://github.com/MPAS-Dev/MPAS-Model/blob/51d5624709f75182130a2fd94715e1bb13310172/src/core_sw/mpas_sw_time_integration.F#L113-L118
so then we allocate once per block. So wouldn't it make sense to also deallocate once per block? Or are you saying that the second allocate for a pointer

[2021-01-14 15:38] philipwjones commented on #788
@mark-petersen if we really do need this functionality, we're going to need to implement it differently than the current linked-list method. The current implementation is incompatible with what we are doing on the GPU. Even just exposing the arrays with the extra block index at the end would be preferable.

[2021-01-15 22:01] mgduda commented on #789
As PRs are created to handle the modifications listed in this issue, it might be helpful to reference this issue in the description of the PR.

[2021-01-29 17:24] svahl991 commented on #789
An addition to the list:
Add optional parameters to the `mpas_init` signature, allowing the caller to pass in a namelist and/or streams filename, identical to the functionality already present when using the `-n` and `-s` command-line parameters. See JCSDA-internal#10.

[2021-02-05 15:54] philipwjones opened #805 "PGI compiler chokes on array syntax in ocean tend_tracer routine"
In mpas_ocn_tendency.F and the tend_tracer routine, there is a loop over activeTracerNonLocalTend that causes the PGI compiler to die with the error:

/tmp/pgfortran0eVuCCLsnvvY.s: Assembler messages:
/tmp/pgfortran0eVuCCLsnvvY.s:2910: Error: operand out of range (0x0000000000008000 is not between 0xffffffffffff8000 and 0x0000000000007ffc)

This appeared during the switch from pointer retrieval to

[2021-02-06 18:04] afernandezody opened #807 "MPAS (atmosphere) breaking at mpas_init"
Hello,
I'm having trouble with MPAS breaking at the mpas_init subroutine. It's very weird as the issue only appears in some systems and the error message is difficult to interpret:
[code]
I contacted the OpenMPI team but it's hard to pinpoint the origin of that errorcode. After many tests trying to isolate the cause of the problem, I have ended with 2 systems running CentOS8 (4.18.0-240.10.1.el8_3

[2021-02-08 23:40] mgduda commented on #807
Does compiling with `DEBUG=true` provide any useful stack trace or other information? That the code is apparently calling `MPI_Abort` rather than simply, e.g., segfaulting suggests the error may be something detectable by the code. Are there any other error messages in the stdout/stderr from the failed jobs, or in the `log.atmosphere.XXXX.err` files?

[2021-02-11 15:07] afernandezody commented on #807
Will update thread.

[2021-02-16 16:50] jjguerrette commented on #789
The cmake build procedure is modified to disable OpenMP in https://github.com/JCSDA-internal/MPAS-Model/pull/11.

[2021-02-16 16:51] jjguerrette commented on #789
https://github.com/JCSDA-internal/MPAS-Model/pull/12 enables core_init_atmosphere to use `mpas_new_unit` and `mpas_release_unit` instead of fixed file unit numbers

[2021-02-18 08:19] #558 closed

[2021-02-18 08:21] #315 closed

[2021-02-18 08:22] #256 closed

[2021-02-18 20:30] mattdturner commented on #785
@xylar Is this still an issue for you?  I was just able to successfully build and run (the full nightly suite for ocean) on Grizzly w/ Intel.  I did need to make the Makefile changes that you mentioned:
[code]

It looks like the only difference between my environment and yours is that I am using the `pio2` module found in `/usr/projects/climate/SHARED_CLIMATE/modulefiles/all/scorpio`.  My modules:

[2021-02-18 20:46] xylar commented on #785
Thanks, I'll try this out tomorrow. The fact that we have to edit the `Makefile` seems like it's not sustainable but it's a start if the suite at least works.

[2021-02-19 12:16] xylar commented on #785
@mattdturner, thanks again!  I can confirm that things are working for me again.  I built the latest SCORPIO (1.1.6) as part of my testing.  Not sure if that made the difference or something changed on Grizzly or what, but glad to have things working.  I'll put in a PR to add `intel-mpi` as an option in the `Makefile`.

[2021-02-19 12:21] xylar commented on #785
The following don't appear to be necessary:
[code]

[2021-02-19 15:23] xylar commented on #784
I spent some time today trying to figure this one out.  It seems like the division by zero is not the source of the problem.  Instead, `cellsOnEdge` seems to be messed up (full of `nCells + 1` entries) and this leads to numerous other issues.  It may be that other fields are also not correct.  It will be hard to know if this is a SCORPIO, compiler, MPI or other issue.

I'm not good enough with the

[2021-03-12 14:51] xylar commented on #785
This has been addressed via #816

[2021-03-12 14:51] #785 closed

[2021-03-22 17:21] mattdturner commented on #805
This was resolved in #806 .

[2021-03-22 17:21] #805 closed

[2021-04-01 21:21] daniloceano opened #839 "Overflow when Compiling MPAS-O"
Greetings,

First of all, sorry if this is not the right place for posting this kind of issue, but I've seen other similar posts and also the web forum I found seems to be concerned only about the Atmosphere core.

I adapted duda's iolib_installation.sh script for installing the libraries required by the model and (it seems) successfully compiled init_atmosphere and atmosphere cores. However, when

[2021-04-01 21:32] xylar commented on #839
@daniloceano, we don't really build or test the ocean model at single precision so it looks like there are places where we're not handling single precision correctly.  Unless you have a reason to want to run with single precision, I'd change your build to double.

[2021-04-01 21:39] daniloceano commented on #839
@xylar thank you very much. It worked!

[2021-04-01 21:43] philipwjones commented on #839
Yeah, a more robust way would be to declare a local garbage variable with RKIND that we set to a constant and use that as the argument to HUGE.

[2021-04-02 21:42] klindsay28 commented on #839
Pardon the drive-by comment, but I don't think you need a local garbage variable.
You could use `HUGE(0.0_RKIND)`.

[2021-04-04 21:42] cbegeman opened #841 "Possible bug in ocn_tracer_advection_std"
I think that `high_order_vert_flux` should be allocated to size `nVertLevels+1` [here](https://github.com/MPAS-Dev/MPAS-Model/blob/29a819a00d008fec9eb3e359c4a9d866266e5b87/src/core_ocean/shared/mpas_ocn_tracer_advection_std.F#L123-L125) so that in the following lines, `high_order_vert_flux(k+1)` has a reference when `maxLevelCell = nVertLevels`. @mattdturner Do you agree?

https://github.com/MPAS-

[2021-04-05 15:37] mattdturner commented on #841
@cbegeman I agree that this is a bug as the code is currently written.  It doesn't look like this particular subroutine is tested in the nightly regression suite (all tests have `config_monotonic = .true.`), so that would explain why it hasn't shown up as a FAIL before.

I'm not sure, though, if just allocating `high_order_vert_flux` to size `nVertLevels+1` is the correct fix, or if the calculatio

[2021-04-05 16:26] cbegeman commented on #841
@mattdturner Thanks for taking a look. My understanding is that `high_order_vert_flux(maxLevelCell(iCell)+1,iCell)` corresponds to the tracer flux from the seafloor into the bottom cell. I do believe that for most applications this will be equal to 0 but perhaps for some tracers there would be entrainment (Fe, sediment). I'm not sure if that entrainment would be handled here or elsewhere.

[2021-04-05 16:43] philipwjones commented on #841
@mattdturner, @cbegeman Before I modified the mono advection routine, the vertical advection here was essentially identical, so I had planned to make the same performance mods in the std routine that I made in mono. I've been working on a version with GPU mods for both and will be making the changes as part of that, but if we want to make the changes sooner, I can speed that up or someone can copy

[2021-04-05 16:58] cbegeman commented on #841
@philipwjones No rush on my end. Just wanted to point it out when I came across it. Thanks!

[2021-04-15 20:50] mattdturner opened #850 "mpas_ocn_vel_hadv_coriolis.F GPU bug"
When running the Ocean QU240 performance_test on Summit (PGI + OpenACC), the simulation hangs in the first timestep.  When running through `cuda-gdb`, it shows the hang at
[code]

Here is the output of `module list`:
[code]

Make command: `make pgi-summit -j 8 OPENACC=true USE_PIO2=true CORE=ocean`
Run command: `jsrun -n 1 -a 1 -c 1 -g 2 ./ocean_model`

[2021-04-15 20:51] mattdturner commented on #850
@philipwjones I decided to create an Issue for this bug, to keep a log of the problem.

[2021-04-30 19:25] philipwjones opened #861 "ocean build fails due to GOTM dependency with PGI on Summit"
While attempting to build latest MPAS on Summit with PGI, the compiler can't find the mod file for mtridiagonal (a GOTM module) when trying to build one of the top-level drivers mpas_subdriver.  There's no explicit include at this level and no reason for PGI to search for it. GOTM paths are (correctly) not in the search path at this level. I suspect PGI is following the module dependencies recursi

[2021-05-07 18:55] #807 closed

[2021-05-18 12:17] mark-petersen opened #875 "cvmix tidal mixing default value is incorrect"
From Mehmet Ilicak, by email:
I was coding CVmix into the NorESM model and I realized a default value in tidal mixing scheme is wrong.

Here is the github issue link: https://github.com/CVMix/CVMix-src/issues/91

Before I opened that issue, I was searching google just in case if I was making a mistake, and I saw this link about MPAS;
https://oceans11.lanl.gov/mpas_data/mpas_ocean/doxygen/release_3

[2021-05-18 12:29] mark-petersen commented on #875
@vanroekel @caozd999 @sbrus89
This line:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/shared/mpas_ocn_vmix_cvmix.F#L975
[code]
was originally written by Todd in 2013. From the comments at https://github.com/CVMix/CVMix-src/issues/91, it looks like the cvmix subroutine uses an incorrect value of 3, and should be 1/3. Until cvmix is corrected, the fix in MPAS-Ocean would

[2021-05-18 13:17] vanroekel commented on #875
Thanks for noting this @mark-petersen.  Indeed that should be changed.  But I wasn't aware anyone was actually using that function?  The mpas cvmix code only has the tidal init hooks not the actual diffusivity calculation.  I'm actually working on them under water cycle but haven't finalized the code, so many thanks for bringing this to my attention!  I hope to make a PR in a week or two and will

[2021-05-18 15:04] sbrus89 commented on #875
@vanroekel - I haven't been working with the CVMix tidal scheme, so you're not duplicating anything on my end.

[2021-05-28 16:00] #850 closed

[2021-06-30 19:42] xylar commented on #777
@mark-petersen and @vanroekel I realize this is a low priority but I want to make sure it gets some attention because I see this error several times a day when I work with compass, and it increases the likelihood that a "real" error happens that I don't notice.  Also, the lack of restart capability means that the RK4 time integrator isn't really a feasible alternative to split-explicit except for

[2021-07-02 14:52] mark-petersen commented on #777
Transplanted this issue to https://github.com/E3SM-Project/E3SM/issues/4376. Fixed by https://github.com/E3SM-Project/E3SM/pull/4369.

[2021-07-02 14:52] #777 closed

[2021-07-28 14:08] #549 closed

[2021-08-26 15:03] cponder opened #924 "Adjusted loop-bounds in module_bl_gwdo.F to prevent illegal index operation."
We were seeing a segfault in the `module_bl_gwdo.F` code when we compiled it with OpenACC directives to run on the GPU.
Likely because the GPU was enforcing array-boundaries more aggressively than the original CPU compilation would.
The problem showed up here in the transition from MPAS-A 6.x to 7.x where the loop-boundary changed but the indexing did not:
[code]
MIchael Duda recommended this fix

[2021-09-25 11:20] cponder opened #931 "Redundant assignments in WSM6 v7"
The file
[code]
has some assignments that get re-assigned without being used in between.
I suspect that this is an oversight from when the code was updated from an earlier version.

In the case of redundant or inactive control-flow statements, I'm inclined to assume that the developers intend to fill in additional cases in the future.
But with assignments I'm not so sure.

[2021-09-25 11:23] cponder commented on #931
These 2nd- & 3rd- order interpolations here
[code]
and here
[code]
It looks like the ```wi``` array gets written and then gets completely over-written.
It is never used as an Rval in any expression in between.

[2021-09-25 11:32] cponder commented on #931
In the ```refl10cm_wsm6``` subroutine this array is assigned at the top
[code]
and then re-assigned at the bottom
[code]
across the same index-range.
It doesn't appear in any expression in between.
There are these two subroutine-calls
[code]
and
[code]
so it could have an effect if the ```dBZ``` array is visible as a module variable under a different name, I can't easily tell from looking at the c

[2021-10-05 20:16] cponder opened #932 "Messy process-assignments with Lagged Radiation"
This is an issue I have with the v7.* code, using the lagged-radiation setup.
To run with GPUs, we invoke MPAS-A using a wrapper that sets the ```ACC_DEVICE_NUM``` variable, which assigns a GPU to each process. This is necessary to keep the Dynamics processes, i.e. ```MPAS_DYNAMICS_RANKS_PER_NODE```, running on separate GPUs for maximal performance.
The problem is that the ranks assigned to the Dy

[2021-10-05 20:22] cponder commented on #932
In the case where the ```MPAS_RADIATION_RANKS_PER_NODE``` is not evenly divided by the ```MPAS_RADIATION_RANKS_PER_NODE```, the above formula would end up with the last "pool" having fewer ranks than the others. This may be less load-balanced than, say, having several pools with only ```$((POOL_SIZE-1))```  ranks.
Was this the motivation for the current policy?
I'm not sure I really care about tha

[2021-10-05 21:29] cponder commented on #390
@srafkin
Did you ever resolve this?
I see these messages in my MPAS-A builds (from the 7.* ```develop``` branch)
[code]
What's perverse about this is that I'm building using the ```USE_PIO2=true``` build-option, so it shouldn't be looking for ```pio1``` in the first place.
My PIO build passes all of its regression-tests, so I believe that I built it correctly. I'm setting this path in the environm

[2021-10-05 21:47] mgduda commented on #390
@cponder Can you confirm that you've tried with either the v7.1 release (currently at the HEAD of the `master` branch) or the current HEAD of the `develop` branch? There was a fix in PR #914 that went in to the v7.1 release, though the failure that was addressed by that PR looks different from what you're reporting.

[2021-10-05 21:50] mgduda commented on #390
For reference, this issue was discussed on the WRF/MPAS-A forum in this thread: https://forum.mmm.ucar.edu/phpBB3/viewtopic.php?f=10&t=8613 .

[2021-10-05 22:04] srafkin commented on #390
Looks like Michael Duda is on the case.  I'm rather certain he can help
better than I.  But, to answer the question, yes, I did manage to get it
to work by using the script and packages at
https://www2.mmm.ucar.edu/people/duda/files/mpas/sources.   Those
packages may be obsolete by now, but they did work at the time.  The
take away message that I learned was that you need to have fully
compatible

[2021-10-05 22:07] cponder commented on #390
Yeah, the message is still there with 7.1:
[code]
I need to emphasize that the MPAS-A builds & runs ok.
But I believe there's something wrong with the detection step here.

[2021-10-06 03:47] mgduda commented on #390
@cponder Could you try compiling with the [v7.1_debug_pio_detection](https://github.com/mgduda/MPAS-Model/commits/v7.1_debug_pio_detection) branch from my fork and posting the stdout/stderr log here? I've modified the top-level `Makefile` in that branch to echo all of the commands that are being run when testing the PIO version.

[2021-10-06 10:03] cponder commented on #390
Here's the debug output:
[code]

[2021-10-06 16:01] mgduda commented on #390
Thanks for giving that a try. I think it would be helpful now to see whether the `pio2.f90` test program would have successfully compiled, and whether there were any messages printed during the compilation of the `pio1.f90` test program. Could you try both of the following commands directly on the command-line:
[code]
and
[code]
The `pio.f90` and `pio2.f90` test programs should still be in your MP

[2021-10-07 01:09] cponder commented on #390
The second case works just fine:
[code]
which is why it's perverse that it reports that it fond PIO 1 and not PIO2.

I'm using the PGI 21.9 compiler with PIO version 2_5_4.

[2021-11-19 23:25] mgduda opened #942 "MPAS-Atmosphere PR list"
Here's a list of open PRs -- along with notes for each PR as needed -- that are required to complete work on the [atmosphere/develop-openacc](https://github.com/MPAS-Dev/MPAS-Model/tree/atmosphere/develop-openacc) branch. The goal is to merge these PRs *in the order given here* (with the first listed PR being the first to be merged).

- [ ] #938
- [ ] #929
- [ ] #928
- [ ] #927
- [ ] #926
- [ ] #9

[2021-12-12 09:41] Pranay-Reddy-Kommera commented on #942
@mgduda Below is an updated list of PRs which are needed to be merged into [atmosphere/develop-openacc](https://github.com/MPAS-Dev/MPAS-Model/tree/atmosphere/develop-openacc) branch.
Merging these PRs would result in all the Physics schemes except NOAH LSM and Microphysics on GPUs.

1. #950
2. #951
3. #949
4. #927
5. #928
6. #929
7. #943
8. #944
9. #945
10. #946

[2021-12-16 17:44] mgduda commented on #942
@Pranay-Reddy-Kommera Can we safely close PR #926 if it has been replace by PR #949?

[2021-12-16 17:54] Pranay-Reddy-Kommera commented on #942
@mgduda Yes we can close PR #926.

[2022-01-26 02:06] Beliavsky opened #956 "add topics"
I suggest adding topics such as `climate` and `weather` in the About section.

[2022-03-31 09:03] X1a0wu2 opened #970 "An error occured when running MPAS-A"
Can't create the static file with the 60-3km mesh

At first, I rotated the mesh to the area I was interested in, and then generate the static field. The problem is when the file of the static field is generated to 1.04G, it stopped, the same situation happens with repeated runs

Additionally please enter this information if applicable:
 - Compiler and version     compiler/intel/2017.5.239
 - MPI i

[2022-03-31 15:10] mgduda commented on #970
Please use the support forum at https://forum.mmm.ucar.edu/ to ask this question.

[2022-03-31 15:10] #970 closed

[2022-05-17 03:24] mark-petersen commented on #665
For our reference, I experimented with these changes using two methods.
https://github.com/mark-petersen/MPAS-Model/tree/cf_compliant_time_using_streams_types
adds the changes described in this PR (https://github.com/MPAS-Dev/MPAS-Model/issues/665#issue-685459237)

https://github.com/mark-petersen/MPAS-Model/tree/cf_compliant_time_using_io_streams
tries to add time_bnds one level higher in mpas_io

[2022-08-03 22:35] jjguerrette commented on #789
Additional JCSDA-internal PR's since the list was last updated are as follows...

- [ ] Three bug fix PR's for IAU (can be merged into one commit) @syha
  - https://github.com/JCSDA-internal/MPAS-Model/pull/31
  - https://github.com/JCSDA-internal/MPAS-Model/pull/32
  - https://github.com/JCSDA-internal/MPAS-Model/pull/33

- [ ] Very small change to cmake build to allow for single-precision in mpa

[2022-10-17 17:02] jjguerrette opened #996 "Should log(P) be interpolated linearly in height instead of P?"
The `MPAS_to_physics` subroutine interpolates pressure linearly with the height coordinate (see below).

https://github.com/MPAS-Dev/MPAS-Model/blob/7601162ef868bc174c42d8ca0c028a906645494e/src/core_atmosphere/physics/mpas_atmphys_interface.F#L397

As the model levels get further apart near the top, this will tend to produce pressures that are too large since pressure varies approximately exponent

[2022-11-10 09:36] rabbanidu93 opened #1006 "FATAL ERROR: data in update host clause was not found on device 1: name=areacell"
Dear concern,

I have compiled MPAS-A 6xx-openacc with PGI compiler using Nvidia-hpc sdk 22.9 (in GPU nvidia 2080 super). In model integration section, when i run "mpiexec -n 4 ./atmosphere_model", I am getting following error,
FATAL ERROR: data in update host clause was not found on device 1: name=areacell
file:/hdd/rabbani/MPAS-A-PGI-OACC/MPAS-Model/src/core_atmosphere/physics/mpas_atmphys_drive

[2022-11-10 16:54] mgduda commented on #1006
I see that you've already posted this on the forum at https://forum.mmm.ucar.edu/threads/fatal-error-data-in-update-host-clause-was-not-found-on-device-1-name-areacell.12128/ . In general, the forum is the correct place to ask these sorts of questions.

[2022-11-10 16:54] #1006 closed

[2022-11-29 16:14] MuzafarWani opened #1008 "In situ analysis of MPAS Atmospheric"
I want to add VisIt or Paraview code to MPAS Atmospheric code for in situ visualization. I need to know the code location where output variables are populated in the code. Can you please point out the code location where it happens?

[2022-11-29 17:16] mgduda commented on #1008
Could you please post this question to the WRF/MPAS-A forum (https://forum.mmm.ucar.edu/)? There's a section of the forum for MPAS-A code developement discussions: https://forum.mmm.ucar.edu/forums/code-development.127/ .

[2022-11-29 17:16] #1008 closed