[2013-06-20 17:35] hrwinterbottom opened #1 "MPAS does not run (init or nhyd atmosphere model) when compiled with ifort"
When running init_atmosphere.exe, the following is dumped into the log.0000.err file:

 Reading namelist.input

forrtl: severe (174): SIGSEGV, segmentation fault occurred
Image              PC                Routine            Line        Source

init_nhyd_atmos_m  0000000000562CA3  mpas_block_creato        1057  mpas_block_c
reator.f90
init_nhyd_atmos_m  000000000053DDE9  mpas_io_input_mp_

[2013-06-20 22:28] toddringler opened #2 "ocean: test cases, overflow, namelist error"
Mats Bentsen reported this bug to me:

The namelists for the overflow test cases (10 km and 1 km) include the following for hmix:

&hmix
    config_hmix_ScaleWithMesh = .false.
    config_visc_vorticity_term = .true.
    config_apvm_scale_factor = 0.0

The second entry is not a part of the Registry, i.e. our namelists are not compatible with the source code.

[2013-06-21 15:34] #2 closed, assigned to douglasjacobsen

[2013-07-25 21:30] hrwinterbottom opened #3 "MPAS QU 60-km ocean experiment reporting NaN/Infinity values at first time step"
To whom it may concern:

I am experimenting using the MPAS ocean core (compiled using PGI) for the 60-km global ocean test case found here: http://mpas-dev.github.io/ocean/release_1.0/release_1.0.html .

When compiled in DEBUG mode, the following is reported in some of the log files:

Caught error: Floating point exception (signal 8)

which suggests either a NaN or INF value may be present.

Has a

[2013-07-27 02:22] #3 closed, assigned to nobody

[2013-07-30 21:33] hrwinterbottom opened #4 "MPAS-A random failures with PGI 12.5 compiler."
To whom it may concern:

I believe there to be an issue with MPAS-A atmosphere core executables built using PGI 12.5. There currently exist issues with MPAS-O, using PGI 12.5, and PGI 12.5 is thus unsupported by MPAS-O (as per Doug Jacobsen). The PGI bug reports can be found here: http://www.pgroup.com/support/release_tprs_2012.htm. The specific issue for MPAS-O is:

"Wrong answers when "transpose

[2013-08-16 23:21] wgustafson opened #5 "Vertical loop error for tend_w in mpas_atm_time_integration.F"
Matus Martini and I discovered a bug at line 2488 of mpas_atm_time_integration.F. This line loops from k=1,nVertLevels to calculate tend_w. However, ru_edge_w(k) is only given values for k=2,nVertLevels.

We believe the appropriate fix is just to change line 2488 to loop from k=2,nVertLevels since the w-tendency is always zero at the bottom anyway, and it is given that value higher up in the subro

[2013-08-30 22:18] matusmartini opened #6 "Error in horizontal mixing for w in mpas_atm_time_integration.F"
Looking at mpas_atm_time_integration.F at line 2586:

theta_turb_flux = 0.25*(kdiff(k,cell1)+kdiff(k,cell2)+kdiff(k-1,cell1)+kdiff(k,cell2))  &

I think the vertical index in the last term should be kdiff(k-1,cell2)) and not kdiff(k,cell2)). Is it supposed to be an average of four values (two neighboring cells in horizontal and vertical)? Would you please take a look at this.

Thank you,
Matus
##

[2013-09-04 18:26] #6 closed, assigned to nobody

[2013-10-02 19:52] #5 closed, assigned to mgduda

[2014-03-12 18:51] raycao88124 opened #8 "Segmentation Fault (MPAS-Ocean)"
Version of MPAS (From source, in README.md, core's Registry.xml file, and output file):
MPAS-O Release 2.0

Description of issue:
Segmentation Fault, Address not mapped when running test cases(overflow, baroclinic). The only  test case that could run without error is overflow_10km_40layer.
Verisions of I/O libraries are those that are recommended in the user's guide in section 3.2

Platform used (

[2014-04-21 20:57] rcwxok opened #9 "Test cases using ifort produce NaNs unless compiled without optimization"
**Version of MPAS:**
2.0. Git repository pulled within past day.

**Description of issue:**
Log output shows NaNs after the first timestep:

 Begin timestep 0000-01-01_00:00:03
 ...
 global min, max w                      NaN                     NaN

Plotted fields at initial time look reasonable, but subsequent times fail to plot.

Program continues to run after NaNs are printed.

If compiled wit

[2014-05-10 03:52] aoyulong opened #10 "MPAS atmosphere tau profiling"
I turn on the TAU  by typing the command that is :make gfortran CORE=init_atmosphere TAU=true. And after run the ./init_atmosphere_model, I get the profile.0.0.0. Then I print it by pprof and I get some information. However, the information is all about MPI_XXXX calls. But I want profiling other different function calls of the program  besides the MPI_XXXX calls. Is there anything wrong ?
The prof

[2014-06-04 11:19] zpmaths opened #12 "compiling error with ifort"
The error message is as bellow:

mpif90 -DLANL_FORMULATION -D_MPI -DUNDERSCORE -Dmpas  -real-size 64 -O3 -convert big_endian -FR  -c mpas_atmphys_lsm_noahinit.F -I/home/zp/local/netcdf/include -I/home/zp/local/pio/include -I/home/zp/local/parallel-netcdf/include -I/home/zp/local/netcdf/include -I/home/zp/local/pio/include -I/home/zp/local/parallel-netcdf/include -I../../framework -I../../operators

[2014-06-29 01:43] nusculus opened #13 "Why that Choice of Earth Radius"
Question:

It seems like an odd choice to use 6371229.0 m as the radius of the earth in MPAS. That number seems to be based on Hayford's 1910 estimate of the Earth. It's average radius is 6371229.31 m, by my calculation.

Here's a few sphere alternatives, all based on the more recent WGS84 ellipsoid:

average of the 3 radii: 6371008.7714 m
radius of sphere of equal area: 6371007.1809 m
radius of s

[2014-06-30 19:57] #13 closed, assigned to nobody

[2014-07-30 21:59] #8 closed, assigned to nobody

[2015-02-10 18:39] jonwoodring opened #16 "output_interval not getting carried through to stream defaults"
This is in reference to my recent [Okubo Weiss 3.3](https://github.com/jonwoodring/MPAS-Release/compare/okubo-weiss-3.3) pull request.

In [Registry_okubo_weiss.xml](https://github.com/jonwoodring/MPAS-Release/blob/aab94cd7841d6eef6e309627af31064f5e318d5a/src/core_ocean/analysis_members/Registry_okubo_weiss.xml), the _output_interval_ parameter for the "okuboWeissOutput" stream is not being carrie

[2015-02-10 18:46] jonwoodring opened #17 "unable to create a scratch variable in existing scratch group or a package group"
In [Registry_okubo_weiss.xml](https://github.com/jonwoodring/MPAS-Release/blob/aab94cd7841d6eef6e309627af31064f5e318d5a/src/core_ocean/analysis_members/Registry_okubo_weiss.xml), I had to create a scratch variable in a separately named group that I called "okuboWeissScratch."

The two places that I tried it, that did not work:
- in the existing "scratch" group -- this failed at run time in mpas_gr

[2015-02-10 18:56] douglasjacobsen commented on #16
@jonwoodring that is because the type of the stream is set to `type="none"`. This implies that the stream shouldn't have any intervals. In the future we'll likely have a different way of handling this, but for now if you want an interval carried through, it has to have a type that matches the interval (i.e. type="input" for input_interval).

[2015-02-10 19:00] douglasjacobsen commented on #17
I'm not exactly sure what you mean with this.

I'd have to see examples of the two cases you described as failing to know if they should have, or what the cause was. My guess is that at a minimum the second one is a feature (i.e. you can't add variables within a package, and package variables can't be defined as scratch), but I'd need more information to be sure.

[2015-02-10 19:54] jonwoodring commented on #16
I had set it to "none" from advice of @mark-petersen, because we agreed it shouldn't be output by default, but I wanted to set some output_interval defaults in case someone did turn it on.

[2015-02-10 19:58] jonwoodring commented on #17
My expectation that was that I could create a scratch variable anywhere, and so the first thing I had tried was creating one with *persistence="scratch"* inside of a package. This never compiled (I don't have the compilation logs anymore). I put these inside the *amOkuboWeiss* variable definitions in *Registry_okubo_weiss.xml*

My second attempt was to create one inside of a *<var_struct name="scr

[2015-02-10 20:01] douglasjacobsen commented on #17
The only place you can define variables is within a `<var_struct ... > ... </var_struct>` block. You can create a variable, and attach a package to it, but you can't define variables within a package.

I'd have to see the examples from the second case to know if it's a real issue or just incorrect usage. But I think I can say pretty certainly (if my understanding is correct) that the first is just

[2015-02-10 23:19] jonwoodring commented on #17
So, putting a scratch variable in *\<var_struct name="amOkuboWeiss" time_levs="1" packages="amOkuboWeiss"\>* doesn't work due to the *packages* tag?

This is where I had put it when I meant packages, not in *\<package name="amOkuboWeiss"...* If you look at [Registry_okubu_weiss.xml](https://github.com/jonwoodring/MPAS-Release/blob/aab94cd7841d6eef6e309627af31064f5e318d5a/src/core_ocean/analysis_me

[2015-02-10 23:25] jonwoodring commented on #17
And a little more clarification on the second one, this was my assumption:
- if I create a *\<var_struct name="scratch"\>* inside of *Registry_foo.xml*, those variables will be added to the "scratch" namespace

Is it not possible to add more variables to an existing *var_struct* namespace if they live in two different registry files, or do *var_struct* names need to be unique per registry xml?

[2015-02-11 01:21] douglasjacobsen commented on #16
Yeah, that's a sensible thing to do. It's just the translation from Registry.xml to streams.ocean_forward currently only transfers intervals for streams that share the same time.

This will probably be changed before our next release though.

[2015-02-11 01:37] douglasjacobsen commented on #17
Oh, yes. I understand more what you were doing now. I think examples like this would benefit from having the registry files that caused the issues.

But you're correct. You can't have the packages tag on a var_struct if the var_struct contains scratch variables. I can add something for us to think about as far as changing this (i.e. a scratch variable ignores packages....) but it can get confusing

[2015-02-11 01:43] jonwoodring commented on #17
Actually, that’s pretty easy to test. If you take my current branch, and change “okuboWeissScratch” to “scratch” in Registry_okubo_weiss.F, it should crash at the first mpas_allocate_scratch_field call in mpas_ocn_okubo_weiss.F.

I verified this by allocating an existing field that exists in “scratch” in Registry.xml. That worked just fine.

The scratch variables that I defined in “scratch” var_st

[2015-02-11 02:04] douglasjacobsen commented on #17
So, were you making the entire var_struct scratch?

i.e. changing:
`<var_struct name="okuboWeissScratch" time_levs="1">`

to

`<var_struct name="okuboWeissScratch" time_levs="1" persistence="scratch">`

?

If that's the case, then currently framework doesn't allow var_structs to be marked as scratch. Only `<var` and `<var_array` blocks can be marked as scratch. But that just causes all variables w

[2015-02-11 02:34] jonwoodring commented on #17
No sorry, the name was "scratch," i.e., <var_struct name="scratch"...

The variables inside were persistence="scratch" I'll make a branch or a gist tomorrow. I think that will help.

Jon

________________________________________
From: Doug Jacobsen
Sent: Tuesday, February 10, 2015 7:04:11 PM
To: MPAS-Dev/MPAS-Release
Cc: Woodring, Jonathan Lee
Subject: Re: [MPAS-Release] unable to create a scratch

[2015-02-11 02:39] douglasjacobsen commented on #17
Sure. I'd like to see a branch or a gist to test it out. Just a note, if you just change the name to scratch, it won't work in your code, because you're attempting to get the fields from a different pool (that doesn't exist anymore).

[2015-02-11 15:44] jonwoodring commented on #17
Oh good point. I'll make a patch for both cases.

Jon

________________________________________
From: Doug Jacobsen
Sent: Tuesday, February 10, 2015 7:39:23 PM
To: MPAS-Dev/MPAS-Release
Cc: Woodring, Jonathan Lee
Subject: Re: [MPAS-Release] unable to create a scratch variable in existing scratch group or a package group (#17)

Sure. I'd like to see a branch or a gist to test it out. Just a note, i

[2015-02-11 23:13] jonwoodring commented on #16
Hmm. OK.

So, doing the first case, putting scratch variables inside of *var_struct name="amOkuboWeiss"* failed with this message:

For the second case, putting the variables inside of "scratch," I'm finding it to work now at least with 16 cores. I'm scaling it up now to see if it crashes at a higher core count. I will let you know if it works.

Though, when I originally tried it, it was based off

[2015-02-11 23:18] jonwoodring commented on #17
Hmm. OK.

So, doing the first case, putting scratch variables inside of *var_struct name="amOkuboWeiss"* failed with this message:

For the second case, putting the variables inside of "scratch," it's working now. I'm finding it to work now at least with 16 cores. I'm scaling it up now to see if it crashes at a higher core count. I will let you know if it works.

Though, when I originally tried it

[2015-02-12 04:16] douglasjacobsen commented on #17
@jonwoodring Thanks for testing this. It sounds like those are both expected results from the tests. I can't think of anything that would have changed this between 3.2 and 3.3, but it's possible. I don't know that it's worth going back and trying to find the issue since it appears fixed, so I'm going to mark this as closed.

Let me know if you're like me to open it and look into the problem more.

[2015-02-12 04:16] #17 closed

[2015-02-19 16:21] cponder opened #18 "Nonstandard use of INCLUDEPATH in PIO build"
(I was told to log these PIO issues here, if this is not the right forum can you please direct me to the right one? -- thanks)

The variable INCLUDEPATH is used by the PIO cmake but is not documented in the --help output.
Ordinarily I would expect this variable to be used in the form dir1:dir2:.... which is how some of the modules on our system are setting it.
The PIO build, however, is expanding

[2015-02-19 16:31] cponder opened #19 "Mismatched argument lists to nf90_create in PIO build"
(I was told to log these PIO issues here, if this is not the right forum can you please direct me to the right one? -- thanks)

I'm building PIO 1.7.1 with the following components

NetCDF 4.3.3-rc2  (the 4.3.2 had problems)
NetCDF-Fortran 4.4.1
PNetCDF 1.6.0
OpenMPI 1.8.4

and running into a parameter mismatch with calls to the nf90_create function.
This happens with the following compilers

Inte

[2015-02-19 16:33] cponder commented on #19
Here are three possibilities I can think of:
1. Is  --enable-mpiserial the only mode that works right now?
2. Does NetCDF-Fortran-4.4.1 define the **nf90_create** differently than the version you are used to building against?
3. When I built NetCDF/PNetCDF/NetCDF-Fortran libraries, was there a flag I needed to use to generate a compatible definition of nf90_create?

[2015-02-19 17:51] douglasjacobsen commented on #19
@cponder Are you trying to build MPAS? I think if these issues are only related to PIO, you should be reporting them here: https://code.google.com/p/parallelio/

[2015-02-19 18:13] cponder commented on #18
Ok I put it in the PIO mailing-list:

https://groups.google.com/forum/#!topic/parallelio/FGRp144EYc4

[2015-02-19 18:25] cponder commented on #19
Ok, I moved it over here:

https://groups.google.com/forum/#!topic/parallelio/XW0R4zCOjFQ

[2015-02-19 18:25] douglasjacobsen commented on #19
Thanks!

[2015-02-19 18:25] #19 closed

[2015-02-19 18:25] douglasjacobsen commented on #18
Thanks!

[2015-02-19 18:25] #18 closed

[2015-02-20 17:40] jonwoodring opened #20 "Add all gather to mpas_dmpar"
This would be useful to have to coalesce eddy connected component data in the ocean Okubo-Weiss analysis member.

The cross processor communication is currently implemented with a dmpar max reduce to gather the eddy statistics, but it would be cleaner with an all gather. This is because with a max reduce, the input array has to be as big as the output array, and properly initialized to negative va

[2015-02-24 15:20] cponder opened #21 "NetCDF-Fortran not linking"
I'm getting the following linkage errors in the MPAS-A 3.3 build:

    undefined reference to `netcdf_mp_nf90_inquire_'
    undefined reference to `netcdf_mp_nf90_inquire_attribute_'
     undefined reference to `netcdf_mp_nf90_inq_attname_'
    undefined reference to `netcdf_mp_nf90_inq_varid_'
    undefined reference to `netcdf_mp_nf90_inquire_variable_'
    <etc.>

When I try the compile-command

[2015-02-24 15:30] douglasjacobsen commented on #21
@cponder: It looks like you're trying to build the atmosphere model, so you should probably look at their [users guide](http://www2.mmm.ucar.edu/projects/mpas/mpas_atmosphere_users_guide_3.0.pdf)

Chapter 3 has instructions for how to build the model, but the short answer to your question is that all netcdf libraries must be installed in the same location and you pass that location using the NETCD

[2015-02-24 15:31] cponder commented on #21
The PIO, NETCDF and PNETCDF variables are already set in my envoronment.
Note that NetCDF-C and NetCDF-F are no longer bundled-together, and are released with different version numbers.
Do you have a NETCDF_F environment variable?

[2015-02-24 15:31] douglasjacobsen commented on #21
@cponder No, you have to install NetCDF-C and NetCDF-F into the same directory. Even if they have different version numbers.

[2015-02-24 15:32] cponder commented on #21
Why don't you just fix the Makefile?

[2015-02-24 15:34] douglasjacobsen commented on #21
@cponder Most of our builds use older netcdf libraries that are bundled together. It's possible for us to change the Makefile to have a NETCDF_F flag in the future, but it likely won't happen in a short amount of time.

[2015-02-24 15:37] cponder commented on #21
I don't get why the compiler doesn't pick up the
     -L$NETCDF_F/lib -lnetcdff
settings from the  LDFLAGS or FCFLAGS variables, are you clearing these?

[2015-02-24 16:42] douglasjacobsen commented on #21
It's not that we're clearing them. We just don't use them. So, setting these variables doesn't affect the build at all.

[2015-02-24 17:30] cponder commented on #21
This patch to the top-level Makefile worked:

    269 ifneq "$(NETCDF_F)" ""
    270         CPPINCLUDES += -I$(NETCDF_F)/include
    271         FCINCLUDES += -I$(NETCDF_F)/include
    272         LIBS += -L$(NETCDF_F)/lib -lnetcdff
    273 endif

Note that (1) it only uses the NETCDF_F it is set, and the

    263         ifneq ($(wildcard $(NETCDF)/lib/libnetcdff.*), ) # CHECK FOR NETCDF4

check

[2015-02-24 17:42] cponder commented on #21
This is changes more lines but I think is cleaner overall

    257 ifneq "$(NETCDF)" ""
    258         CPPINCLUDES += -I$(NETCDF)/include
    259         FCINCLUDES += -I$(NETCDF)/include
    260         LIBS += -L$(NETCDF)/lib -lnetcdf
    261         ifneq ($(wildcard $(NETCDF)/lib/libnetcdff.*), ) && ifeq "$(NETCDF_F)" "" # CHECK FOR NETCDF4
    262                 NETCDF_F=$(NETCDF)
    263

[2015-03-04 03:13] cponder commented on #21
Doug -- I'm having trouble building the PIO library with OpenMPI.
Has MPAS-A only been tested with the Intel compiler & Intel MPI?

         -- Carl

-----------------------------------------------------------------------------------
This email message is for the sole use of the intended recipient(s) and may contain
confidential information.  Any unauthorized review, use, disclosure or distributio

[2015-03-04 03:19] mgduda commented on #21
@cponder We've primarily used MPICH with MPAS-Atmosphere, though I believe a number of MPAS-Ocean developers use OpenMPI. Generally, I don't think there's a preference on the MPAS side for any particular MPI implementation. If this is an issue in building PIO, however, you might like to get in contact with the PIO developers, since PIO is a library developed completely independently from MPAS.

[2015-03-04 23:10] jonwoodring opened #22 "mpas_ocn_TEMPLATE.F has a subroutine that isn't in use anymore"
@mark-petersen ocn_init_alarms_TEMPLATE line 193 in mpas_ocn_TEMPLATE.F in analysis members is not used any longer.

[2015-05-11 02:44] raycao88124 opened #23 "PIO error when procs = 1024"
Hi,

[code]

 box_rearrange::compute_dest:: INFO io          349  start=                    1              1895877  count=                   40                 5448
 box_rearrange::compute_dest:: INFO io          350  start=                    1              1901325  count=                   40                 5448
 box_rearrange::compute_dest:: INFO io          351  start=                    1

[2015-05-12 17:31] mgduda commented on #23
@raycao88124 , which MPAS core (model) are you running, and which mesh are you using? Are you able to successfully run using other MPI task counts, i.e., is it only 1024 tasks that fails?

[2017-05-25 00:28] hellyj opened #24 "Problem building PIO2 dependency"
Aloha. I'm attempting to build MPAS dependencies using Intel compilers and have gotten through HDF5, netCDF4, netCDF4-Fortran, parallel-netcdf and am now attempting to build ParallelIO-pio2_2_1 using the following script.

CC=mpicc FC=mpif90 cmake -DPnetCDF_PATH=/home/hellyj/src/parallel-netcdf-1.8.1/Build \
                            -DNetCDF_C_PATH=/home/hellyj/src/netcdf-4.4-parallel \

[2017-05-25 20:14] mgduda commented on #24
In the current (v5.1) release of MPAS, support for the PIO 2.x library isn't working, and instead, you'll need to use PIO 1.x. We have the most experience with PIO 1.7.1 and 1.9.23. Here are the steps that I use to install all library dependencies:
[code]
Some adaptation of these steps may work for the Intel compilers, too.

[2017-05-25 20:19] hellyj commented on #24
Thanks. Much appreciated.

[2017-07-10 10:16] rphani opened #25 "test cases failing (1-4)"
Hi,

I am trying to understand the dynamical core of the MPAS model and trying to run the test cases. I could run supercell and Mountain wave (cases 5,6) easily but having trouble with the 1-4 test cases where I am encountering with floating-point error and core dumps. Below are the errors. Is this error something to do with the flags or single/double precision? The have tried with 1-4 cases with

[2017-07-10 18:15] #24 closed

[2017-07-10 18:19] mgduda commented on #25
Are you compiling with `DEBUG=true`? If so, do the test cases run when you clean and re-compile without this option? My first guess is that there are some otherwise harmless floating-point exceptions that are causing the code to stop when floating-point trapping is enabled by the debug build. Also, which compilers are you using?

[2017-07-11 10:30] rphani commented on #25
Thanks. You are right, I was compiling with DEBUG=true.
Now the inti_atmosphere has run.
I was using mpiifort.
It worked.

[2017-11-23 06:35] suzhongyue opened #27 "The atmosphere_model stuck and no results"
The compilation process has been completed, and produced init_atmosphere_model and atmosphere_model file. The init_atmosphere_model file run and produced static.nc and init.nc.
When used the mesh of x1.2562.grid.nc, the output is right. My problem is no results when using mesh of x1.655362.grid.nc and x1.40962.init.nc.

Additionally please enter this information if applicable:
 - Compiler and vers

[2018-02-07 19:24] yuan2lian2 opened #28 "virtual potential temperature formula error"
Hi, I just noticed that the equation calculating the virtual potential temperature has an error in it.

Formula used in current MPAS atmosphere:  theta_m = ( 1 + R_v/R_d*qv ) * theta
Correct formula: theta_m = ( 1 + ( R_v / R_d - 1 ) * qv ) * theta

In above equation: theta_m is virtual potential temperature, theta is potential temperature,
R_v is gas constant for vapor, R_d is gas constant for dr

[2018-02-08 00:07] skamaroc commented on #28
Dear Dr. Lian,

The moist potential temperature in MPAS, denoted theta_m, is not supposed
to be the virtual potential temperature, typically denoted theta_v.  The
definition of theta_m allows for it to be directly used in the equation of
state and the pressure-gradians terms in the MPAS momentum equations, and
that is why we have chosen this form.  If you examine the paper describing
MPAS-Atmosphe

[2018-02-08 00:08] #28 closed

[2018-02-08 02:34] yuan2lian2 commented on #28
Hi Bill,

Thanks for the clarification. I was confused for not paying attention to the papers.

Best,
Yuan

[2018-05-01 20:29] pwolfram opened #34 "Recommended library stack for mpi, netcdf, parallel-netcdf, & PIO versions"
# Background

Previously, there have been some incompatibilities between different versions of netcdf (and its bindings), parallel-netcdf, and PIO.  I've reconciled this by "tagging" the versions to known numbers that work at https://github.com/pwolfram/homebrew-mpas, namely with the following installation recipe.

# Installation
Run `./install.sh` to install brew and taps needed for this installa

[2018-05-01 21:01] vanroekel commented on #34
@pwolfram why such an old version of pnetcdf?  I would recommend 1.8.1

[2018-05-01 21:14] pwolfram commented on #34
@vanroekel, what other versions are you using with pnetcdf 1.8.1?

[2018-05-02 20:28] pwolfram commented on #34
@tpeterka and @hguo tried this recently with PIO2 but didn't have success due to runtime errors.

I'm curious to hear what @mgduda and @mark-petersen use for their software stack.

[2018-05-02 20:36] tpeterka commented on #34
Correct. We built the mpas-o with PIO2, but it crashed during running. Building with PIO 1.7.2 solved that problem. We didn't need quite so old versions of netcdf and pnetcdf, however. We used netcdf 4.4.1.1 and pnetcdf 1.8.1 successfully. This is for the ocean forward model. I don't know anything about the tools or the rest of the code, though.

[2018-05-02 21:26] vanroekel commented on #34
I have used the following combinations routinely

intel/17.0.1 -- openmpi/1.10.5 (or mvapich2/2.2) -- netcdf/4.3.3.2 (4.4.1 is fine too) -- parallel-netcdf/1.8.1 pio/1.7.2 (pio/1.9.1 is fine too)

gcc/5.3.0 -- openmpi/1.10.5 -- netcdf/4.4.1 -- parallel-netcdf/1.8.1 -- pio/1.7.2  -- These are the versions in my MPAS docker image

I've never tried pio2.

[2018-05-03 21:54] mgduda commented on #34
For what it's worth, I've been recently using:

* MPICH 3.2
* HDF5 1.8.19
* netCDF (C) 4.4.1.1
* netCDF (Fortran) 4.4
* parallel-netCDF 1.8.1
* The latest PIO2 code from https://github.com/NCAR/ParallelIO

[2018-05-03 22:02] mgduda commented on #34
Also, because it took a few iterations to converge on this recipe, here's how I've been installing PIO2:
[code]
Of course, change `/somewhere/pio2` to the location you'd like to install PIO2.

[2018-05-23 15:31] mark-petersen opened #45 "LIGHT tests fail using intel debug"
V6.1 tag (b777c064 on ocean/develop) has runtime failure on grizzly with intel debug for these tests:
[code]
All tests pass for gnu optimized and intel optimized.

[2018-05-23 15:46] mark-petersen commented on #45
@pwolfram I'd put this at mid-priority, to be done in the next few weeks.  It only affects LIGHT, and only in debug.  There is a chance optimized have error and don't report it.

Here are my modules: `module purge; module load git; module use /usr/projects/climate/SHARED_CLIMATE/modulefiles/all/;module load python/anaconda-2.7-climate;module load intel/17.0.1 openmpi/1.10.5 netcdf/4.4.1 parallel-n

[2018-05-23 16:16] mgduda commented on #1
Since this issue is from 5 years ago (as of 2018), and since the MPAS code has changed substantially since this issue was opened, I'll go ahead and close it to keep the list of open issues relevant.

[2018-05-23 16:16] #1 closed

[2018-05-23 16:19] mgduda commented on #4
@hrwinterbottom Thanks very much for this. It's good to know that the issue seemed related to the PGI 12.5 compilers. Since this issue is almost 5 years old, I'll go ahead and close it.

[2018-05-23 16:19] #4 closed

[2018-05-23 16:27] mgduda commented on #9
@rcwxok Apologies for not addressing this issue years ago! Since this issue is now 3 years old, I'll go ahead and close it; but, if you're still finding model failures with the most recent MPAS code, please feel free to re-open this issue or to create a new issue.

[2018-05-23 16:27] #9 closed

[2018-05-23 17:46] pwolfram commented on #45
@mark-petersen, I'm investigating.

Is this error expected?  This is just with ocean/develop and `make clean CORE=ocean ifort  DEBUG=true` using `module purge; module load git; module use /usr/projects/climate/SHARED_CLIMATE/modulefiles/all/;module load python/anaconda-2.7-climate;module load intel/17.0.1 openmpi/1.10.5 netcdf/4.4.1 parallel-netcdf/1.5.0 pio/1.7.2`

[code]

[2018-05-23 17:49] pwolfram commented on #45
The error above is likely more a symptom than a cause, but the array temporary issue is probably worth fixing so it is useful information.

[2018-05-23 17:59] pwolfram commented on #45
#46 fixes the error about `CRITICAL ERROR: Trying to stop timer storeSingleParticleStats when computeLPT is the most recently started timer.` from above.

[code]

[2018-05-23 20:21] pwolfram commented on #45
The other two issues with time and region resets were noted in https://github.com/MPAS-Dev/MPAS/issues/1488.  The issue is that velocity fields are set in essentially a debug mode without actual dynamics, leading to the following error

[code]

This is because quantities like the layer thickness are attempted to be updated, even though
[code]
are set.  This is fixed in https://github.com/MPAS-Dev/

[2018-05-24 02:59] mark-petersen commented on #45
@pwolfram thanks for your quick work on this.
The global stats thing is a warning that only shows up in debug mode:
[code]
This occurs when you pass in an implicit array like this: `activeTracersSurfaceFlux(2,1:nCellsSolve)` into a subroutine, because Fortran makes a temporary array.  I'll make an issue right now.  I was going to have Sid and Chad do a few of these little clean-up projects to get

[2018-05-24 03:04] mark-petersen opened #48 "Global Stats warning"
When compiling with Intel debug, warnings are printed every time global stats is called:
[code]
This occurs when you pass in an implicit array like this: `activeTracersSurfaceFlux(2,1:nCellsSolve)` into a subroutine, because Fortran makes a temporary array.  The solution is to make a temporary array ourselves, and pass in a full array.

Error occurs in MPAS V6.

[2018-05-24 03:05] mark-petersen commented on #48
This has been around for a long time, but came up in #45.

[2018-05-24 08:11] xylar commented on #45
@mark-petersen and @pwolfram, is there really an advantage to explicitly allocating a temporary array, other than that it makes the warning go away?  Why not just live with the warning?

[2018-05-24 08:12] xylar commented on #48
As I commented in #45, why not just live with the warning?

[2018-05-29 14:22] pwolfram commented on #48
I think we should keep this on our radar.  Array temporaries are not best practice because they introduce inefficiencies, compiler warnings, and also cause confusion when other issues arise, as happened in the previous issue.  This is obviously not a top priority, but it should be fixed as part of code hygiene.  It is a great thing for someone just learning MPAS / MPAS-O to go and fix because it i

[2018-05-29 15:15] xylar commented on #48
@pwolfram, I believe @mark-petersen's solution was just to manually allocate the temporary array (which gets rid of the warning but not really the problem the warning was pointing out).  I don't see the advantage in doing that.  If I understand right, you're suggesting that the solution instead would be to make the function being called aware of the portion of the array it's allowed to use?

[2018-05-30 18:50] xylar opened #50 "In Compass, path to model invalid with MPICH 3.3a2"
When I run a Compass test case with MPICH 3.3a2 installed on my laptop (running Ubuntu 18.04), I get the error (the first line repeated once for each MPI task):
[code]

The solution seems to be changing from `ocean_model` to `./ocean_model`.

I was able to get this result by changing this line:
https://github.com/MPAS-Dev/MPAS-Model/blob/master/testing_and_setup/compass/setup_testcase.py#L1086
as

[2018-05-30 18:52] xylar commented on #50
@mark-petersen, @matthewhoffman, @vanroekel and @pwolfram, you seem the most likely to have run into this problem.  Does it look familiar or am I deviating from known recipes by using MPICH?

[2018-05-30 18:54] pwolfram commented on #50
My understanding is that MPICH is to be supported.  I vaguely recall running into this issue a long time ago in grad school and I believe I did what you did here.

If you check for the executable "x" bit on ocean_model is it there?  I think this is a pretty strange issue but don't believe the `./ocean_model` syntax will cause a problem in general.

[2018-05-30 19:00] xylar opened #51 "Building with system-installed NetCDF libraries on Linux"
In setting up MPAS on my laptop (Ubuntu 18.04), I decided to avoid the hassle of compiling NetCDF libraries myself and used the default versions that come with the Ubuntu package manager.  This worked well except one hiccup.  The library files are placed in:
[code]

I was able to get MPAS-O to build by setting
[code]
but this seems to somewhat defeat purpose of all the fancy automation in the Make

[2018-05-30 19:02] xylar commented on #50
[code]
Yep, that's not it.

[2018-05-30 19:33] vanroekel commented on #50
First, I have used mpich2 previously to build/run MPAS without issue.  I don't recall seeing this issue, but I think I may have always invoked with ./ocean_model

[2018-05-30 19:53] mgduda commented on #50
It's possible that the issue is just that "." is not in your path (and many argue it shouldn't be). If you run
[code]
(or the equivalent for csh/tcsh) are there any issues?

[2018-05-30 19:54] matthewhoffman commented on #50
@xylar , is this issue related to these files in any way?
https://github.com/MPAS-Dev/MPAS-Model/tree/master/testing_and_setup/compass/runtime_definitions

[2018-05-30 21:38] xylar commented on #50
@mgduda, I am firmly in the camp that doesn't think having '.' in your path is a good move.  I'd prefer not to have to go with that solution.

[2018-05-30 21:39] xylar commented on #50
@matthewhoffman, I looked into those files but they don't actually give you a way to add the './' that I can see.  This would have to be done in `setup_testcase.py` (at least as currently written).

[2018-06-01 11:17] xylar opened #52 "Building on Edison (intel-nersc)"
I'm building the current `ocean/develop` on Edison, details below.  When I run `make intel-nersc`, I'm running into an error:

[code]
The issue is that the compiler is configured for ivybridge, whereas the login nodes are sandybridge (see http://www.nersc.gov/users/computational-systems/edison/updates-and-status/open-issues/compiling-serial-codes-to-run-on-login-nodes-in-the-intel-programming-envi

[2018-06-01 14:29] xylar commented on #52
E3SM appears to solve this problem by adding the flag:
[code]
when building tools that are to run on login nodes.

[2018-06-01 15:02] philipwjones commented on #52
@xylar there is already a flag for this: when you type make, use the flag:
TOOL_TARGET_ARCH=“-target-cpu=sandybridge”

[2018-06-01 15:03] xylar commented on #52
Yep, I just figured that out.  Thanks @philipwjones.

[2018-06-01 15:03] #52 closed

[2018-06-01 20:52] xylar commented on #50
I'm running into this exact same problem on Edison and Cori with MPICH so I think it's an issue that really needs to be solved.  @mark-petersen, please let me know if you *don't* see this issue when you test next week.

[2018-06-06 16:24] milenaveneziani opened #55 "Account for bolus velocity in MOC AM when GM is turned on"
The MOC online analysis member currently does not take into account the bolus velocity component when computing the streamfunction, in cases when the GM parameterization is on. This should be added to the AM, in order to have the total MOC result.

[2018-08-03 14:20] pwolfram commented on #34
Thanks everyone for this really helpful feedback.

Has anyone gotten a compile to work with newer versions of open-mpi?  It is now in version 3 and when @mark-petersen and I tried this a year ago in July with open-mpi 2.x it did not work.

[2018-08-03 18:39] pwolfram commented on #50
I'm having this issue with mpich on my side too @xylar.  A simple fix is to adapt compass as you list above.  I'm in strong support of this solution since it doesn't, as far as I can tell, have a side effect.

[2018-08-03 18:44] pwolfram commented on #50
@xylar, I took the liberty of just making a PR for this issue.  If there isn't any group-wide disagreement, I think we can just merge #60 and close this issue.  This only affects COMPASS on the ocean side.

[2018-08-03 20:03] pwolfram opened #61 "Compass error messages should be output to terminal"
As discussed this week, compass error messages are currently suppressed and should instead be output to the terminal.

cc @xylar and @mark-petersen

[2018-08-03 20:36] pwolfram commented on #34
I'm using (following the workflow at https://github.com/pwolfram/homebrew-mpas), tested on macOS Sierra and High Sierra using the nightly test suite:
   * gcc 8.2.0
   * mpich 3.2.1
   * netcdf 4.6.1
   * netcdf-cxx 4.3
   * netcdf-fortran 4.4.4
   * parallel-netcdf 1.7.0
   * pio 1.7.2

cc https://github.com/pwolfram/homebrew-mpas/issues/4

[2018-08-05 00:27] xylar commented on #61
#62 is intended to address this issue.

[2018-08-05 00:28] xylar commented on #50
#60 is intended to address this.

[2018-08-09 13:28] #61 closed

[2018-08-09 13:28] #50 closed

[2018-08-09 13:30] xylar commented on #25
@mgduda and @rphani, can this issue be closed?

[2018-08-09 13:32] xylar commented on #23
@raycao88124, is this still an outstanding issue for you?  If so, feel free to re-open this issue and provide more information.  For now, I am closing the issue because we don't have sufficient information to provide any assistance and there has been no update in several months.

[2018-08-09 13:32] #23 closed

[2018-08-09 13:38] rphani commented on #25
Yes. It can be closed.

[2018-08-09 13:51] #25 closed

[2018-08-16 16:58] jonbob opened #66 "Rename Makefile.in.ACME to Makefile.in.E3SM"
Cleanup of naming to match E3SM project name

Pat Worley reported this in E3SM [Issue #2467](https://github.com/E3SM-Project/E3SM/issues/2467). Though it is not critical, it would be good to do at some point.

[2018-08-26 07:45] xylar commented on #55
@maltrud, I think you had said at a meeting while I was still in Los Alamos that you would be willing to help with this development, correct?  No pressure, just making sure I remember correctly.

[2018-08-28 08:42] yuan2lian2 opened #75 "MPAS atmosphere: inconsistent outputs for temperatures"
Hi,

I noticed there is some inconsistency for outputs of potential temperature and moist potential temperature in MPAS atmosphere. This happens when the output frequency is different from restart frequency.

A simple experiment:

set output frequency to "X" days, set restart frequency to "Y" days
Symptom: theta and theta_m fields are identical in output files (wrong), but different in restart fil

[2018-08-28 21:25] maltrud commented on #55
@xylar , yes you are right.  i offered to help, but of course forgot about it myself.  thanks for the reminder.

[2018-09-06 07:26] yuan2lian2 commented on #75
The issue came from my modification of the code. The second active tracer was not populated to the pv_diagnostics where the potential temperature for the dry atmosphere is updated (this will overwrite the theta calculated by atm_compute_output_diagnostics).

[2018-09-06 07:26] #75 closed

[2018-09-06 19:35] mgduda commented on #27
@suzhongyue It may be preferable to use GitHub Issues only to report specific problems in the code. However, if you're in need of assistance, it may be better to use the MPAS-Atmosphere support forum at http://forum.mmm.ucar.edu/phpBB3/.

[2018-09-06 19:35] #27 closed

[2018-09-06 19:37] mgduda commented on #10
Most of us who develop MPAS-Atmosphere have little experience with Tau at present. And, since this issue is more than 4 years old (as of September 2018), I'll go ahead and close it.

[2018-09-06 19:37] #10 closed

[2018-09-06 19:38] mgduda commented on #12
As far as I'm aware, this issue has been resolved in recent releases of MPAS-Atmosphere, so I'll close this issue.

[2018-09-06 19:38] #12 closed

[2018-09-25 23:14] pwolfram opened #88 "Update multiscale mesh generation procedure for SOMA"
The SOMA variable mesh workflow needs updating following the JIGSAW-COMPASS workflow implemented in https://github.com/MPAS-Dev/MPAS-Model/pull/74.

[2018-10-06 13:42] pwolfram opened #91 "Migrate SOMA multiresolution test case to new JIGSAW workflow"
Previously, the SOMA ocean test case used an ad-hoc approach to generating the unstructured mesh.  This workflow needs updated following #74.

[2018-10-06 13:43] pwolfram commented on #91
Duplicate of #88

[2018-10-06 13:43] #91 closed

[2018-10-18 20:04] MiCurry opened #100 "grid_rotate overwrites source file when writing to the same file"
When the source file and the destination file are the same, gird_rotate overwrites the source file. Upon running, `cp` will fail as seen below; however, immediately afterwards the source file will be opened with `nf_open()`

[code]

[The following code is culprit](https://github.com/MPAS-Dev/MPAS-Tools/blob/59302cf4c1d5bf0a6c49dc2623374c9b7ba747c4/mesh_tools/grid_rotate/grid_rotate.f90#L99):

[cod

[2018-10-18 20:09] MiCurry commented on #100
Wrong repo should be MPAS tools

[2018-10-18 20:09] #100 closed

[2018-10-21 10:46] yuemaaa opened #101 "Problem of processing the static field"
Hi, everyone
After compiling the MPAS init_atmosphere and atmosphere cores, i try to run example 'supercell'.
make a new directory
`mkdir supercell`
down load the package
`wget http://www2.mmm.ucar.edu/projects/mpas/test_cases/v5.1/supercell.tar.gz
tar zxvf supercell.tar.gz
cd supercell`
link to init_atmosphere_model
`ln -s $MPAS/MPAS-Model/init_atmosphere_model`
process the static field
`./init_a

[2018-10-22 17:43] mgduda commented on #101
Generally, requests for help in running either the `atmosphere` or `init_atmosphere` cores might be better suited to the support forum at http://forum.mmm.ucar.edu/phpBB3/ . Would you be willing to post this in the "MPAS-Atmosphere Support" section of the forum?

[2018-10-22 17:43] #101 closed

[2018-11-07 20:29] matthewhoffman opened #111 "NetCDF global attributes appear to be written on every stream manager write"
In a stream with clobber mode set to overwrite, I see evidence that netdf file global attributes are being written every time output is written.  I would think they should only be written once on init, or perhaps not at given it's an existing file.

I discovered this accidentally by doing a run, adding a new namelist option to the code and recompiling, then doing a restart writing to the same file

[2018-11-09 13:53] xylar commented on #22
This is no longer an issue.  The template for analysis members no longer has this function.

[2018-11-09 13:53] #22 closed

[2018-11-13 16:25] kaomiao opened #112 "problem of core_sw"
Hi all,

I have compiled the core_sw and successfully generated the sw_model. However, there is a crucial problem when running the ./sw_model with the x1.2562.. mesh, as following,

" CRITICAL ERROR: Dimension 'nTracers' required by field 'tracers' was neither read nor defined. "

The cofigration of namelist.sw may be right.

 How  should i solve this problem?  Any ideas will be appreciated.

THAN

[2018-11-13 22:51] #112 closed

[2018-12-07 16:12] mark-petersen opened #120 "ocean SSS restoring not working correctly"
From @maltrud: The value of the climatological SSS field that is used for SSS restoring is not being updated correctly. i ran a E3SM G-case for 15 months and while the first month agreed with the read-in climatology file, subsequent months didn't change much--certainly no seasonal cycle.

i am currently testing a version of the code from before the following commit to see if that may be the cause.

[2018-12-07 16:59] maltrud commented on #120
i just tested a case from a version of ACME i cloned Sep 28, 2017, and the SSS restoring is working correctly.

[2018-12-07 17:42] maltrud commented on #120
an interesting twist:  i just checked the fields read in when BGC is enabled, and they seem to be fine.  for example the iron flux has the expected magnitude and seasonal cycle.  makes me wonder if the problem is related to other changes made to the SSS restoring routines, and not the forcing framework changes.

[2018-12-07 19:00] xylar opened #121 "something not right with restart of timeSeriesStats(Monthly)"
I'm running the ISOMIP+ test cases and recently turned on `timeSeriesStatsMonthly`.  I run MPAS-Ocean repeatedly for one month, then update the forcing with a python script.  Initially, I was also writing out restart files for `timeSeriesStatsMonthly`.  It appears that `xtime_startMonthly` never gets updated in these circumstances (it is always the start of the simulation) and that none of the var

[2018-12-31 05:36] vanroekel commented on #120
@maltrud and @mark-petersen I think I know what the problem is here.  When the following line is called
[code]
data is read, and the forcing clock is advanced by ```dt```.  This is correct if forcing data is read every time step, but salinity is read only every ```config_surface_salinity_monthly_restoring_compute_interval```, for most runs this is 1 day.  So for a 15 month run at EC60to30, the for

[2018-12-31 15:33] maltrud commented on #120
thanks for looking into this, @vanroekel .  the forcing stuff is still a mystery to me, but your proposal sounds good.  lets give it a try.

[2019-01-04 16:18] akturner commented on #120
Hi,

So Data doesn't need to be read everytime step, but the system assumes you want a new interpolated value everytime step. Thats why the clock advances. Is this not how its being used in the ocean model?

Cheers

Adrian

________________________________
From: maltrud <notifications@github.com>
Sent: Monday, December 31, 2018 8:33:45 AM
To: MPAS-Dev/MPAS-Model
Cc: Subscribed
Subject: Re: [MPAS-D

[2019-01-04 21:53] vanroekel commented on #120
Ade,

  Yes, we are only accessing a new data value once per day instead of once per timestep to make the routine more efficient.  I think to fix this issue we can advance the forcing clock by one day instead of dt.  Do you think that would work?

Regards,

Luke

________________________________
From: Adrian K. Turner <notifications@github.com>
Sent: Friday, January 4, 2019 9:18:37 AM
To: MPAS-Dev

[2019-01-04 21:54] akturner commented on #120
Hi,

Off the top of my head, yes that should work. Let me dig around the code to confirm.

Cheers

Ade

________________________________
From: Luke Van Roekel <notifications@github.com>
Sent: Friday, January 4, 2019 2:53:42 PM
To: MPAS-Dev/MPAS-Model
Cc: Turner, Adrian Keith; Comment
Subject: Re: [MPAS-Dev/MPAS-Model] ocean SSS restoring not working correctly (#120)

Ade,

Yes, we are only accessi

[2019-01-07 17:08] akturner commented on #120
Yeah, that should be fine.

Ade

________________________________
From: Turner, Adrian Keith
Sent: Friday, January 4, 2019 2:54:30 PM
To: MPAS-Dev/MPAS-Model; MPAS-Dev/MPAS-Model
Cc: Comment
Subject: Re: [MPAS-Dev/MPAS-Model] ocean SSS restoring not working correctly (#120)

Hi,

Off the top of my head, yes that should work. Let me dig around the code to confirm.

Cheers

Ade

____________________

[2019-01-14 08:29] xylar opened #132 "Update all python scripts to support python 3"
Python 2 is going away and we need to start supporting python 3 before we run into trouble.

[2019-01-22 18:52] mark-petersen opened #137 "Memory leak in RK4"
We don't run RK4 very often. Running EC60to30 on 576 cores on grizzly with gnu optimized, it runs for 7 days and then dies with memory errors.

[2019-01-22 18:53] mark-petersen commented on #137
@xylar  and @pwolfram, I'm bringing this issue over from https://github.com/MPAS-Dev/MPAS/issues/1374 into the newer MPAS-Model repo.

[2019-01-22 18:58] mark-petersen commented on #137
This is what I see.  I am running from commit 2763249 on mark-petersen/ocean/smoothBLD_Luke_Phil_Todd.  Identical runs with split explicit do not have this problem.  I expect to see the same thing on MPAS-Dev/ocean/develop, but have not checked.
[code]

[2019-01-23 19:15] briandobbins opened #139 "MPAS-A - RRTMG_SW / kissvec initialization issue"
Hi all,

  I'm not sure whether this should be classified as an MPAS-A bug or a CESM one, as I think the RRTMG code is pulled from there, but in the 'generate_stochastic_clouds_sw' routine inside 'src/core_atmosphere/physics/physics_wrf/module_ra_rrtmg_sw.F', at line 1701, there's the following test:

    if (pmid(i,1).lt.pmid(i,2)) then
        stop 'MCICA_SUBCOL: KISSVEC SEED GENERATOR REQUIRES

[2019-01-24 17:28] sbrus89 opened #140 "Sub-domain boundary artifacts"
On the ocean/develop branch, solution artifacts appear at sub-domain boundaries in certain fields (density, kineticEnergyCell, salinity, temperature, relativeVorticityCell) as shown here

![soma_default_kineticenergy_subdomain](https://user-images.githubusercontent.com/3514023/51696015-acd06b00-1fc1-11e9-87b5-4bf52ac732f8.png)

Reproducibility information:

- commit: 575586ebc
- Modules: 1) python

[2019-01-24 17:57] pwolfram commented on #140
Thanks @sbrus89, @mark-petersen, @xylar, @vanroekel have any of you seen these types of issues with interprocessor boundaries?  This seems like something we need to resolve because it will obviously affect all our simulations.

[2019-01-24 18:17] xylar commented on #140
It does seem surprising if this issue is specific to SOMA.  At the same time, it'd be surprising if this is a general issue and we just haven't noticed it in other simulations.  It would be worth finding out if this is due to a recent change.

It has all the hallmarks of a bad halo update, but hard to be sure.

[2019-01-24 22:55] mark-petersen commented on #140
This is disturbing.  We fixed a bunch of these types of bugs very early on, and have a bfb test across two different partitions on the QU240 global in the nightly test suite.  But of course that test has a number of different settings from your tests above.

@sbrus89, as a simple test, could you turn off the time-varying forcing in your global hurricane case, and look at the ssh at that same time?

[2019-01-24 22:58] pwolfram commented on #140
@mark-petersen, we originally saw these types of effects in a wetting / drying case for the Delaware and I thought they were related to something weird I was doing there but they appear to be persistent across a variety of cases and this is on vanilla ocean/develop, which is the disconcerting thing.

[2019-01-27 18:44] soto97 commented on #24
@mgduda These are really helpful instructions.

I went to `http://www2.mmm.ucar.edu/people/duda/files/mpas/sources/` and copied your `iolib_installation.sh` script, changing the directories for my setup. I then used the same exact source code versions that you use in that script (which is slightly different from the example above) in the same order to compile the code and libraries. Unfortunately,

[2019-01-28 15:16] pwolfram commented on #140
@mark-petersen, do you have any ideas on whether we can distinguish between whether this is a stand-alone or E3SM bug?  It is clearly happening in standalone and I'm concerned it is happening in E3SM too.

[2019-01-28 16:38] vanroekel commented on #140
I took a look at SSH snapshots from a 30to10 G-case with E3SM master from 2 weeks ago and see no visible processor boundaries.

[2019-01-28 17:04] mark-petersen commented on #140
Any configuration where partition boundaries are visible would fail E3SM PEM tests (exact comparison across two runs with different partition numbers).  We test a number of those in E3SM nightly regression suite on next and master.  We have a similar test  that passes QU240 on MPAS-stand alone nightly regression test.  I'll take a closer look at this particular case today or tomorrow.

[2019-01-29 01:16] mgduda commented on #24
@soto97 Can you verify that the path to `libmpi.so.12` is included in the `LD_LIBRARY_PATH` environment variable?

[2019-01-29 16:14] xylar commented on #140
@sbrus89, I'm hoping to see if I can reproduce the original problem on Cori.  Could you tell me how long you ran the SOMA 32km test case for?  The default configuration is for 10 minute time steps but a 1 minute 30 second run duration (and output interval).  Does that mean you ran for only 1 ten-minute time step?  Or did you modify the defaults?

[2019-01-29 16:20] sbrus89 commented on #140
@xylar, good point. I forgot to mention that I ran it for 1 day with the default 10 minute timestep.

[2019-01-29 16:30] xylar commented on #140
Running SOMA 32km for one time step, I'm able to reproduce the issue with KE and vorticity but not with density, salinity and temperature.  Here are 2 examples.

KE:
![ke](https://user-images.githubusercontent.com/4179064/51923584-8eb4a180-23eb-11e9-9a44-50b2f7c59559.png)

salinity:
![salinity](https://user-images.githubusercontent.com/4179064/51923597-95431900-23eb-11e9-85a1-e56c6accb70c.png)

[2019-01-29 17:16] sbrus89 commented on #140
Could there be an issue with distributing the initial conditions, and that these perturbations contaminate other fields early on and then damp out over time?

[2019-01-29 17:56] xylar commented on #140
If true, that should still fail the tests @mark-petersen mentioned.

[2019-01-29 18:20] soto97 commented on #24
That was it. I thought the `LD_LIBRARY_PATH` was set early in the script, but apparently I had messed that up. Once I set it at the right point, I got past this error. Thanks.

[2019-01-29 18:42] pwolfram commented on #140
@xylar, was ssh ok in the case above, correct?  If so, this implies corruption of the prognostic KE that feeds back via momentum advection.

[2019-01-29 19:50] xylar commented on #140
SSH looks okay:
![ssh](https://user-images.githubusercontent.com/4179064/51935979-79e60700-2407-11e9-839d-a9c4a93c39b0.png)

[2019-01-30 00:06] sbrus89 commented on #140
@mark-petersen  Please ignore the global ocean images, @pwolfram and I were able to sort that out. I was looping over nCellsSolve instead of nCells when computing the wind stress from the time-varying wind speed (facepalm).

However, that doesn't effect the default SOMA case, there is still an issue there.

[2019-01-30 00:40] mark-petersen commented on #140
I was able to reproduce the error on the current head of `ocean/develop` 6ac5486e using
`-o ocean -c soma -r 32km -t default` with gnu on grizzly.
I ran that test case with 4 and 8 blocks, can see KE difference after one step:
[code]
here: `/lustre/scratch4/turquoise/mpeterse/runs/190129_test_soma_block_bfb/ocean/soma/32km/default`

[2019-02-04 16:33] mark-petersen commented on #140
<details>
<summary> Here is the cvmix namelist: </summary> <p>

[code]

</p>
</details>

[2019-02-04 18:04] vanroekel commented on #140
@mark-petersen this appears to be a bug in rich_mix.  The coefficients are computed to nCellsSolve/nEdgesSolve, but the new cvmix interface requires coefficients to 1-halo, so unless there is a halo update in here there will be issues.  But I wholeheartedly agree with @xylar that we should never use anything but cvmix, at least until I finish the new version.  I also support removing all mixing op

[2019-02-05 13:44] xylar opened #145 "Compass test suite reports max. MPI tasks for all configurations, not just those used in driver"
When setting up a Compass test suite, the maximum number of MPI tasks is reported as part of the final output after the suite has been set up.  However, the driver script (`config_driver.xml` that produces `run_test.py`) may only include a subset of the configurations available in a given test case (e.g. `forwrad_short` but not `forward`).  In many cases, it might be desirable to have a larger num

[2019-02-08 23:58] pwolfram opened #154 "`config_hmix_scaleWithMesh` default value should be true for generality"
Is there any reason why `config_hmix_scaleWithMesh` should be defaulting to false?  Given most of our use cases, I would argue it should be set to true because we are largely running multiscale simulations with the exception of idealized "test cases".  We implicitly assumed this and if it were actually true as I believe it should be, our debugging would have been a lot easier.

I’m interested in r

[2019-02-11 15:26] pwolfram opened #155 "Cleanup of forward mode restart switch"
As noted in #123, cleaning up forcing logic may be worth considering for restarts (https://github.com/MPAS-Dev/MPAS-Model/pull/123/files#diff-9ab8e70ff214bd7d2173e45491e8ac94R638), e.g.,:

[code]

cc @xylar and @sbrus89

[2019-02-26 02:07] xylar opened #163 "Bug in melt rate computation in "coupled" mode"
There is a bug in "coupled" mode here:
https://github.com/MPAS-Dev/MPAS-Model/blob/e3sm/develop/src/core_ocean/shared/mpas_ocn_surface_land_ice_fluxes.F#L810-L813
where T0 is accessed before it is computed.

[2019-02-27 00:51] xylar opened #166 "Dependencies of a proposed compass conda environment"
Packages:
- [ ] mpas_mesh_tools (https://github.com/MPAS-Dev/MPAS-Tools/pull/248):
  - [x] mesh conversion tools (https://github.com/MPAS-Dev/MPAS-Tools/pull/243)
  - [ ] `mark_horns_for_culling.py` (?) (https://github.com/MPAS-Dev/MPAS-Tools/pull/249)
  - [x] planar hex (https://github.com/MPAS-Dev/MPAS-Tools/pull/246)
  - [ ] 4 scripts from landice mesh tools (https://github.com/MPAS-Dev/MPAS-To

[2019-02-27 00:54] xylar commented on #166
This issue is meant to help me, @mark-petersen, @matthewhoffman and other keep track of the process of creating a conda environment for setting up and running COMPASS test cases.  The conda environment is supposed to make it easier to set up and keep track of the dependencies (geometric features, mesh conversion tools, etc.) that are required to build COMPASS test cases so that relative non-expert

[2019-02-27 01:10] xylar commented on #166
@matthewhoffman, it doesn't look like we use `mark_horns_for_culling.py` in ocean COMPASS.  I didn't see int in land-ice COMPASS either.  Do you use it elsewhere and it is worth including in `mpas_mesh_tools`?

[2019-02-27 01:13] xylar commented on #166
@mark-petersen and @pwolfram, can you help me figure out what Jigsaw related tools need to go into `mpas_mesh_tools`?

[2019-02-27 01:16] xylar commented on #166
@dengwirda, it would be great to have a conversion at the March E3SM meeting (if not before) about what the path would be to getting the necessary Jigsaw tools themselves in a form where they could be part of the conda environment.

[2019-02-27 14:15] dengwirda commented on #166
@xylar I'm trying to make my way through `COMPASS` at present, so it's a good time to work on this I think. (For the non-conda proficient) what details do you need in terms of `JIGSAW`? There are no external dependencies involved, and the build process is essentially a one-liner with `g++`...

I'll be at the E3SM meeting next month, but it'd be great to work on this over the coming weeks. I'd like

[2019-02-28 16:25] xylar commented on #166
@dengwirda, thanks for the feedback.

I would be eager to make a conda-forge recipe for JIGSAW with your permission.  This would build and distribute JIGSAW automatically as part of any conda environment that listed `jigsaw` as a dependency or someone could ask for it explicitly with something like:
[code]
This would create a virtual environment called `jigsaw` with the `jigsaw` package installed

[2019-02-28 16:34] mark-petersen commented on #137
I am working with @hrmoncada to find the memory leak. He is working with both valgrind and totalview on LANL IC.  He is running simple examples to get practice, and then trying to find memory leaks in MPAS-Ocean with both split explicit and RK4.

We are having trouble, though. The valgrind output is very hard to interpret, and only gives total memory leak numbers.  We have struggled with totalview

[2019-02-28 22:24] amametjanov commented on #137
Here is an E3SM test on Anvil:
[code]
And there appear to be no leaks in the default configuration:
[code]

Line numbers are printed for local sources: e.g.
[code]
Full log is at
[code]

[2019-03-01 00:21] xylar commented on #137
@amametjanov, I'm pretty sure E3SM is only configured to run MPAS-Ocean with split-explicit time stepping (@mark-petersen or @jonbob, please correct me if I'm wrong).  So I don't think the above test would have caught the RK4 memory leak we're concerned about.

[2019-03-01 16:36] philipwjones commented on #137
@hrmoncada and @mark-petersen - can you point me to valgrind output on IC?  And were you running with @amametjanov 's arguments (ie track-origins)?

[2019-03-04 06:15] xylar commented on #166
@mark-petersen, I could use your help figuring out which scripts from MPAS-Tools are needed somewhere in COMPASS.  I need this list to update https://github.com/MPAS-Dev/MPAS-Tools/pull/248 to include all these tools so we don't need to have the COMPASS user check out MPAS-Tools.

[2019-03-07 00:01] xylar opened #176 "Bathymetry from JIGSAW being used in base_mesh.nc"
In COMPASS global_ocean test cases there is a step in build_mesh.py:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/jigsaw_to_MPAS/build_mesh.py#L60-L64
where we "inject" the bathymetry from a topography file into the mesh.  This topography appears to come from JIGSAW:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/oce

[2019-03-07 00:03] xylar commented on #176
Here's an example of the "base" land mask coming from the JIGSAW topography:
![image](https://user-images.githubusercontent.com/4179064/53922470-b1148d00-4031-11e9-96a1-eb1431610933.png)
Not a good starting point...

[2019-03-07 00:04] xylar commented on #176
Likely also a source of weirdness around the Canadian Archipelago:
![image](https://user-images.githubusercontent.com/4179064/53922508-e15c2b80-4031-11e9-89de-e615bdb37ed4.png)

[2019-03-07 13:45] mark-petersen commented on #176
The inject_bathymetry.py script was made to be able to visualize some bathymetry on a full spherical mesh. It was just meant to assist visualization of the location of refined meshes relative to coastlines in that first step with jigsaw.

@sbrus89 and @pwolfram, did you use the bathymetry in the file `earth_relief_15s.nc` for coastlines for the CONUS mesh, or was that just for early testing?  Or i

[2019-03-07 14:18] pwolfram commented on #176
@mark-petersen, I need this key information to do the wetting / drying globally and particularly for the Delaware mesh.  Please do not comment this out because we need this information for the full run and it is also, as you mention, extremely helpful for debugging too.  There is probably a better way to deal with this long term but please don't remove this functionality until we have the long ter

[2019-03-07 14:18] pwolfram commented on #176
cc @sbrus89 and @xylar

[2019-03-07 14:20] pwolfram commented on #176
The long and short of it is that we need to be able to build the mesh based on topographic constraints based on elevation and this was solution employed.  I don't believe we have a similar functionality but given this discussion that might have changed, especially over the last several weeks I've been gone.  Any clarification here would be helpful; I agree we want the most robust solution possible

[2019-03-07 14:26] xylar commented on #176
@pwolfram, why is it necessary to set the `cullCell` array?  This is the step that is causing problems and would need to be "undone" in the `cull_mesh` stage.

[2019-03-07 14:30] xylar commented on #176
I agree that the mesh can be created using this topography if you like.  It is not the same topography we use for the bathymetry, which is potentially problematic especially around Antarctica, but for CONUS, for example, it is probably just fine.

The problem arises from setting `cullCell`.  If that array is being used in some way to create the mesh, it is not the right field to use because it rea

[2019-03-07 14:37] xylar commented on #176
If the `cullCell` functionality is needed, one option is for `inject_bathymetry.py` to be called only by the Deleware Bay test case and not by anything in `global_ocean`, in which case we can leave it alone.  Another would be to have a flag or break the functionality into two scripts such that the bathymetry can be added to some meshes without setting `cullCell`.

In any case, the need for a solut

[2019-03-07 14:45] xylar commented on #176
The preferred way to cull cells for the global ocean is this script:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/cull_mesh.py
If this would also work for Delaware Bay, I think that would be preferable.

[2019-03-07 15:07] xylar commented on #176
@pwolfram, could you point me to the Delaware Bay test case so I can take a look at how you use `inject_bathymetry.py`?  I hunted around on your various branches and didn't see the test case even on the branches with "Delaware Bay" in the name.

[2019-03-07 16:41] sbrus89 opened #178 "JIGSAW-produced meshes not BFB reproducable"
Meshes produced with the JIGSAW workflow vary between runs. This is most likely due to using an approximate nearest neighbor search to find the distances to the coastline which are then used to specify resolution input to JIGSAW.

[2019-03-07 16:47] sbrus89 commented on #178
Here's the module import:
https://github.com/MPAS-Dev/MPAS-Model/blob/0040864d4a2c16d7268af8eb644c6bd1ed24f313/testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py#L11

Here's where the search object is created:
https://github.com/MPAS-Dev/MPAS-Model/blob/0040864d4a2c16d7268af8eb644c6bd1ed24f313/testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py#L452-L456

Here's where the

[2019-03-07 17:14] xylar commented on #178
Thanks @sbrus89.  I'm going to see if I can figure out how to set the random seed to a fixed value.  @jonbob has complained as well about the lack of reproducibility.  It means a lot of pointless regeneration of mapping files.

[2019-03-07 17:25] xylar commented on #178
Reading the pyflann code:
https://github.com/mariusmuja/flann/blob/master/src/python/pyflann/index.py#L88
The random seed is omitted.  According to [numpy documentation](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.RandomState.html#numpy.random.RandomState):

The fix should be as simple as calling:
[code]

@sbrus89, could you try this and let me know how it goes?  It should be

[2019-03-07 17:33] sbrus89 commented on #178
@xylar, Thanks for looking into this. I feel bad that this has created extra work for @jonbob. It seems like your suggestion should fix the issue. I'll test and let you know what happens.

[2019-03-07 17:50] xylar commented on #178
Didn't work.

Let's try
[code]

[2019-03-07 19:10] sbrus89 commented on #178
@xylar, that seems to work! At least the input to JIGSAW is now BFB between runs.

[2019-03-07 19:25] xylar commented on #178
Great!  If you could test the full production on a smaller grid and make sure 2 runs produce the same final mesh, that would be tremendously helpful!

Could you also make a PR with these changes?

[2019-03-07 21:18] sbrus89 commented on #178
@xylar, I verified that the CONUS mesh was BFB in two subsequent runs. I also put in a pull request (#180).

[2019-03-08 20:58] #176 closed

[2019-03-08 20:59] #178 closed

[2019-03-08 21:45] pwolfram commented on #176
@xylar, thanks.  Here it is-- it needs some serious migration given recent PRs.  Any assistance you can provide is greatly appreciated!

Here is the coarsest resolution one: https://github.com/pwolfram/MPAS-Model/tree/ocean/adds_Delaware_Bay_gravity_wave_wetting/testing_and_setup/compass/ocean/global_ocean/USDEQU300cr3

and see https://github.com/pwolfram/MPAS-Model/blob/ocean/adds_Delaware_Bay_gr

[2019-03-12 05:01] xylar commented on #176
@pwolfram, I'm happy to help get the Delaware Bay test case into COMPASS when you feel it's time to merge it.  Could you do as clean a rebase of it onto `ocean/develop` as you're able?  I think the only other thing you would need to add would be a call to the `inject_cullCell.py` script, probably only after the second call to `inject_bathymetry.py`.

`inject_cullCell.py` isn't a very general scrip

[2019-03-13 12:03] mark-petersen commented on #137
That is correct.

@hrmoncada has run a test with me using MPAS-Ocean stand-alone and setting
config_time_integrator='RK4'
Both valgrind and totalview show memory leaks.  In order to use totalview on IC, only the intel compiler worked (compile with DEBUG=true).  Here are the two types of output from totalview. Line numbers are probably c-preprocessed code. Just look at the MB sized lines for now.

[2019-03-13 14:51] mark-petersen commented on #137
@pwolfram I'll write more later today about this problem.  I'm busy right at a conference.

[2019-03-13 16:06] mark-petersen commented on #137
I know the general problem but not the specific solution.

**Summary:**
In RK4 we use a clone the `state` pool and then destroy it on each timestep, because it keeps copy of the RHS of the timestepping scheme for every single variable.  The pool is created and cloned in the framework, and cycles over all variables in the source pool to make an exact copy.

The problem must be that the destroy pool

[2019-03-14 02:36] mark-petersen commented on #137
I think I found it.  Change the initial index from `minTimeLevels` to `minTimeLevels+1` on the second do loop, here:
[code]
In the code right now,
`newmem % data % r3a(minTimeLevels) % array`
is allocated twice, with two calls to mpas_duplicate_field.  I'm not sure what happens when an array is allocated twice and deallocated once, but it is definitely a memory leak hazard.

@hrmoncada, @xylar or

[2019-03-14 03:02] mark-petersen commented on #137
I emailed Doug, and he kindly responded:

[2019-04-04 18:24] mark-petersen commented on #66
Fixed by #195

[2019-04-04 18:24] #66 closed

[2019-04-04 18:27] mark-petersen commented on #120
Fixed by #138

[2019-04-04 18:27] #120 closed

[2019-04-08 20:54] mark-petersen commented on #137
Fixed by #185. Will appear on `ocean/develop` very soon, after `develop` is merged in.

[2019-04-10 12:02] #137 closed

[2019-04-13 02:14] mgduda opened #207 "PIO version check fails with PGI 18.10 compiler"
The check in the top-level `Makefile` for a working PIO library fails with the PGI 18.10 compiler, apparently because the source files need to be specified at the beginning of the compiler's command-line arguments.

As-is, we get the following error (for what should be a valid PIO2 library):
[code]

Moving the `pio2.f90` argument to the beginning of the compiler arguments seems to resolve the issu

[2019-04-13 02:16] mgduda commented on #207
@MiCurry If you'd like to do some testing with the PGI 18.10 compilers on Casper, you can start an interactive session with `execdav -C skylake`, then source `/glade/work/duda/libs-pgi18.10-skylake/setup` (assuming the bash shell).

[2019-04-14 19:47] xylar opened #208 "Ocean analysis members should be using mks units"
The MOC writes output in sverdrups, not m^3/s.  The MHT writes data in petawatts, not W.  Both of these have been converted to a unit that is commonly used in plotting but they require conversion *back* to mks units when when converting them to CMIP6 units.  Furthermore, units other than MKS are fairly arbitrary (in my view).

Anyone have comments on why these conversions were made?

[2019-04-17 15:42] MiCurry commented on #207
@mgduda see PR #212.

[2019-04-17 16:20] pwolfram commented on #176
@xylar, the PR addressing this issue is #211 thanks to @sbrus89 for his new meshing for the Delaware and good work on getting this going.

[2019-04-17 16:59] pwolfram opened #213 "COMPASS python3 transition"
Python 2 support is fading across the community and our COMPASS scripts are not python 3 compliant.

Is it worth updating COMPASS to be entirely python 3 supporting?

[2019-04-17 20:57] xylar commented on #213
If you mean should we drop python 2 support and go to python 3 only, I don't think that's a good idea.  It would mean every script would have to be transitioned to python 3 all at once, whereas supporting both will allow a more gradual port.

[2019-04-17 21:02] xylar commented on #213
By the way, at least some COMPASS scripts do support python 3 as of:
https://github.com/MPAS-Dev/MPAS-Model/pull/177

Also, there's a JIRA epic that I'm in charge of for converting the rest of COMPASS to support python 3.

[2019-04-17 21:10] xylar commented on #145
Addressed by #146

[2019-04-17 21:10] #145 closed

[2019-04-17 21:11] xylar commented on #176
@pwolfram, I believe this was already addressed, which is why it's closed.

[2019-04-17 21:14] pwolfram commented on #176
@xylar, sorry for the confusion-- the PR resolving the Delaware Bay test case is now in #211.  I'm not suggesting we reopen.

[2019-04-17 21:16] xylar commented on #176
Ah, I see.  You were responding to my comment from a month ago, not the main issue.  That's part of the difficulty when threads get long and discussions creep into new topics.

[2019-04-17 21:17] xylar commented on #213
I believe this issue is largely redundant with #132 so I'm going to close it.

[2019-04-17 21:17] #213 closed

[2019-04-22 17:59] pwolfram opened #215 "Mid-point averaging vs area averaging for forcing"
In specification of the edge-normal wind at https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/shared/mpas_ocn_surface_bulk_forcing.F#L204 a factor of 0.5 is used for the average:
[code]

For a multi-resolution mesh, the average should really be area-weighted, not premultiplied by 0.5, which assumes an equilateral mesh.  This will introduce wind-forcing errors on meshes that

[2019-04-22 18:00] pwolfram commented on #215
cc @sbrus89

[2019-04-22 18:07] pwolfram opened #216 "Tidal forcing boundary condition needs scalar BCs"
The PR in #206 did not include temperature or salinity boundary conditions.  Consequently, at present the open boundary artificially assumes scalar inputs are 0, which is not necessarily realistic.  Scalar restoring should also be included for this type of forcing.

cc @caozd999

[2019-04-23 14:33] pwolfram opened #217 "Split explicit time integration challenges"
Following #206, tested split-explicit time stepping was not able to provide a boundary condition with a reasonable time scale for relaxation to the coastal boundary, unlike RK4, which suggests the time integrator will not be suitable for application of tidally-forced boundary conditions via use of restoring over a short time scale.

cc @mark-petersen

[2019-04-23 14:59] xylar commented on #217
@pwolfram, could you rephrase this is more of an issue to be solved?  First, the title is so broad that I wouldn't know what it is useful for just scrolling through the MPAS-Model issues.  Second, I know that restoring at boundaries does work in certain conditions with split-explicit because I use boundary restoring in ISOMIP+ test cases.  I think issues should be phrased as something that could b

[2019-04-23 15:29] pwolfram commented on #217
@xylar, the issue is related to the performance of the split explicit time integrator, as I've discussed with @mark-petersen.

In #206, the tau restoring timescale needs to be roughly an order of magnitude larger for split explicit than for RK4 (just for stability), which means that the tidal restoring boundary condition effectively does not work with split explicit.  @mark-petersen has mentioned

[2019-04-23 17:03] xylar commented on #217
Great, thanks you for clarifying the title and the scope of the issue.

[2019-04-23 18:36] pwolfram commented on #217
Thanks for asking a key question to clarify @xylar!

[2019-04-25 16:56] xylar opened #220 "Missing script referenced in COMPASS Ocean"
A script, `mesh_comparison.py` is referenced in COMPASS's new `globa_ocean` test cases:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/config_files/config_mesh_metrics.xml#L7

This file is pointing to `MPAS-Tools/mesh_tools/mesh_comparison.py`, but there doesn't seem to be any such file:
https://github.com/MPAS-Dev/MPAS-Tools/tree/master/mesh

[2019-04-30 14:42] sbrus89 commented on #220
@xylar, Thanks for bringing this up. I don't think the script is ready to be merged at the moment. (It has paths that are hard-coded etc.) My feeling is that we should probably remove the reference for now. It should never have made it in without having the tool merged. Sorry about that.

[2019-04-30 18:54] xylar commented on #220
Okay, no problem.  I'll remove it as part of a bigger commit I'm working on.

[2019-05-01 21:53] pwolfram opened #224 "LIGHT requires a single particle in each processor domain"
At present, LIGHT fails if there are no particles on a computational domain.

cc @bradyrx

[2019-05-01 21:55] pwolfram commented on #224
An easy solution is to build off #56 once merged and make sure we have restarts for some small number of particles in each computational domain and have those particles be reset at something like some small number of timesteps.  As far as load-balancing, given the current spatially-distributed architecture there is no way around this issue although I'm exploring this with ANL via some alternative

[2019-05-01 21:58] bradyrx commented on #224
Note that it seems this is only the case upon restart. I.e., while a simulation is running with LIGHT, it seems that it can continue without fail even if a processor loses all its particles. I noticed this in our 30to10-BGC runs. We have some restart files for run cycles prior to crashing that have empty processors -- it only crashes when trying to start back up from them.

This seems like a simpl

[2019-05-01 22:03] pwolfram commented on #224
@bradyrx, since MPAS-O is a state machine input / restarts are the same.

Your observation above is consistent with Southern Ocean-only particle runs crashing, correct?  To be clear, restarts and initial runs without particles on a processor fail-- this is consistent with your experience right?

So, presumably, if this issue is fixed then you could just run Southern Ocean only runs.

The easy pyth

[2019-05-01 22:10] xylar commented on #224
To me, this fix sounds more complicated than tracking down and fixing the restart bug...

[2019-05-01 22:13] pwolfram commented on #224
It is a soft bug-- LIGHT was never designed to have anything but global applications of particles.  This "bug" was essentially a use case that was not explicitly tested for and used when LIGHT was developed.  It boils down to a violation of the design input spec and the "bug fix" is basically a request to soften the requirements needed for input/restart files.

Does that make more sense @xylar?

[2019-05-02 07:12] xylar commented on #224
Hmm, it seems a bit more serious than that to me.  At higher res with not too many particles and a lot of processors, even the original application doesn't work as expected because clustering of particles can leave a processor without any particles.  This only causes trouble when a user tries to restart.

I continue to think seeding a single unneeded particle to each processor and then having to f

[2019-05-03 15:48] #215 closed

[2019-05-04 20:24] pwolfram opened #228 "Parallel MPAS-O build"
Previously, I believe we could have built in parallel with a `-j 6` option (thanks to @douglasjacobsen `b277e03d17c94bb320138a5061b019f935a4b4df`).  However, this is no longer the case and a failed build occurs when attempting to build in parallel.  There are many parts of our build process that are independent and it may be worth ensuring parallel builds again for more rapid development.

cc @mar

[2019-05-06 11:57] xylar opened #230 "Deprecated warning for SafeConfigParser"
In COMPASS with python 3.7, I see this warning:
[code]

This should be addressed in the COMPASS framework before it causes trouble (seemingly in python 3.8).

[2019-05-06 12:39] xylar opened #232 "Ocean init mode: one message per processor about changing min depth"
The following lines:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/mode_init/mpas_ocn_init_global_ocean.F#L897-L899
print a message like:
[code]
once for each processor in init mode for `core_ocean`.  This is needlessly annoying when looking through the log files.

[2019-05-06 13:56] xylar opened #233 "SOMA 32to8km and 32to4km test cases are broken"
As mentioned here:
https://github.com/MPAS-Dev/MPAS-Model/pull/229#issuecomment-489609900
The following SOMA test cases appear to be broken, making it hard to assess their readiness for #229

* `-o ocean -c soma -r 32km -t time_varying_wind` missing config files for init1, etc.
* `-o ocean -c soma -r 4km -t 32to4km` and `-r 8km -t 32to8km` incomplete config files for inti1, maybe others
* `-o ocea

[2019-05-06 14:01] pwolfram commented on #233
@sbrus89, can you please address the issue with `time_varying_wind` as this is your test case?  I'm guessing this is something simple.

@xylar, thanks for following up on these issues.

[2019-05-06 14:28] xylar commented on #233
@pwolfram and @sbrus89, let me know if you don't see the problems I'm seeing or if you need more details.

[2019-05-06 14:37] sbrus89 commented on #233
@xylar, if you could provide some more details, that would be helpful. I've been looking into it, but things seem to work on my end.

[2019-05-06 14:42] xylar commented on #233
Okay, will do. I'm on my way home.

[2019-05-06 14:52] xylar commented on #233
Sorry, it looks like these test are failing in my tests because of changes in #229.  I'll close this as soon as I can verify this for all the test cases but please don't worry about this for now.

[2019-05-06 14:53] sbrus89 commented on #233
No problem, let me know if anything comes up!

[2019-05-06 14:53] pwolfram commented on #233
Thanks @xylar

[2019-05-06 15:19] caozd999 commented on #233
I have changed the groups of the two files to climate. Let me know if it
doesn't work.

On Mon, May 6, 2019 at 8:53 AM Phillip J. Wolfram <notifications@github.com>
wrote:

[2019-05-06 15:28] xylar commented on #233
Thanks very much, @caozd999!

@sbrus89, you're definitely off the hook.  The problems with `time_varying_wind` are on my side, not yours.

@pwolfram, I'm working on the other cases now but I suspect the answers will be similar.  Again, sorry for the false alarm.

[2019-05-06 16:01] xylar commented on #233
@pwolfram, the 32to4 and 32to8 test cases refer to `MpasMeshGenerator.sh`, which isn't a thing anymore (https://github.com/MPAS-Dev/MPAS-Model/pull/74#issuecomment-420287631).
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/soma/4km/32to4km/config_init1.xml#L53
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/soma/8

[2019-05-06 16:35] xylar commented on #233
@pwolfram, the other tests appear to be fine now that @caozd999 has given us permission to read the mesh file.

[2019-05-07 13:43] xylar opened #234 "ZISO 2.5 km test case running out of memory on Grizzly"
In the process of testing #229, I'm finding that the ZISO 2.5 km test case runs out of memory during the `forward` phase:
[code]
By default, it runs on only 4 cores.  I increases this to 144 cores, thinking the problem would likely go away, but I see essentially the same:
[code]
My guess is that the same number of particles are being seeded per core regardless of the number of cores, so adding mor

[2019-05-07 14:08] xylar opened #235 "New COMPASS EC60to30, NAEC60to30cr8 and QU60 test cases don't spin up"
As part of #229, I tried to run all `global_ocean` (but not `global_ocean_V1`) test cases.  Most test cases ran to completion or could be fixed with small tweaks to the configuration that I will include in #229.  The cases that are broken beyond seemingly easy repair are:
The following is a list of tests that failed (but for reasons I believe are unrelated to this PR):
* `-o ocean -c global_ocean

[2019-05-07 14:09] xylar commented on #235
@mark-petersen, I think you are likely to be the best person to handle these but @sbrus89 was also involved in creating some of these cases so I've assigned you both.

[2019-05-07 14:11] mark-petersen commented on #235
@kristin-hoch and I spun up the jigsaw EC60to30 a month ago, we will make sure the spin-up sequence matches what we did for a successful run. Thanks.

[2019-05-07 19:45] kristin-hoch commented on #235
@xylar I ran the EC60to30 and NAEC60to30cr8 a couple of months ago on another branch. At that point, test_final_settings wasn't configured. I was copying files and manually changing the timing in the restart files. I also ended up using the NAEC60to30 spin up for my JIGSAW EC60to30 run. I don't remember what the issue was with the EC60to30 setup, but it was enough of a problem that I decided not t

[2019-05-09 08:49] xylar opened #238 "Consider using Basemap for 2D interpolation"
In several COMPASS scripts, scipy's interpolation infrastructure is used to perform 2D interpolation.  I have found scipy to be very slow and memory intensive for this purpose.  A somewhat buried alternative is in basemap's [interp()](https://matplotlib.org/basemap/api/basemap_api.html#mpl_toolkits.basemap.interp), which I have found to be much faster and more memory efficient.

Here are the place

[2019-05-09 10:11] xylar opened #239 "Missing script from SOMA 32km default test case"
The script referenced in the following test-case file does not exist and causes the test case to fail:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/soma/32km/default/config_analysis.xml#L3

The bug was likely introduced by #56

[2019-05-09 11:19] xylar opened #240 "Automatically download bathymetry data"
The following COMPASS ocean config files use the bathymetry data set `SRTM15_plus/earth_relief_15s.nc`:
* `ocean/global_ocean/NAEC60to30cr8L60/init/config_base_mesh.xml`
* `ocean/global_ocean/config_files/config_mesh_metrics.xml`
* `ocean/global_ocean/USDEQU300cr20rr3/init/config_base_mesh.xml`
* `ocean/global_ocean/NAEC60to30cr8/init/config_base_mesh.xml`
* `ocean/global_ocean/USDEQU120cr10rr1/in

[2019-05-09 11:22] xylar commented on #240
I put a copy of the `bathymetry_database` here on IC:
[code]
I think this is more appropriate than having it in a user's space.

[2019-05-09 14:02] pwolfram opened #241 "Automation of LIGHT for E3SM"
@bradyrx has a repo at https://github.com/bradyrx/automate-mpas that automates LIGHT for E3SM.  Details (from him) are:

But basically, one just needs to alter the config.sh file and run generate_e3sm_case.sh. It'll manage every step of the E3SM/MPAS case setup and launch the run. This is built mainly to manage all of the minute steps of getting LIGHT to run properly (and is especially useful if y

[2019-05-09 14:14] sbrus89 commented on #238
@xylar, Thanks for pointing out this alternative. I'd be happy to update the scripts at some point. Finding something fast and more memory efficient would be great. Just one question: Is there support for basemap in python 3? I remember you mentioning something about moving away from basemap as we head toward python 3.

[2019-05-09 14:20] sbrus89 commented on #240
@xylar, I agree we need to clear this up. I've overlooked the issue for too long now.

[2019-05-09 14:45] bradyrx commented on #241
This is currently only tested/written for grizzly/wolf.

E.g., certain hacky bits that I've needed to use for MPAS on IC:
[code]

Also, since LIGHT isn't fully meshed with an E3SM release, this repo directly modifies `Registry_lagrangian_particle_tracking.xml` to turn on/off sensors and so on.

I'm happy to work with folks on making this compatible with other machines if there's interest.

[2019-05-09 15:03] pwolfram commented on #241
@mark-petersen, this raises an important point.  We need to modify E3SM in order to have default options or new namelist options for LIGHT following new developments (e.g.,  incorporate new options for particle BGC sensors).

@mark-petersen, is this an appropriate issue to open?

[2019-05-09 15:05] xylar commented on #238
Yes, there is.  The problem with basemap isn't related to python 3.  It's to do with not developing it further.  But that definitely *is* a problem.  For most purposes, I've been pointing folks toward cartopy, but it's not quite there yet either.  And I'm not aware of a similar interpolation function in cartopy, though it's likely to be in there somewhere.  I'll take a quick look.

[2019-05-09 15:11] xylar commented on #238
A quick search didn't turn up anything as a satisfying alternative.

[2019-05-09 17:32] xylar commented on #235
@kristin-hoch, do you have a way to look up what settings you used for your spin-up?  It's a pretty big problem in my view if the test cases in the repo don't actually work.  It makes it particularly hard to test when things get updated like #229.  So it would be really great if we could fix these test cases.

[2019-05-09 18:26] kristin-hoch commented on #235
@xylar
I used a NAEC60to30cr8 spin up setup. I don't believe I changed anything there other than linking to the EC60to30 initialization files.

I don't remember why I didn't originally use the EC60to30 spin up. @mark-petersen ran the spin up initially.

[2019-05-13 10:19] xylar commented on #235
Thanks @kristin-hoch.  While I could imagine that working, I think it's probably way overkill since the 8 km resolution for the NAEC60to30cr8 setup requires really small time steps and a lot more stages of spin-up.

I'm working on a 3-stage spin-up of the EC60to30 setup right now.  I'll work on the QU60 once that's done.  I'll see if the NAEC60to30cr8 spin-up is still broken after recent merges an

[2019-05-13 16:59] xylar commented on #235
@kristin-hoch, I tried your idea (copying the same spin-up procedure as in NAEC60to30cr8 and using it for EC60to30).  Perhaps it has changed but I get a blow-up during `spin_up6`
[code]

I also tried running my own tests where I used dt = 10 min and dt_br = 20 seconds.  I tried ramping down from Rayleigh damping of 1e-4 to zero without increasing the time step but also got a blow-up when I went to

[2019-05-13 18:53] xylar commented on #235
I'm giving up on the EC60to30 for now.  I tried dt = 10 min and dt_br = 20:
1. config_Rayleigh_damping_coeff = 1.0e-4 for 20 days
2. config_Rayleigh_damping_coeff = 5.0e-5 for 20 days
3. config_Rayleigh_damping_coeff = 2.0e-5 for 10 days
4. config_Rayleigh_damping_coeff = 5.0e-6 for 10 days
5.  ...
During stage 4, the CFL keeps spiking to dangerous levels, though the simulation never quite blows u

[2019-05-13 18:56] kristin-hoch commented on #235
Xylar,

That's weird. I'll look over the setting that I used to see if anything has changed in the newest version.

-Kristin

________________________________
From: Xylar Asay-Davis <notifications@github.com>
Sent: Monday, May 13, 2019 12:53:57 PM
To: MPAS-Dev/MPAS-Model
Cc: Hoch, Kristin; Mention
Subject: Re: [MPAS-Dev/MPAS-Model] New COMPASS EC60to30, NAEC60to30cr8 and QU60 test cases don't spin

[2019-05-13 22:39] kristin-hoch commented on #235
I might have found the problem with the EC60to30. Because the layer depth file is in cm, there are two conversion factors in the namelist for the initial state that need to be set. It looks like by default only one is correct. I ran into a similar problem with the Labrador Sea mesh that Andrew is testing.

In the namelist in initial_state, try changing config_global_ocean_tracer_depth_conversion_f

[2019-05-14 12:35] xylar commented on #235
@kristin-hoch, thank you so, so much for figuring that out!

With this change, things worked great with the default spin-up.

![cfl](https://user-images.githubusercontent.com/4179064/57698253-81978780-7655-11e9-8f99-77c0e794a599.png)

[2019-05-14 13:17] xylar commented on #235
@mark-petersen, the QU240 and QU60 test cases appear to now be using the 80-layer grid.  Is that on purpose?

[2019-05-14 15:27] xylar commented on #235
@sbrus89 and @mark-petersen, I looked further into fixing the issues with `test_final_settings` in `NAEC60to30cr8`.   (I suspect the issues may be the same with the newly added variant of that test case, but I'm not sure.)

I don't have time to fix this fully but the necessary steps I can foresee are:
* continue the spin-up until 0001-02-01 so you're at an even month boundary
* add the template fo

[2019-05-14 15:38] kristin-hoch commented on #235
Xylar,
My solution to this has been to strip the xtime variable out of the last restart file from the spin up and rename it to 0001-01-01.

[2019-05-14 15:45] xylar commented on #235
@kristin-hoch, I was just thinking about that.  I guess that's better than trying to use a restart as as the new initial condition because the velocity would be set back to zero?

I'm troubled by the manual nature of that step so I think we would need a script to do that automatically as part of COMPASS.  Until we can just run the `spin_up` phase of each test out of the box, I consider them to be

[2019-05-14 16:00] kristin-hoch commented on #235
Xylar,
I agree that it would need to be automated. I also think it might be confusing for a user who doesn't realize that restart_0001-01-01 is after restart 0001-01-04.

[2019-05-15 10:05] xylar opened #250 "Update CVMix after recent release with python 3 support"
A recent release of CVMix adds python 3 support:
https://github.com/CVMix/CVMix-src/releases/tag/v0.95-beta

We should point to this release to prevent build issues when using python 3.

[2019-05-15 10:08] xylar commented on #250
@vanroekel, are you aware of changes to CVMix that we should *not* be bringing in by updating to this version?  It would be hard to imagine everything is bit-for-bit so maybe we need to be careful?

[2019-05-15 10:19] xylar commented on #166
The compass python environment is settled and can be constructed with these instructions:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/README_ocean.md

[2019-05-15 10:19] #166 closed

[2019-05-15 10:19] #230 closed

[2019-05-15 10:20] #220 closed

[2019-05-15 10:20] #163 closed

[2019-05-15 10:21] xylar commented on #132
Framework and ocean scripts are now python 3, but land-ice scripts are not.

[2019-05-15 13:19] vanroekel commented on #250
@xylar -- we have fully tested v0.94-beta in MPAS-ocean and E3SM G and B-cases and the results look good (a PR is waiting for merge to update to this tag #134).  Everything in v0.95-beta appear to be make file changes to support python 3 and so should not change results.  However, our flavor of KPP is protected in CVMix by namelist options so we should be able to retain BFB.

[2019-05-15 14:18] xylar commented on #250
Thanks @vanroekel, this is very helpful to know.  That should mean that updating to v0.95-beta after #134 goes in should be easy.  I definitely think that's necessary before the v2 release because we will need to move that build to python 3.

[2019-05-17 12:49] xylar opened #256 "Global ocean CFL based only on horizontal velocity"
When we compute the CFL, we only include horizontal velocities.

https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/analysis_members/mpas_ocn_global_stats.F#L1090

Until we have remapping to handle vertical advection, I think we need to include the vertical CFL as well.  Could someone involved (@mark-petersen?) explain why we currently only use horizontal velocities?

My sugg

[2019-05-26 17:21] jokervTv opened #263 "init_atmosphere failed with PGI 18.10"
To whom it may concern :

when I use  `make pgi CORE=init_atmosphere OPENMP=true USE_PIO2=true GEN_F90=true`, I get this:
[code]
But it work well in the atmosphere core.

It seems that -Mfree doesn't work. I try to change the `.F` to `.f90`, but not working.

This is my environment :
 - MPAS-Model-6.3
 - Compiler : PGI 18.10-1
 - NETCDF-4.6.3 completed by pgi 18.10
 - PnetCDF-1.11.1 completed by p

[2019-05-27 09:38] jokervTv commented on #263
When I replaced the related files under **core_init_atmosphere/** with **core_atmosphere/**, anything is ok.

[2019-05-27 09:38] #263 closed

[2019-06-17 05:28] cd10kfsu opened #283 "V7.0: Undefined vars "Active" in core_atmosphere/inc/structs_and_variables.inc"
For MPAS version 7.0, there is an undefined var "Active" in core_atmosphere/inc/structs_and_variables.inc (Line 16656). I tried MPAS version 6.3, and it doesn't have this problem. The error is attached below:

./inc/structs_and_variables.inc:16656:16:
       if (Active .or. mp_wsm6_inActive) then
                1
Error: Symbol ‘active’ at (1) has no IMPLICIT type
./inc/structs_and_variables.inc:8

[2019-06-17 05:32] cd10kfsu commented on #283
The corresponding lines in V6.3 is 21568-21574:
21568       if (iauActive .or. bl_mynn_inActive .or. bl_ysu_inActive .or. cu_tiedtke_inActive .or.       mp_kessler_inActive .or. &
21569 mp_thompson_inActive .or. mp_wsm6_inActive) then
21570          r3Ptr(1) % isActive = .true.
21571       end if
21572       call mpas_pool_add_field(newSubPool, 'scalars', r3Ptr)
21573       call mpas_pool_add_fiel

[2019-06-17 19:14] pwolfram commented on #216
This issue will also need to be considered for #284 in general.

[2019-06-18 17:19] mgduda commented on #283
@cd10kfsu So far I'm not able to reproduce this issue locally.
* Which compiler and compiler version are you using when you encounter this error?
* Have you made any changes at all to the `master` branch of the `MPAS-Model` repository?
* If you run `make clean CORE=atmosphere` and re-compile, does that resolve the issue?

[2019-06-18 18:15] cd10kfsu commented on #283
I successfully compiled atmosphere_model (V7.0) on my other laptop. So the problem lies on my side. I will debug that part by myself. Sorry for wasting your time. Thank you for your kind and swift help.

[2019-06-18 18:23] mgduda commented on #283
I'll close this issue for now. But, if you do find anything in your debugging that points to a problem with the code, please feel free to re-open this issue and I'll be glad to help.

[2019-06-18 18:23] #283 closed

[2019-06-18 18:25] mgduda commented on #207
Resolved by PR #212 .

[2019-06-18 18:25] #207 closed

[2019-06-19 16:30] mark-petersen opened #286 "MPAS-seaice OpenMP gnu compile error"
MPAS seaice compilation with gnu and OpenMP dies on `!$OMP declare simd` lines with current head, 8cb43ea1. Compile error does not occur with intel or with gnu when `OPENMP=false`. Compile error occurs with MPAS-seaice standalone on grizzly, and E3SM compile on cori-knl.

[2019-06-19 16:31] mark-petersen commented on #286
MPAS compilation on LANL-IC:
[code]
dies with:
[code]

[2019-06-19 16:35] mark-petersen commented on #286
E3SM compilation, cori-knl, current master 3c427c2dd:

<details>
<summary> E3SM error text</summary>

[code]
</details>

[2019-06-19 16:37] pwolfram opened #287 "COMPASS mesh generation clean up"
Parallel issue to https://github.com/MPAS-Dev/MPAS-Tools/issues/263.  We don't want to have duplicated scripts in MPAS-Tools and MPAS-Model.

[2019-06-19 16:39] mark-petersen commented on #286
When this is fixed, also test with intel with debug and openmp:
[code]

[2019-06-19 16:41] amametjanov commented on #286
Can you upgrade the gnu compiler?

[2019-06-19 16:49] mark-petersen commented on #286
Same error on LANL IC with `gcc/6.4.0`. I don't have pnetcdf & pio compiled for gcc v7 right now. But we get the same error on cori-knl with gnu. @amametjanov do you get a clean compile with a different gcc compiler?

[2019-06-19 23:11] amametjanov commented on #286
GNU v.7.3.0 or later should work and also provide better support for OpenMP.

On Wed, Jun 19, 2019 at 12:50 PM Mark Petersen <notifications@github.com<mailto:notifications@github.com>> wrote:

Same error on LANL IC with gcc/6.4.0. I don't have pnetcdf & pio compiled for gcc v7 right now. But we get the same error on cori-knl with gnu. @amametjanov<https://github.com/amametjanov> do you get a clean

[2019-06-20 14:32] mark-petersen commented on #286
Strange. cori-knl and theta both use gnu 7.3.0. cori-knl fails compile on this test but theta does not:
[code]

I'm looking in
[code]
theta and cori-knl both use gcc/7.3.0. There must be some other difference. Do they both use OpenMP in the same way?  I see this for theta:
[code]
and this for cori-knl:
[code]
but it looks like the openmpi version is hidden in the programming environment.

Whatever

[2019-06-20 21:59] pwolfram opened #291 "`config_disable_vel_coriolis` option also turns off momentum advection"
The option `config_disable_vel_coriolis=.false.` disables more than Coriolis forcing, but also the momentum advection term via absolute vorticity and kinetic energy, e.g., Ringler et al (2010) for `\eta` and `K`, e.g., terms in equation 4.  Ideally, we would have separate flags to distinguish between turning off Coriolis itself and momentum advection.

The place in the code where they are mixed vi

[2019-06-21 17:30] pwolfram opened #294 "Migration of COMPASS files away from oceans11"
Oceans11 will be going away and we should migrate data files for COMPASS inputs to a more stable source.  LANL IC /usr/projects has been proposed, but there may be other options.

The purpose of this issue is to:

 1. Determine where the files should be stored
 2. Make sure that we migrate COMPASS to use these files in their new location, at which point we can close out this issue.

cc @mark-peter

[2019-06-21 17:33] pwolfram commented on #294
To kick-start the discussion:

I'm fine with LANL IC but don't like that it is only here at LANL.  External collaborators can't get in and this limits open-development.

We do now have official Google Drive support -- we could also places files there and then have the option to give external collaborators access to these files as needed.  However, I'm not sure there is a clean way to access these

[2019-06-21 17:35] pwolfram commented on #294
Here is a list of the affected files: https://gist.github.com/975b77aa479556cd32030c0cea6793d5

Note, @akturner and @matthewhoffman  should also engage here since there are some seaice and landice files that also need migrated.

[2019-06-21 17:35] xylar commented on #294
Oceans11 has been "going away" for *years*.  Is there evidence that it's going away for real?

Anyway, I've been talking with Rick Wagner (one of the E3SM Infrastructure team members) and we're going to likely move our diagnostics data (the obs, mapping files, etc. used by MPAS-Analysis and E3SM_Daigs) to petrel at Argonne.  That machine has a super fast connection to our other machines via Globus

[2019-06-21 17:37] pwolfram commented on #294
@maltrud and @philipwjones don't have root anymore, which is a great reason to move away from it... I'm not personally interested in putting files there anymore.

Thanks for looking into the petrel option at Argonne @xylar!

Perhaps we should be thinking about redundant, multiple locations for access.  Mirroring can be tricky.  But, given globus as an option this will make things much easier thoug

[2019-06-21 19:06] mark-petersen commented on #294
I would vote for moving all data for MPAS (for LANL) to the E3SM IC repo:
https://web.lcrc.anl.gov/public/e3sm/

We thought of this last year, and made these directories:
https://web.lcrc.anl.gov/public/e3sm/mpas_standalonedata/mpas-albany-landice/
https://web.lcrc.anl.gov/public/e3sm/mpas_standalonedata/mpas-ocean/
https://web.lcrc.anl.gov/public/e3sm/mpas_standalonedata/mpas-seaice/
https://web.

[2019-06-21 19:17] philipwjones commented on #294
I gave the machine away a couple years ago due to the increasing demands for administration of a public-facing machine and the new policies that permitted use of easier and more robust cloud services. At that time I asked everyone to find a new home and move their data elsewhere and most have done so. All of the old repos were moved and most of the input data. The current owners of the machine hav

[2019-06-21 20:40] xylar commented on #294
Thanks @philipwjones, that's helpful information.

@mark-petersen, the LCRC hosting is from Anvil (Blues), not NERSC.  But yes, that's the other option at Argonne beside Petrel.  The advantage is that many of us already have access.  The down side is that we can't add new people very easily, whereas Petrel is independent and meant specifically for file hosting so it would allow us to add people (e

[2019-06-24 09:52] xylar opened #296 "jigsawpy nearing release"
[jigsawpy](https://github.com/dengwirda/jigsaw-geo-python/tree/dev) is close to being ready to release.  It would be good for us to convert at least a few of our test cases to use the new python package instead of the current Matlab interface so we find out if there are any issues.

Anaconda (or at least the conda-forge channel) isn't updating the list of available packages right now.  As soon as

[2019-06-24 12:45] xylar commented on #296
I have created a test environment on LANL IC with `jigsawpy`.  It can be activated with:
[code]

I am off to the AntClim21 meeting tomorrow so I won't have time to work on the `jigsawpy` conversion this week.  @mark-petersen, @sbrus89 or @pwolfram, if any of you have time to work on this, it could be very helpful.  If we discover bugs or issues right now, they can be included in the first release

[2019-06-24 13:30] dengwirda commented on #296
Yes, very happy for feedback here -- thanks to @xylar for enduring my `Python` learning curve!

`jigsawpy` aims to replace the `OCTAVE` step in the current workflow. The `Python` and `MATLAB` interfaces aim to be very similar, so in many cases the same function calls, variable names, etc are available.

I'll also reach out to other user groups (`CSIRO`, `AWI`, etc) for additional feedback.

[2019-06-24 19:50] xylar commented on #296
@mark-petersen, @sbrus89 and @pwolfram, I've worked on this when I should be doing other things.  Please use this branch as a starting point for the conversion to `jigsawpy`.  Note: I haven't debugged this *at all* so it's just a pretty complete sketch of what needs to happen.
https://github.com/xylar/MPAS-Model/tree/ocean/update_to_jigsawpy

[2019-06-24 21:25] sbrus89 commented on #296
@xylar, Awesome! Thanks for getting the ball rolling on this. I'll try to take a look at it this week.

[2019-06-25 18:27] pwolfram commented on #296
Thanks @sbrus89, this would be really helpful!

[2019-06-25 21:45] sbrus89 commented on #296
@xylar, I worked on this a little bit today and made some progress. I have a couple minor commits that I'd like to push to your fork. Would you mind giving me access to do that?

[2019-06-25 21:58] sbrus89 commented on #296
Jigsaw runs through after making these changes I mentioned above, but right now it doesn't seem to save this file `opts.mesh_file = 'mesh-MESH.msh'` which we specify in `jigsaw_driver.py` here:

https://github.com/xylar/MPAS-Model/blob/26ef9cfb0157efeacc250386747b3db1034f2508/testing_and_setup/compass/ocean/jigsaw_to_MPAS/jigsaw_driver.py#L24-L29

As a result, the `triangle_jigsaw_to_netcdf.py` st

[2019-06-25 22:18] sbrus89 commented on #296
As far as I can tell these are the only two files that Jigsaw is outputting are:

`opts.hfun_file = 'mesh-HFUN.msh'`
`opts.geom_file = 'mesh.msh'`

@dengwirda, do you know why this might be the case? Maybe we aren't specifying them correctly in `jigsaw_driver.py`

[2019-06-25 22:51] dengwirda commented on #296
Thanks for looking at this @sbrus89.

TL; DR: I think changing `jigsawpy.lib.jigsaw( ... )` to `jigsawpy.cmd.jigsaw(opts)` in `jigsaw_driver.py` should hopefully fix this.

~

It seems that `jigsaw_driver.py` is currently calling the "lib" version of `JIGSAW`, which passes everything in memory (using `JIGSAW`'s `API` behind the scenes). The `mesh` object (that's passed by ref here) should hold the

[2019-06-25 23:11] sbrus89 commented on #296
@dengwirda, It looks like that worked! Thanks for the help.

[2019-06-26 07:59] xylar commented on #296
@sbrus89, I can give you permission to push to my branch, but my preference is for you to just push to your own fork and then make a pull request with yours.  I just wanted to get things going.

Regarding using `jigsawpy.lib.jigsaw()`, I'm guessing a few more explicit commands to write out the meshes would also do the trick.  But given that `cmd` does that anyway, that seems like a fine way to go.

[2019-06-26 08:00] xylar commented on #296
@sbrus89, you may be able to remove the explicit calls to save the meshes in `jigsaw_driver.py` if `jigsawpy.cmd.jigsaw()` does this anyway.  Up to you.

[2019-06-26 13:25] dengwirda commented on #296
@xylar, @sbrus89: just confirming the workflow for `jigsaw_driver.py` should be:
[code]
With the changes yesterday, I think @sbrus89 has this in place.

[2019-06-26 14:23] sbrus89 commented on #296
@xylar, sounds good I'll go ahead and push to my fork and make the PR from there.

[2019-06-28 18:36] sbrus89 commented on #296
@xylar and @mark-petersen, should we close this now that #301 is Merged?

[2019-06-28 20:08] xylar commented on #296
Yes, thanks.

[2019-06-28 20:08] #296 closed

[2019-07-02 20:51] xylar commented on #294
It seems like Anvil is the easiest solution.  I can start working on this in August if no one gets to it sooner.

[2019-07-02 20:52] xylar commented on #250
Addressed by #251

[2019-07-02 20:52] #250 closed

[2019-07-02 20:53] xylar commented on #132
I think this issue is too broad to be useful, so I'm closing it.

[2019-07-02 20:53] #132 closed

[2019-07-02 20:55] xylar commented on #140
@sbrus89 and @vanroekel, was this ever addressed?

[2019-07-03 18:04] xylar opened #315 "densitySurfaceDisplaced not used"
A lot of code and presumably computing time goes into computing `densitySurfaceDisplaced` for KPP, but then this field is never used:
[code]
This field and all associated code for computing the EOS in `'surfaceDisplaced'` mode should be removed.

[2019-07-03 18:05] xylar commented on #315
@vanroekel, you had brought this to my attention.  Feel free to do this clean up if you have time.  I'll try to get to it at some point in the not too distant future if you don't.  It's dumb to be implementing functionality for new EOSes that we don't use...

[2019-07-03 18:07] xylar commented on #291
Closed via #293

[2019-07-03 18:07] #291 closed

[2019-07-03 18:09] xylar commented on #238
I'm going to close this.  It's been considered and found non-optimal...

[2019-07-03 18:09] #238 closed

[2019-07-03 18:31] mark-petersen opened #316 "bottomDepth of zero causes divide by zero"
For wetting/drying, we need to allow bottomDepth to be zero, which can easily occur on a beach. The model currently divides by zero in the z-star ALE layer thickness weighting.

[2019-07-05 20:13] philipwjones commented on #315
In older versions of KPP, this was used for surface buoyancy forcing and for the BL depth, but if it's not used anymore for those, would certainly be great to remove another bit of complexity from EOS.

[2019-07-07 03:37] vanroekel opened #321 "COMPASS -- Jigsawpy module not found"
On LANL IC, I am trying to run the EC60to30 test case.  I can set this up okay, but if I do run.py in the init folder, I get the following errors
[code]
This is with the suggested compass python environment in the readme.ocean file.

I also attempted to run the test case on blues/anvil, but in trying to create the conda environment, using
[code]
I get the following error
[code]
It seems there is a

[2019-07-07 08:06] xylar commented on #321
@vanroekel, this is 100% my fault.  I was away on travel and wasn't paying close enough attention when i approved #301.  It should not have been merged until jigsawpy got released, which has not happened yet.  We have been working with a test build of the `dev` branch for #301.  I will try to figure out why the environment with the test build is not working for you on IC but that at least explains

[2019-07-07 08:25] xylar commented on #321
@vanroekel, an update.  I agree that I'm not seeing `jigsawpy` in the `compass_py3.7` environment on LANL IC.  I'm also not able to clone it at the moment to make a local build -- GitHub access from IC seems to be blocked.  Again, I'm sorry about this and I'll try to fix it as soon as I can.

[2019-07-07 09:03] xylar commented on #321
I've installed a local build of `jigsawpy` on LANL IC.  However, I'm unable to test because ssh is currently not reaching github.com on Grizzly.  If the problem persists tomorrow, I'll check with support.

I'm currently trying to building a `compass_py3.7` environment on Anvil, but I'm running into (seemingly network-related) trouble there as well.

[2019-07-07 09:23] xylar commented on #321
I installed the `compass_py3.7` environment on Anvil.  It can be accessed with:
[code]

[2019-07-07 09:32] xylar commented on #321
This issue should remain open until `jigsawpy` has been released and the definition of the COMPASS environment has been updated accordingly.  For example, `jigsaw=0.9.11` is currently required for the test version of `jigsawpy=0.0.2`.

[2019-07-08 04:39] vanroekel commented on #321
@xylar thanks for the quick fix!  I was able to setup the EC6030 on blues/anvil, even on compute nodes.

[2019-07-08 09:03] xylar commented on #321
@vanroekel, I'm glad things are working for you on Anvil.  Thanks for pointing out these issues before they became more problematic.

@mark-petersen, @sbrus89, @pwolfram and others, I think we probably don't need to revert #301 but we do need to be careful that we don't create any new jigsaw meshes that will be used in any lasting simulation campaigns until `jigsawpy` gets an official release.  Ot

[2019-07-08 11:57] dengwirda commented on #321
Hi all, just confirming that a non-`dev` `jigsawpy` release should be available later this week - I'm currently working to include the "gradient-limiting" solvers in the `python` interface so that a full workflow is available.

This involves moving several things from the `matlab` to `c++` layers and making them available via the `cmd-line` and `api` interfaces. Shouldn't result in any changes to

[2019-07-08 12:36] xylar commented on #321
@dengwirda, that all sounds great, thanks!

[2019-08-13 16:40] pwolfram commented on #316
@mark-petersen, I'm going to close following #317 but will reopen if the issue reemerges.  Thanks!

[2019-08-13 16:40] #316 closed

[2019-08-17 23:19] cponder opened #340 "Error when diagnostic output is not specified"
This is the content of my `streams.atmosphere` file:
` 1 <streams>
 2 <immutable_stream name="input"
 3                   type="input"
 4                   io_type="pnetcdf,cdf5"
 5                   precision="single"
 6                   filename_template="x1.init.nc"
 7                   input_interval="initial_only" />
 8
 9 <stream name="output"
10         type="output"
11                 clo

[2019-08-17 23:25] cponder commented on #340
This is using MPAS-A 7.0.
The I/O stack is as follows:

  2) cuda/10.1.243.0
  3) pgi/19.7
  4) hwloc/1.11.13
  5) openmpi/3.1.4
  6) szip/2.1.1
  7) zlib/1.2.11
  8) pnetcdf/1.11.2
  9) hdf5/1.10.5
 10) netcdf-f/4.4.5
 11) netcdf-c/4.7.0
 12) pio/2_4_4`
The MPAS-A is built using

make clean CORE=atmosphere
export USE_PIO2=true
export  OPENACC=false
export PRECISION=single
make pgi CORE=atmosphere

[2019-08-17 23:26] cponder commented on #340
There's something strange about the formatting here.
I would expect "insert code" to preserve the newlines.

[2019-08-18 00:58] xylar commented on #340
@cponder, I'm not going to be any help with your MPAS-Atmosphere problem but the GitHub formatting issue is because you're using the quote character `>` when you want the triple back quote for code blocks.

[2019-08-18 15:22] cponder commented on #340
Ok -- the snippets read better now.

[2019-08-22 23:53] amametjanov opened #342 "Build error on contiguous pointer attribute with intel19+debug in seaice"
Intel v19 in debug mode raises a build error
[code]
for this chunk
[code]

This was observed in E3SM test `SMS_D_Ld1.T62_oEC60to30v3.DTESTM.compy_intel` on PNNL Compy cluster: https://my.cdash.org/testDetails.php?test=49371952&build=1692180

Module environment
[code]

The check for contiguity was missed in tests with previous v17 and v18 compiler versions.

[2019-08-23 00:23] amametjanov opened #344 "Need to allocate tracerObject indexes in seaice"
Intel v19 raises run-time errors when passing unallocated ciceTracerObjectType's index arrays into ice_colpkg:
[code]
for this chunk
[code]

Build environment:
[code]

[2019-08-23 00:28] amametjanov commented on #344
I tried to fix the issue with the following patch, but ran into unrelated errors from E3SM/cime data models in a coupled test `SMS_D.T62_oEC60to30v3.DTESTM.compy_intel`. This might be easier to test and fix in a stand-alone mode.
[code]

[2019-08-23 20:38] amametjanov commented on #344
A reproducer on cori-knl:
[code]

[2019-08-26 20:45] MiCurry opened #346 "Atmosphere radiation tendency description"
The description for the tendencies for the long wave radiation for potential temperature is same as the short wave.

[code]

https://github.com/MPAS-Dev/MPAS-Model/blob/51d5624709f75182130a2fd94715e1bb13310172/src/core_atmosphere/Registry.xml#L2957-L2961

[2019-08-27 19:48] #346 closed, assigned to nobody

[2019-08-28 17:06] pwolfram opened #350 "Memory leak with RK4 in hurricane simulation"
This memory leak error was identified on the branch at https://github.com/pwolfram/MPAS-Model/tree/coastal/Delaware_gaussian_hump with hash ba4bbdab91052b9ff3474a0540436a0e55fed6e5 for the Sandy Hurricane case and produces an insufficient virtual memory error.

@hrmoncada, I have given you the tgz file with the example case on LANL IC, although you can build it from COMPASS for the `ocean/hurrican

[2019-08-29 16:45] pwolfram commented on #350
This is related to #137, which I'm not sure entirely should be closed yet.  We tested again in the hurricane case without wetting and drying and had better success with stability, indicating that a large part of the memory leak problem was fixed.  However, it eventually did die (at days vs hr simulation scales), which indicates that if there were a few memory leaks found last time that weren't fix

[2019-08-29 16:46] pwolfram commented on #137
Not 100% sure this issue was entirely resolved, this may be related to #350.

[2019-08-29 20:19] cponder opened #352 "Nested string in src/framework/mpas_io.F breaks NEC compiler"
I believe these lines in `src/framework/mpas_io.F` are legal w.r.t. the Fortran standard:
[code]

[2019-09-04 20:05] jonbob commented on #344
I tested Nicole's branch but allocating the unused arrays with 0's instead of 1's, and it passed SMS_D_Ld1.T62_oEC60to30v3.DTESTM.cori-knl_intel19. @amametjanov, do you know if it's preferable to make unused arrays or pointers zero-length? I know we're not talking about much memory at all here, just curious....

[2019-09-05 14:01] mark-petersen commented on #350
@hrmoncada any progress on this? Please tell us if you are stuck on something. Totalview should tell us where the memory leak is.

[2019-09-05 14:49] hrmoncada commented on #350
Work on the issue. Philip just help to set up the correct branch.

On Thu, Sep 5, 2019 at 8:01 AM Mark Petersen <notifications@github.com>
wrote:

--
*"Goodbye, old friend. May the force be with You", and *Remember!!  "
Nature can surprise you beyond your imagination"*

Henry R. Moncada
-------------------------------------------------------------------------------
US-Home
1469 Zepol Dr. Apt 110 S

[2019-09-05 16:57] amametjanov commented on #344
I don't think there is a preference. Zero-length arrays are valid, but other compilers (and compiler versions) might be picky.

[2019-09-05 17:09] njeffery commented on #344
Perhaps then we should stick with the 1s.  @akturner or @jonbob , let me know if you disagree and I'll make the change.

[2019-09-05 17:38] jonbob commented on #344
It doesn't seem like there's much to gain with the zero-length arrays and maybe a future price to pay -- so I think to leave it as-is. Thanks for weighing in, @amametjanov

[2019-09-05 19:01] pwolfram opened #360 "MPAS-O unstable for bottomDepth < 0"
As illustrated in https://github.com/MPAS-Dev/MPAS-Model/pull/359, `bottomDepth >= 0` for all cells in order to ensure model stability.  This is also true for the drying slope case and a general implementation of MPAS-O will require the capability to simulate on a mesh with `bottomDepth < 0`, indicating land above sea level.

cc @mark-petersen and @sbrus89

[2019-09-05 19:02] pwolfram commented on #350
@mark-petersen, @hrmoncada is going to evaluate this case with 4 processors.

[2019-09-09 13:39] mark-petersen commented on #350
@hrmoncada sent this:
![image](https://user-images.githubusercontent.com/4036816/64535412-7c310d80-d2d4-11e9-9026-1f60892b7a14.png)

The trace implies that the problem is a memory leak in pio. @pwolfram please rerun your test case with all output streams off, and see if it runs past the previous time when it died with "out of memory" error. Of course, pio should not have a memory leak, but it is p

[2019-09-09 14:04] pwolfram commented on #350
@mark-petersen, I can try this but am very skeptical.  Why don't we see this issue in split_explicit, for example?  I suppose there could be a difference in usage pattern but do find this confusing.

Will run the case as you propose but would appreciate hearing your ideas as I think about this in the meantime.  Any hints from your experience that would be aligned with this type of issue would be r

[2019-09-09 18:41] hrmoncada commented on #350
![Screenshot from 2019-09-09 12-24-04](https://user-images.githubusercontent.com/15133749/64557588-18700a00-d2ff-11e9-8a24-1558a517a8af.png)
@pwolfram, I run again the test case but this take a took a snapshot of the HEAP memory on run time, before end to complete the calculation.

[2019-09-09 18:51] mark-petersen commented on #350
box_rearrange.F90 is a PIO subroutine:
http://mermaid.uconn.edu/cesm_climatology/CESM_code/cesm1_1_1/models/utils/pio/box_rearrange.F90.in
@pwolfram maybe we need to play with the i/o flags to try to avoid this error. First turn off output altogether. We can also play with:
[code]
and the output format.

[2019-09-09 23:25] pwolfram opened #364 "Update Sandy split_explicit case for depth-averaged approach"
The current Sandy implementation does not have depth-averaging applied via strong vertical mixing, which will increase the accuracy of the results as compared to observations for the existing Sandy case.

This is a stub to motivate a small PR for this update based on recent testing.

[2019-09-10 15:34] pwolfram commented on #350
@mark-petersen, I made the output frequency for the streams ten-times less frequent and reran, with the outcome of getting the same crash near about the same time happening.

I'll try again with the streams `output_interval='none'` and report back...

[2019-09-10 15:35] pwolfram commented on #350
Note, for the record this is with the default values of
[code]

[2019-09-10 15:36] mark-petersen commented on #350
OK. Then that line of the memory report is most likely a red herring.

[2019-09-10 22:34] pwolfram commented on #350
@mark-petersen, I think the output is a red-herring:

[code]
and a re-run still produces the crash...

@hrmoncada, can you please turn off the output streams `output_interval="none"` and rerun your memory analysis to see if you get the same problem showing up for pio?  I wasn't able to reproduce the issue with a smaller number of cores, e.g., 36, probably because the memory leak is a function of t

[2019-09-11 13:53] jonbob commented on #350
Phillip,

Please let me know if it would help for me to look at this under the total view memory debugger tool -- it is often a bit more clear than valgrind...

Jon

________________________________
From: Phillip J. Wolfram <notifications@github.com>
Sent: Tuesday, September 10, 2019 4:34:17 PM
To: MPAS-Dev/MPAS-Model
Cc: Subscribed
Subject: Re: [MPAS-Dev/MPAS-Model] Memory leak with RK4 in hurric

[2019-09-11 17:06] hrmoncada commented on #350
On 2 nodes with 72 cores : Heap snapshots after turn off the output streams output_interval= "none" on the streams.ocean file
(compass_py3.7) gr-fe3:forwardML$ diff streams.ocean streams.ocean.orig
20c20
<                   output_interval="none"/>
---

49c49
<         output_interval="none"
---

65c65
<         output_interval="none"
---

![Totalview_Heap_status_source_report_1_output_interval_no

[2019-09-11 17:16] mark-petersen commented on #350
@pwolfram Does this test case use time-dependent forcing? If so, please rerun with that turned off and that input stream set to not read in any data.

[2019-09-11 22:37] pwolfram commented on #350
@mark-petersen, testing with

[code]

Thanks for the good suggestion!  Will let you know what I find out once it completes.

[2019-09-14 20:37] pwolfram commented on #350
@mark-petersen, it gets out to 16 days with this fix, which is only marginally better than 13 days, indicating that some of the leak was fixed but it doesn't appear to be the lion's share of the leak.

[2019-09-15 13:38] pwolfram commented on #350
What is also more troubling is that it is now a hard crash vs an insufficient virtual memory error.

[2019-09-15 13:39] pwolfram commented on #350
We also need to check performance-- I think this has made the code slower too although it now nearly runs for a full 4 hr cycle.

[2019-09-16 13:27] mark-petersen commented on #350
Wow, it's really disturbing that changing to a more complete 'deallocate' function makes the code run slower. That really makes me think that we should have permanent memory allocated for RK4 "provis" data, rather than the current clone pool and then destroy pool.

[2019-09-18 04:25] #364 closed

[2019-09-18 15:38] sbrus89 opened #372 "pointwiseStats AM is slow"
With only around 100-200 points, the pointwiseStats io can take up to 1/3 of the total simulation time on IC scratch4.

[code]

[2019-09-18 15:39] sbrus89 commented on #372
This was solved by @mark-petersen's suggestion to add:

``io_type="netcdf"``

to the stream

[2019-09-18 15:39] #372 closed

[2019-09-23 16:44] sbrus89 opened #375 "Static evaluation of time-dependent forcing during RK4 timestepping"
The time-varying forcings are not being evaluated at the proper times at each of the RK4 stages. They are evaluated outside the RK4 stage loop and kept constant throughout. In practice, this is probably not an issue for slowly-varying forcing, but could have accuracy implications especially for tides.

[2019-09-27 22:00] sbrus89 opened #377 "New stream clobber mode?"
@mark-petersen, would it be possible to add an option to the`clobber_mode` streams attribute that truncates for a cold start of the model and appends for a restart? It's possible this is already implemented and I just don't know about it. It's also very possible this is a bad idea altogether.

cc @xylar, @pwolfram

[2019-09-28 08:31] xylar commented on #377
I think the right way to handle this use case is to delete the files with a script before a cold start and always use append mode. It seems to me like a good deal of effort to implement a new clobber mode with this behavior, given that a simple script could take care of it otherwise.

I'm open to hearing what others think.

[2019-10-03 12:37] xylar commented on #377
@sbrus89, we talked about this on the developer telecon on Monday.  @mgduda thought the framework changes to support a new clobber mode would be doable.  The main modification there would involve the C code that converts string clobber modes to integers that Fortran expects and a mechanism to indicate to the framework whether the current run is a cold start or a restart.

Within any core that want

[2019-10-03 22:14] sbrus89 commented on #377
@xylar, Thanks for looking into this. Obviously, it's super low-priority so maybe we can work on it together next time your back. I was just thinking it could be useful and wanted to see what others though before I forgot about it.

[2019-10-07 14:26] jonbob commented on #342
closing -- merged into both MPAS and E3SM

[2019-10-07 14:26] #342 closed

[2019-10-07 14:27] jonbob commented on #344
Closing -- merged to both MPAS and E3SM

[2019-10-07 14:27] #344 closed

[2019-10-14 18:31] amametjanov commented on #286
Fixed by MPAS-Dev/MPAS-Model#348. "Close issue" button is disabled for me. @jonbob or @mark-petersen, can you please close? Thanks.

[2019-10-14 18:43] #286 closed

[2019-10-14 18:44] jonbob commented on #286
Got it, @amametjanov. Thanks for taking care of this

[2019-10-15 13:08] xylar opened #381 "COMPASS global ocean points to wrong branch on geometric_features"
This line:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/cull_mesh.py#L59

should not point to a specific branch of geometric_features.  Instead, it should default to the same version as the geometric_features release (by removing the explicit `branch_or_tag`.  Many features needed in COMPASS are new and not in the `convert_to_package` branc

[2019-10-17 17:52] sbrus89 opened #383 "In COMPASS, enable setup_testcase.py to clone a git repository"
This is just a minor feature that I thought might be useful and was interested to see if anyone else thinks it's worth pursuing at some point.

For example, I use scripts from MPAS-QuickViz to do analysis for a testcase. It would be nice if I could make the step to clone this repo a part of running setup_testcase.

[2019-10-17 18:54] pwolfram commented on #383
What about cloning the repo as part of an analysis step for a case, where you check to see if the repo exist with the right checksum, and if not, then you clone it?  I don't think this should go in setup_testcase.py.

[2019-10-17 20:05] xylar commented on #383
We just talked on the phone but here's the written version for posterity.

If you need something from MPAS-QuickViz in COMPASS, it should be moved to MPAS-Tools instead.   Basically, something like this seems like a step back toward having paths to scripts.  Anything like that should either be in COMPASS or be part of one of its conda dependencies in my view.   Versioning can also potentially be t

[2019-10-17 20:07] pwolfram commented on #383
This makes sense-- it would be better to store the script in COMPASS (no version issues) or if it is more stable and less specific to the simulation in MPAS-Tools.  My vote is for it to be directly in COMPASS in a general scripts repo.

[2019-10-17 20:10] sbrus89 commented on #383
I agree with you both. I don't know why I didn't think of doing it that way, i.e. committing the scripts to COMPASS or MPAS-Tools. Thanks for the feedback. I'll go ahead and close this out!

[2019-10-17 20:10] #383 closed

[2019-10-31 17:18] pwolfram commented on #350
@mgduda's fix proposed in the thread at #367 is working so far based on our checks to resolve the issues; am verifying with more robust cases to stress-test.  Thanks @mgduda and @mark-petersen  for your engagement on these fixes!

[2019-11-07 14:17] srafkin opened #390 "PIO check fail during compilation of MPAS 7.0"
The MPAS 7.0 compilation fails during the pio check.  I've edited the Makefile so the output is sent to standard output rather than /dev/null.  Result is below along with additional info.  Looks like a pathname problem related to a mystery MPAS include file (maybe?), but I've been unable to hunt it down.  Thanks in advance for any help.

-bash-4.2$ make gfortran
( make all \
"FC_PARALLEL = mpif90"

[2019-11-07 17:57] mgduda commented on #390
@srafkin Until we've determined unambiguously that there is a bug in the code, could you post this issue to the MPAS-Atmosphere support forum at http://forum.mmm.ucar.edu/ ? The forum is better suited to requests for assistance, while GitHub Issues may be better for tracking bugs to be fixed in the code.

[2019-11-07 17:59] srafkin commented on #390
Hi Michael,

Will do.  Thanks!

Scot

On 11/7/2019 10:57 AM, Michael Duda wrote:

--
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
Scot C. R. Rafkin, Ph.D.
Program Director
Southwest Research Institute, Department of Space Studies
1050 Walnut Street, Suite 300
Boulder, CO 80302
(720)240-0116 (office)
(303)880-6227 (mobile)
http://www.boulder.swri.edu/~rafkin
rafkin.swri@gmail.com
/\

[2019-11-07 18:00] mgduda commented on #390
Because this is more likely (IMHO) to be a library installation issue than a bug in the `Makefile`, I'll close this issue for now; but, we can re-open it if it turns out that the `Makefile` needs to be modified.

[2019-11-07 18:00] #390 closed

[2019-11-12 16:58] mark-petersen opened #394 "Do we need local versions of config flags?"
In almost every MPAS-Ocean module, config flags are transferred to private module variables. For example, in the ocean core, for del2, we have:
[code]
and on init:
[code]
Is there any performance reason to do this? It seems like a lot of extra bookkeeping, and extra variables obscure code. Options are:
1. Do it this way (use extra variables with different names)
2. Call `mpas_pool_get_config` for

[2019-11-12 17:33] amametjanov commented on #394
+1 on doing it once with option 4. Not sure if there's a reason for the current method: module-private vars still depend on run-time input namelists: i.e. they's not compile-time constant `parameter` vars.

[2019-11-12 18:02] philipwjones commented on #394
We do not want options 1,2 as they are likely causing some unnecessary performance overhead doing the character matching every time step.  We definitely want to set them on init and not keep retrieving them from config.

Using local module variables (option 3) keeps most of them encapsulated within the module that's using them. And because they're encapsulated, you can give them shorter variable n

[2019-11-12 18:04] philipwjones commented on #394
To clarify, when I say convert strings - we can (and should) still have string options in the namelists - just want to convert them during init to something that's more efficient for the integration.

[2019-12-04 15:40] sbrus89 opened #407 "Update repository adresses in get_BGC.sh for ocean master branch"
Just a very minor fix. These are up to date in the develop branches, but they still refer to the ACME-Climate repo in the master branch. Thanks to our colleagues in A-1 for catching this!

[2019-12-04 15:44] sbrus89 commented on #407
For reference, this is where the issue is...

From master:
https://github.com/MPAS-Dev/MPAS-Model/blob/51d5624709f75182130a2fd94715e1bb13310172/src/core_ocean/get_BGC.sh#L10-L14

From ocean/develop:
https://github.com/MPAS-Dev/MPAS-Model/blob/7cb3d6e7cfd7032da2cc4e6c6db94da9c3edac61/src/core_ocean/get_BGC.sh#L9-L13

[2019-12-04 17:52] xylar commented on #407
This is presumably just a matter of waiting until `ocean/develop` gets merged into `master`, unless this is a more urgent problem?

I believe the old URL works even though it's not up-to-date.

[2019-12-04 18:12] mark-petersen commented on #407
The old ACME-Climate address forwards to the new E3SM-Project address. For example,
`git clone git@github.com:ACME-Climate/Ocean-BGC.git`
works, and
https://github.com/ACME-Climate/Ocean-BGC.git
forwards to E3SM-Project on a web browser. So there is no action to be taken. As @xylar
 said, it will update on master for the next release, but there is no harm for now. @sbrus89, does that resolve the i

[2019-12-04 19:00] sbrus89 commented on #407
I think the issue in this specific case may have been with the svn links. For example: https://github.com/E3SM-Project/Ocean-BGC-src/archive no longer exists.

This is definitely not urgent. I just thought I'd document it.

[2019-12-04 21:05] maltrud commented on #407
to follow up on what @sbrus89 noted, i think this is a case where a collaborator wanted to check out master and the build fails.  should they be pointed to ocean/develop instead?  in any case, it seems bad that master fails.

[2019-12-04 21:32] mark-petersen commented on #407
I see now. The problem is not the ACME-Climate versus E3SM-Project. That always forwards. The problem is that these lines in both branches:

From master:
https://github.com/MPAS-Dev/MPAS-Model/blob/51d5624709f75182130a2fd94715e1bb13310172/src/core_ocean/get_BGC.sh#L3-L5

From ocean/develop:
https://github.com/MPAS-Dev/MPAS-Model/blob/7cb3d6e7cfd7032da2cc4e6c6db94da9c3edac61/src/core_ocean/get_BGC.

[2019-12-10 06:05] yuyangyang0709 opened #408 "Problems in Compiling MPAS"
When I use the command "make gfortran CORE=atmosphere", there will be a compilation error when complie the pio_test.
The error messages are as follow:

************ ERROR ************
Failed to compile a PIO test program
Please ensure the PIO environment variable is set to the PIO installation directory

Then, I tried compiling this program use the command:
mpif90 pio2.f90 -I/home/lulv/yuyy/softwa

[2019-12-10 23:14] mgduda commented on #408
Could you post this question to the MPAS-Atmosphere support forum at https://forum.mmm.ucar.edu/ ? Ideally, GitHub Issues for the MPAS-Model repository are reserved for tracking specific issues with the MPAS code itself. For general help with MPAS-Atmosphere, the aforementioned forum is a good place to start.

[2019-12-10 23:14] #408 closed

[2019-12-11 16:40] mark-petersen opened #411 "Compile MPAS with CMake"
There are currently CMake files for each core, in order to compile E3SM with CMake, added in #386. The next step is to add the CMake files so that we can compile MPAS standalone, i.e. replace a command like
[code]
with the corresponding CMake command. This issue provides a place to discuss that work.

[2019-12-11 16:48] mark-petersen commented on #411
@jgfouca could you outline what additional files are needed to compile MPAS stand-alone with CMake? We are new to CMake, so pointing to similar examples is also helpful.

[2019-12-11 16:49] mark-petersen commented on #411
The current Makefile has many sections like this:
https://github.com/MPAS-Dev/MPAS-Model/blob/51d5624709f75182130a2fd94715e1bb13310172/Makefile#L326-L336
that specify details on a machine and compiler-specific level. Does CMake auto-detect most of that, but still allow us to specify flags when needed?

[2019-12-11 19:04] jgfouca commented on #411
@mark-petersen , the main missing pieces from what I can remember are machine files and a general flag config file.

For example, your snippet above would become a gnu-nersc.cmake file containing:
[code]

[2019-12-11 19:39] mark-petersen opened #412 "Move ocean vector reconstruction to analysis member"
Currently, mpas_reconstruct is called each timestep, for numerous variables, and always interpolates to (x,y,z) and (zonal,meridional). This is wasteful for both compute time and memory usage. We can put these in two new analysis members:
- vector_reconstruction_lat_lon
- vector_reconstruction_xyz
and call them every 6 hours or daily, and only use lat_lon for global cases.

[2019-12-11 20:02] mark-petersen commented on #412
The steps involved are:
1. Create a new branch from ocean/develop.
1. Add two new analysis members (AMs) using names above, starting from `core_ocean/analysis_members/mpas_ocn_TEMPLATE.F` and follow detailed instructions in that file.
1. All occurrences of `call mpas_reconstruct` should be removed from these directories: `src/core_ocean/shared` and `src/core_ocean/mode_forward` - see below.
1. The

[2019-12-11 20:10] xylar commented on #412
Wow, @mark-petersen, you're on a tear!

This seems like a good project, indeed.

[2019-12-11 20:45] mark-petersen opened #413 "Simplify ocean global stats analysis member"
The `global_stats` analysis member currently includes these scalar statistics for a large number of variables:

1. **Min** Minimum global value of salinity in ocean cells.
1. **Max** Maximum global value of salinity in ocean cells.
1. **Avg** Average value of salinity in ocean cells.
1. **Sum** Accumulated global value of salinity in ocean cells.
1. **Rms** Global root mean square value of salinit

[2019-12-11 20:54] mark-petersen commented on #413
@pwolfram @maltrud @milenaveneziani @vanroekel @xylar:

1. Would anyone mind if we remove RMS, MinVertSum, MaxVertSum from the global stats analysis member? For rare special cases these can be computed from netcdf output with nco commands.
1. Should we also remove Sum? It is useful for testing conservation, but can be computed from a restart file. Without surface fluxes, Avg tells us if a tracer i

[2019-12-11 21:16] mark-petersen commented on #16
This issue has gone stale. Closing.

[2019-12-11 21:16] #16 closed

[2019-12-11 21:16] mark-petersen commented on #20
This issue has gone stale. Closing.

[2019-12-11 21:18] mark-petersen commented on #34
This issue has gone stale. See new versioning at [this confluence page](https://acme-climate.atlassian.net/wiki/spaces/ECG/pages/1054113803/MPAS-Ocean+Initialization+and+Testing#NERSC)

[2019-12-11 21:18] #34 closed

[2019-12-11 21:19] mark-petersen commented on #51
This issue has gone stale.

[2019-12-11 21:19] #51 closed

[2019-12-11 21:21] mark-petersen commented on #88
@pwolfram can I close this issue? I think it is OK for idealized cases to point to old mesh files until someone actually needs a new jigsaw mesh for something.

[2019-12-11 21:35] mark-petersen commented on #321
This issue is solved. See documentation at https://acme-climate.atlassian.net/wiki/spaces/ECG/pages/1054113803/MPAS-Ocean+Initialization+and+Testing

[2019-12-11 21:35] #321 closed

[2019-12-12 08:32] xylar commented on #413
Yep, I don't have a problem with removing RMS, MinVertSum and MaxVertSum.

I don't think we can eliminate Sum because I think some of the quantities are needed for a full accounting of conservation within E3SM, though I'm not 100% clear on how this is being tracked in practice.  @vanroekel, any thoughts?

[2019-12-12 17:45] hrmoncada commented on #412
@mark-petersen,  I will let you know if i have questions

[2019-12-12 20:43] vanroekel commented on #413
@xylar  you are right.  When we were tracking down the water conservation issues the Sum variables were quite useful, but there is no formal analysis that uses those.  I think it is okay to compute conservation from a restart file as @mark-petersen suggests.  I have never used the other variables.

But may I ask why there is a need to do this?  The computational cost and IO from this has to be min

[2019-12-13 09:04] marta-gil opened #416 "Validity check of fields for the GWDO scheme fails for regions over the ocean"
Hello,
This error message for the atmosphere model appears whenever the input is a region set completely over the ocean:

----------------------------------------------------------------------
    Beginning MPAS-atmosphere Error Log File for task 0 of 1
        Opened at 2019/12/12 11:26:13
----------------------------------------------------------------------

    ERROR: *************************

[2019-12-13 13:17] mark-petersen commented on #413
@vanroekel you are right, it is not pressing. The motivation is that I use the global stats a great deal in stand-alone mode, and 235 fields in global stats is difficult to navigate and not intuitive to students and collaborators. I do remember that global stats was so slow that it had to be turned off for some past simulations, but that have been the pnetcdf configuration.

I am writing up a few

[2019-12-13 16:23] MiCurry commented on #416
Agreed! And can confirm the same behavior on our end for a region over the ocean that has zero terrain and GWDO fields. The above error is generated in the physics_compatibility_check subroutine in physics/mpas_atmphys_control.F:

https://github.com/MPAS-Dev/MPAS-Model/blob/51d5624709f75182130a2fd94715e1bb13310172/src/core_atmosphere/physics/mpas_atmphys_control.F#L476-L490

An easy fix, as provid

[2019-12-16 21:37] hrmoncada commented on #412
@mark-petersen ,I don't get the same using **git grep -in mpas_reconstruct**, I got more. Could you please let me know which version of the MPAS-Model/ocean are you using.
[code]

[2019-12-16 21:56] mark-petersen commented on #412
@hrmoncada you are right, that is the full output on `ocean/develop`. A did not copy the whole thing before. You are on the right branch.

You can ignore everything in the directory `analysis_members`, because those are called infrequently. We are interested in removing those called every timestep, which are in `mode_forward` and `shared`.

[2020-01-14 19:26] xylar commented on #294
This has become critical and needs to happen in the next few weeks.

[2020-01-14 19:45] maltrud commented on #294
@xylar , @mark-petersen : is everything in /raid/mpas_data?

[2020-01-14 19:52] mark-petersen commented on #294
Yes. I'm copying it over to a ccs scratch drive right now. In the end it needs to be transferred to Anvil (or somewhere) where it can be downloaded. mpas_data is 39GB total.

[2020-01-14 20:13] maltrud commented on #294
i just copied it to poseidon

[2020-01-14 22:22] mark-petersen commented on #294
For safe keeping I put it in two locations:
[code]
I'll copy to Anvil this week.

[2020-01-15 00:45] xylar commented on #294
It seems like a good opportunity to copy only the files that COMPASS actually makes use of, so I would only move over the files that we need rather than all 39 GB if there is an appreciable number of files we don't need.

[2020-01-15 14:09] mark-petersen commented on #294
Yes, I thought the same thing. We are all tight on time, but that is a great way to start.

[2020-01-15 15:16] mark-petersen commented on #294
We can see the files that are listed in COMPASS that access oceans11 with these commands:
[code]
and see the subdirectories with:
[code]

The output looks like this:
https://gist.githubusercontent.com/mark-petersen/4d0fe39bc6d95590e1a42d9cf26ef318/raw/ef86aeb5984135e5478a027159d09c2091b09a1e/gistfile1.txt

[2020-01-15 21:52] pwolfram commented on #350
Thank you everyone!  I believe this issue is now fully resolved and am closing.

[2020-01-15 21:52] #350 closed

[2020-01-25 16:42] xylar commented on #294
@mark-petersen, if you can put all the files on Anvil somewhere temporarily (not in the public server), I will be willing to move only the files currently used into the appropriate place within https://web.lcrc.anl.gov/public/e3sm/mpas_standalonedata/mpas-ocean/

[2020-01-25 16:47] xylar commented on #294
Never mind.  I'll do this now.

[2020-01-25 21:04] xylar commented on #233
In my testing, I see that these test cases are still broken.

[2020-01-25 21:09] xylar opened #430 "ocean/surface_waves/thickness_source/1km test case tries to link metsi"
When running this test case, I see:
[code]
The issue is that we no longer point to metis, we use it from the COMPASS conda environment.  This line should be removed:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/surface_waves/thickness_source/1km/config_forward.xml#L9

And this line should call metis from the system path, as done in other test cases:
htt

[2020-01-25 21:18] xylar opened #431 "hurricane test cases link to non-existent jigsaw_driver.m"
The test cases:
[code]
link to a non-existent Matlab driver script that we no longer support:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/hurricane/USDEQU120at30cr10rr2/build_mesh/config_base_mesh.xml#L5
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/hurricane/USDEQU60at15cr5rr1/build_mesh/config_base_mesh.xml

[2020-01-25 21:40] xylar commented on #294
@mark-petersen, the land-ice test cases were taken care of about a year and a half ago!  (Thanks for being on the ball, @matthewhoffman!)

https://github.com/MPAS-Dev/MPAS-Model/pull/97

I don't see any evidence that MPAS-Seaice ever used oceans11 in its test cases (which are separate from COMPASS in any case).

[2020-01-28 13:31] mark-petersen opened #434 "Should Redi term 1 (horizontal del2) be untapered?"
The Redi mixing that I just merged in PR #280 tapers all terms in the vertical the same way. I learned today that MOM keeps the horizontal del2 (term 1) on at all layers. That would be an easy change. Should I change term 1 to not be tapered?

[2020-01-28 21:45] xylar opened #436 "Topography smoothing"
I'm concerned that we are not performing an adequate level of topography smoothing in MPAS-Ocean `global_ocean` configurations.  As an example, see bathymetry plot in #433.

I think it would be appropriate to do at least a few iterations of nearest-neighbor smoothing (with weights TBD) as part of initialization.  The step currently called smoothing:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocea

[2020-01-28 21:46] xylar commented on #436
@mark-petersen, @vanroekel, @maltrud, @milenaveneziani, Do you have thoughts on this?

[2020-01-28 22:00] milenaveneziani commented on #436
By looking at the bathymetry plot that you pointed us to, I agree that it would be good to get rid of those isolated blue cells.
For my own indoctrination, could you please say how you obtained that bathymetry plot? I assume it comes as part of jigsaw, after the mesh has been created and while adding a land-mask/bathymetry before creating the initial condition?

[2020-01-28 22:03] xylar opened #437 "CF compliance, including the Time dimension, xtime variable and _FillValue"
There are a number of issues with the MPAS framework that keep biting us (especially new users) in the behind.  These include:
* The `xtime` variable is highly non-standard and should be replaced with something like `days since <date>`
* MPAS components output arrays with various choices of the "fill value", but the `_FillValue` attribute is not set for any of them.  Thus, analysis and viz. tools

[2020-01-28 22:06] xylar commented on #437
This (particularly the `_FillValue` issue) caused trouble for @caozd999 today so wanted to make sure there's at least a place for folks to complain...

[2020-01-28 22:08] xylar commented on #436
It's `bottomDepth` from `initial_state.nc` the `initial_state` step of each test case.  It's from COMPASS but not related to Jigsaw.

[2020-01-28 22:09] milenaveneziani commented on #436
great, thanks.

[2020-01-28 22:13] milenaveneziani commented on #436
Here are some plots of bottom depth for the EC60to10v3. You can see some isolated pixels with fairly different values with respect to their surroundings, even using the lower resolution bathymetry:

![DepthSH_oEC60to30v3](https://user-images.githubusercontent.com/8237579/73310009-a1211100-41e0-11ea-9ce9-9d425401ddb7.png)
![DepthGlobal_oEC60to30v3](https://user-images.githubusercontent.com/8237579/

[2020-02-02 21:44] xylar opened #439 "Remove basemap dependency"
The `basemap` package is no longer being maintained (see https://matplotlib.org/basemap/users/intro.html#deprecation-notice) and is becoming increasingly hard to install along with other conda packages (notably `proj` and `pyproj`).

I would like to remove it from `compass`.  It is currently used  in the following locations:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_set

[2020-02-02 21:45] xylar commented on #439
@sbrus89 (cc @pwolfram), would you be willing to help with this?  It looks like maybe the current usage of basemap is in code you wrote.

[2020-02-03 14:55] sbrus89 commented on #439
@xylar, sure. I'd be happy to help. Sounds like moving to `cartopy` is the way to go.

[2020-02-03 21:38] vanroekel commented on #434
@mark-petersen I believe term1 is already untapered.  If I look here

https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/shared/mpas_ocn_tracer_hmix_redi.F#L187

The flux_term is not multiplied by any slope and will not be tapered, or at least that is how I read the code.  Let me know if I'm missing something.

[2020-02-04 21:24] xylar commented on #436
@milenaveneziani, just realized I never responded.  Thanks for these plots!  Yes, I would expect to see noise, including isolated island-like features in the low res v3 configuration, too.  That topography is also unsmoothed.

[2020-02-05 18:40] xylar opened #442 "various bugs in e3sm_coupling step in global_ocean COMPASS test cases"
When calls to `ncks` were added to COMPASS global ocean, specifically here:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/scripts/create_E3SM_coupling_files.py#L128-L131
the `nco` package was not added to the compass environment.

[2020-02-05 20:50] xylar commented on #442
Having looked further, I think there are various bugs in the `e3sm_coupling` step (and @jonbob has mentioned more related to runoff).  I think that step should be removed from test cases until it is working.

The next bug I noticed is that `init.nc` links to `../initial_state/initial_state.nc`, whereas for cases with ice-shelf cavities, it is vitally important that the final state from SSH adjustm

[2020-02-06 19:47] xylar opened #444 "EC60to30wISC defaults to 80 levels"
The EC60to30wISC test case in COMPASS defaults to 80 levels, whereas it needs to be 60.

[2020-02-06 19:49] xylar commented on #444
The issue also applies to the QU240wISC test case.  It is related to trying to reuse the same initial_state.xml file for all test cases, whereas each test case needs its own.
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/config_files_ISC/config_initial_state.xml

[2020-02-07 22:40] MiCurry opened #446 "Intel MPI 2019.5.281 causes segmentation fault during Bootstrapping"
The `init_atmosphere` and `atmosphere` core both fail oh Cheyenne using the following modules:
[code]

with the following stack trace being produced for both cores:
[code]

This error seems to be only with `impi/2019.5.281` as compiling and running with `2018.4.274` and `2019.6.154` do not have this problem.

While this issue isn't critical, I'm creating it just in case something similar creeps up

[2020-02-12 02:45] xylar commented on #294
Addressed by #429

[2020-02-12 02:45] #294 closed

[2020-02-12 17:42] t-brown commented on #446
Is this related to this PIO [issue](https://github.com/NCAR/ParallelIO/issues/1613#issuecomment-559207153) too?

[2020-02-12 17:56] mgduda commented on #446
@t-brown It's certainly possible the two issues are related, especially given that [line 1927 of mpas_io.F](https://github.com/MPAS-Dev/MPAS-Model/blob/v7.0/src/framework/mpas_io.F#L1927) is a call to a PIO routine.

[2020-02-12 22:24] xylar commented on #437
The lack of consistent `_FillValue` is giving @lizcarlson trouble today, so there's another vote for fixing this issue...

[2020-02-19 19:08] czender commented on #437
@wenshanw and I at UCI are attempting to resolve the _FillValue issue in the next few months as part of E3SM Infrastructure work, with more CF-compliance after that. We will post significant milestones here.

[2020-02-19 21:56] mgduda opened #451 "Allow core_run method to use a "run until" specification"
For some specific background, I'm currently working with code (CAM) that will call the MPAS-Atmosphere core's `atm_core_run` method in a loop, and what I'd like to be able to do is to tell the atmosphere core how far to integrate in each call.

The central issue is that at present, each core's run method accepts just a single parameter, a `domain_type` type, which doesn't have a place where the sp

[2020-02-24 23:32] #287 closed

[2020-02-26 15:19] pwolfram commented on #431
@xylar, I believe this has been resolved.  If you agree, can you please close?

[2020-02-26 15:20] pwolfram commented on #430
@xylar, has this issue been resolved in #429?

[2020-02-26 15:21] pwolfram commented on #360
I believe this has been resolved in #317 and am currently testing in #366 to make sure.

cc @mark-petersen with thanks for the fix in #317

[2020-02-26 15:23] #431 closed

[2020-02-26 15:25] #240 closed

[2020-02-26 15:26] xylar commented on #430
Yes, on other repos, these would have been closed automatically by the PR but someone must have disabled that here... Thanks for checking.

[2020-02-26 15:26] #430 closed

[2020-02-27 22:41] pwolfram opened #458 "Verify SAL for RK4 (wetting / drying cases)"
Tidal implementation of SAL for RK4 may be incorrect in #371 at https://github.com/MPAS-Dev/MPAS-Model/pull/371/files#diff-d2a9414bd0f5332537025544c6ed7ea9R357

Currently, SAL is computed as a perturbation off the layer potential:
`- config_self_attraction_and_loading_beta * zMid(k,iCell)` and this may not be correct.

Given the approximation really is only deep water as the reference below implie

[2020-02-27 22:42] pwolfram commented on #458
Needed for #366 final case with full SAL, which is only a minor correction to current approach.

[2020-02-27 22:46] pwolfram commented on #436
@xylar, this is for discrete, on MPAS mesh nearest-neighbor smoothing, correct?

[2020-02-28 04:35] xylar commented on #436
@pwolfram, that's correct.  First, we bilinearly interpolate bathymetry to the MPAS grid at cell centers.
 Then, the idea is to do some number of iterations of smoothing where the bathymetry value for the cell gets averaged with the mean of its neighboring cellsOnCell with a weighting of 0.9 for the cell itself and 0.1 for the mean of cellsOnCell.  The weights and the number of iterations are name

[2020-03-12 14:57] sbrus89 opened #471 "Compass conda environment error"
@xylar, when I do
`source /usr/projects/climate/SHARED_CLIMATE/anaconda_envs/load_latest_compass.sh`

and run the `base_mesh` case for
`-o ocean -c global_ocean -r CUSP12 -t init`

I get an error
`/usr/projects/climate/SHARED_CLIMATE/anaconda_envs/base/bin/python: No module named numpy`

This is strange because `conda list` shows `numpy` as a package

This is probably something I'm doing wrong, bu

[2020-03-12 16:15] xylar commented on #471
The shebang looks fine, so that's not it:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/CUSP12/init/define_base_mesh.py#L1

It looks like you're running with the python in the base environment, not in the compass environment.  Maybe the `conda activate comapss_0.1.2` failed?  If so, can you see what the error message is?

[2020-03-12 16:18] xylar commented on #471
I bet you're trying to load the old non-existant `load_compass.sh` instead of `load_latest_compass.sh` or trying to load `compass_py3.7` (also gone).

[2020-03-17 12:50] xylar opened #474 "fix isomip_plus topography links"
ISOMIP+ data is no longer being hosted at NERSC.  We need to put it on LCRC, since COMPASS won't download it from the FTP site used by the DOI (http://doi.org/10.5880/PIK.2016.002).

[2020-03-17 13:10] pwolfram opened #475 "LANL IC compass instruction broken"
Current approach to load python for compass via

[code]

in the file `https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/README_ocean.md` appears to no longer work.

[2020-03-17 13:14] pwolfram commented on #475
Following posting this I got a browser refresh for new instructions and found that use of

`source /usr/projects/climate/SHARED_CLIMATE/anaconda_envs/load_latest_compass.sh `

lacks `mpl_toolkits.basemap`, which is used in a variety of scripts.

Is there a reason this has been removed from COMPASS, if only as a deprecated feature?

[2020-03-17 13:17] pwolfram commented on #475
See  #439

[2020-03-17 13:20] xylar commented on #475
@pwolfram, the instruction you list above no longer appears in the file you link to:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/README_ocean.md

This was already fixed in https://github.com/MPAS-Dev/MPAS-Model/pull/462

Perhaps you are looking at an old branch?

[2020-03-17 13:21] xylar commented on #475
Okay, I see that you now notice this.

[2020-03-17 13:21] pwolfram commented on #475
Somehow my browser didn't refresh, it must have had the cached data.  Sorry for the trouble here.  We just had some scripts we were using in https://github.com/MPAS-Dev/MPAS-QuickViz/ that broke as a consequence of the environment change.

[2020-03-17 13:23] xylar commented on #475
You really should switch to `cartopy`.  We have a PR for your to review to do this in compass (only coastal is using basemap at the moment): https://github.com/MPAS-Dev/MPAS-Model/pull/441

Please merge that ASAP.

I don't intend to make the COMPASS environment support MPAS-QuickViz, so I'm sorry that things are breaking there but you need to create your own conda enviornment that is compatible if

[2020-03-17 13:24] xylar commented on #475
Also, I am getting sick and therefore grumpy.  Sorry for my tone, but hopefully that explains something...

[2020-03-17 13:31] xylar commented on #475
I'm going to close this because I don't think it's a COMPASS or MPAS-Model issue.  Reopen and rename if you disagree.

[2020-03-17 13:31] #475 closed

[2020-03-17 13:37] pwolfram commented on #475
I agree, thanks @xylar.

[2020-03-17 13:43] xylar commented on #471
@sbrus89, have you had a chance to try to figure this one out?

[2020-03-21 21:39] mgduda opened #481 "Field memory deallocation error with XL compilers"
With the XL 16.1.1-5 compilers, a memory deallocation error is generated at run-time in the `mpas_field_routines` module:
[code]

This issue was first noted by @amametjanov in the discussion on PR #367 .

[2020-03-23 20:57] sbrus89 commented on #471
@xylar, I'm going to close this because I haven't been able to reproduce the error since. Thanks for your help.

[2020-03-23 20:57] #471 closed

[2020-03-24 14:05] mark-petersen opened #486 "Create 64-layer initial condition in COMPASS"
COMPASS is set up for 60 layer (POP) mesh, 80 layer, or 100 layer right now.

[2020-03-24 21:07] philipwjones opened #488 "PGI build of ocean on summit fails with bad dependency"
Build of latest ocean/develop is failing on Summit with PGI19.9, claiming a weird dependency:
PGF90-F-0004-Unable to open MODULE file cvmix_background.mod (mpas_subdriver.F: 14)
where no such dependency should exist. While this might appear to be a compiler issue, a build of ocean/develop from ~week ago builds fine with this same compiler.

Trying to narrow down further...

[2020-03-24 21:18] jonbob commented on #488
@philipwjones - we just moved the cvmix and bgc codes to be submodules inside maps-ocean, so I'm guessing it's related to that. You'll have to update the submodules now, even in standalone. And in E3SM, you have to add a --recursive flag to the submodule update command. Because now we have submodules having submodules -- where will it ever stop??

[2020-03-24 21:24] philipwjones commented on #488
@jonbob - yeah, I had already done that. When you forget to do that, you get a whole different error that's much clearer. But the cvmix connection is suspicious.

[2020-03-24 21:26] jonbob commented on #488
That it is... Otherwise it does look like a compiler error, finding a bad dependency.

[2020-03-25 11:25] xylar opened #490 "link in test cases to load_compass_env.bash"
@sbrus89 requested a way to link to [load_compass_env.bash](https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/load_compass_env.bash) within a test case so this file can be sourced more easily to run the test case with the right environment.

[2020-03-25 11:32] xylar commented on #490
We currently have the ability to create symlinks in COMPASS only at the level of steps within a test case, not in the main test case directory where the highest level `run.py` driver scrip is found.  Thus, this would require changes to `setup_testcase.py`.

It's not clear to me how best to do this.  Do we want to:
* hard code a link to `load_compass_env.bash` each time a drive script is created?
*

[2020-03-25 11:34] xylar commented on #490
A few other things to discuss that are semi-related:
* `load_compass_env.bash` should probably be renamed from `bash` to just `sh` since that's what we (and conda) do elsewhere.
* we probably want this script in `develop` so `landice` and other components can use it, too.

[2020-03-25 11:34] xylar commented on #490
cc @sbrus89, @mark-petersen and @pwolfram

[2020-03-25 14:56] sbrus89 commented on #490
My initial thought would be to hard code the link (first option), but add a CL argument to setup_testcase.py so that everything behaves normally (i.e. no link) unless it is specified.

[2020-03-25 14:57] xylar commented on #490
Sounds like a nice idea.

[2020-03-25 19:09] philipwjones commented on #488
Looks like the submodule commit did indeed cause this, though still haven't identified what specifically is happening.

[2020-03-25 22:55] philipwjones commented on #488
Ok, found the problem. Since the path to cvmix changed a little with the change to submodules, there's a hard-wired path in the build_options.mk that needs to be updated. Will submit a PR in a little bit. Not sure how the current version works on other machines...

[2020-03-26 17:26] jonbob commented on #488
@philipwjones - thanks for tracking that down. I never use the standalone model so I have no clue...

[2020-03-30 21:29] pwolfram opened #497 "Tidal forcing does not work with `ssh_gradient` for RK4"
Tidal forcing currently modifies `zMid` for the RK4 implementation.  However, there is no direct feedback on pressure forcing when `ssh_gradient` is used because the tendency does not include `zMid` but instead `ssh`.

[2020-03-30 21:31] pwolfram commented on #497
cc @sbrus89

[2020-03-30 21:32] pwolfram commented on #497
Reference code from `src/core_ocean/shared/mpas_ocn_vel_pressure_grad.F`
[code]

[2020-03-30 21:36] pwolfram commented on #497
@sbrus89 and @mark-petersen, it looks like we will need to have separate applications of tides given choice of `config_pressure_gradient_type`.

[2020-03-30 21:38] pwolfram commented on #497
Tides are being applied to the subcycled `ssh` for `split_explicit` time integration in contrast: https://github.com/MPAS-Dev/MPAS-Model/pull/371/files#diff-db21cc1fffd0373a768ccfeaf1ebf511R819

[2020-03-30 21:39] pwolfram commented on #497
Would it make more sense to incorporate tidal forcing directly into the pressure gradient solver directly as its own tidal term?  It seems like this may make more sense because it doesn't come into play except when the horizontal pressure gradient is computed.

[2020-03-30 21:41] pwolfram commented on #497
This solution also has the potential for making the tidal application agnostic to time integration choice too.

[2020-04-01 17:37] pwolfram opened #500 "Automatic population of submodules"
As part of the build process, I would propose we automatically initialize submodules, e.g., for CVmix to not require an explicit call of the form: `git submodule update --init --recursive` in `ocean\develop`.  This will enable similar behavior as to what we had previously and make builds simpler.

[2020-04-01 20:31] philipwjones commented on #500
One of the reasons we had the earlier hand-rolled scripts was to avoid any unnecessary git updates in the middle of the build since it can require a password entry, either for git itself or on some machines, to access the ssh key file. That will stall the build if you're running in the background or walk away for a bit and the prompt can get buried in all the build output.

The current build does

[2020-04-01 21:36] pwolfram commented on #500
Also, when you are developing you'll get a meaningless git status notation of
`modified:   src/core_ocean/cvmix (untracked content)`
which is completely unnecessary because no editing of note was done to cvmix.

Minimally, we should modify `.gitignore` so we don't have this problem because cvmix is its own repo.

[2020-04-02 01:36] pwolfram commented on #375
Does #498 also help resolve this issue?  I think it now does because it is treated like a tendency, just like other terms used in the RK4 integration.

[2020-04-02 01:38] pwolfram commented on #375
But, likely we have a broader problem that is now not dependent upon tidal forcing.

[2020-04-02 01:43] pwolfram commented on #497
Closed by #498, thanks @sbrus89!

[2020-04-02 01:43] #497 closed

[2020-04-02 01:43] pwolfram commented on #458
Closed by #498, thanks @sbrus89!

[2020-04-02 01:44] pwolfram commented on #439
@xylar, I believe we've purged this issue on our coastal branch.  Can we please close?

[2020-04-02 01:46] pwolfram commented on #360
Closed by #317 and demonstrated in #456.  #366 is currently stable, so closing this issue for now.

[2020-04-02 01:46] #360 closed

[2020-04-02 10:35] xylar commented on #500
@pwolfram, I have no objection to you making these changes.

[2020-04-02 10:36] xylar commented on #500
To address @philipwjones' comment about having to enter passwords, it would be best if the `git submodule` call happens immediately at the beginning of the build and only after checking if it is really necessary.

[2020-04-02 13:28] xylar commented on #439
I don't believe this has made it to `ocean/develop` yet, for example:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/jigsaw_to_MPAS/coastal_tools.py#L19

@mark-petersen, since you aren't ready to merge `ocean/coastal` to `ocean/develop` how can we at least get #441?

[2020-04-03 20:09] Enea2301 opened #509 "Problems compiling MPAS with PGI"
Hi! I've been recently trying to compile MPAS, as I'm into model forecasting (I've worked with WRF very often).

I'm trying to compile MPAS with PGI compilers (as I had done previously with WRF), but a problem appears while compiling MPAS init_atmosphere.

-Computer SO: Ubuntu 20.04 (changed recently because of better support for my CPU, which is Zen 2 architecture)
-Compiler version: 19.10 (commu

[2020-04-03 21:16] mgduda commented on #509
My guess is that this is an issue either with the compiler or with one of the supporting libraries, and not necessarily with the MPAS code itself. Could you post this to the MPAS-Atmosphere section of the support forum at https://forum.mmm.ucar.edu/ ?

If it turns out that there is an issue with the MPAS code itself, we can follow-up on this GitHub issue; otherwise, this sounds like it may be a mo

[2020-04-04 10:24] Enea2301 commented on #509
Sure! I'll post there and see if it gets resolved. Thanks for your help!

[2020-04-08 14:09] xylar commented on #233
@pwolfram, can you please put fixing these two broken test cases on your to-do list somewhere?  The fact that they don't set up makes it hard for us to test whether COMPASS changes have broken existing test cases.

[2020-04-08 14:09] xylar commented on #233
@pwolfram, alternatively, can we remove these test cases for now and add them back in the future once they are working again?

[2020-04-08 14:23] pwolfram commented on #233
On the previous commit, it looks like a file was deleted in MPAS-Tools before this work was done which made the case break (see copy from https://github.com/MPAS-Dev/MPAS-Model/pull/74#issuecomment-420287631):

"
@mark-petersen, MpasMeshGenerator.sh was from the previous workflow and pointed to https://github.com/MPAS-Dev/MPAS-Tools/blob/master/mesh_tools/triangle_jigsaw_to_netcdf/build_mesh.sh. T

[2020-04-08 15:40] xylar commented on #233
As we discussed on Slack, this won't be as simple as reverting back to a previous workflow, since we really don't support JIGSAW-Matlab anymore.  However, I've marked these test cases as "broken" by moving them to a "broken" subdirectory in #514

[2020-04-09 08:28] xylar opened #516 "COMPASS space for depricated or unsupported test cases"
We have 100 ocean test cases in COMPASS.  This is impossibly many to try to maintain.  Some are there purely for documentary purposes and will only work with earlier configurations of COMPASS.

It would be nice to have a place for old test cases so they don't get deleted but where they are not part of our regular testing.

Suggestions are welcome!

[2020-04-09 08:29] xylar commented on #516
@pwolfram and @mark-petersen, this particularly applies to you.  @sbrus89 and @cao999, you may also be interested in this discussion.  @matthewhoffman, something similar may be needed sooner or later for the landice side.

[2020-04-09 08:31] xylar commented on #516
One suggestion I had that I don't think is fantastic was to create a new component next to `ocean` called `ocean_depricated` or something like that.  Test cases in this new component would be numbered after those in `ocean` because of how COMPASS orders the test cases, making it easy to build (and test) only those test cases that are actively supported in `ocean`.

[2020-04-09 13:37] pwolfram commented on #516
@xylar, did the `broken` tag work for you?  Are these cases getting skipped or are still numbered listing cases?

[2020-04-09 14:06] xylar commented on #516
@pwolfram, that worked.  We could mark other test cases as "broken" or "depricated" by moving them into subdirectories with those names as an alternative solution.

[2020-04-09 14:33] pwolfram commented on #516
Thanks, sounds like our solution yesterday was "ok" but better options like the above may exist.  Your idea above will allow us to deploy cases for testing more effectively, which is a plus.  It would also highlight different things we could have folks learning MPAS-O do, e.g., summer students, new contributors, etc.  Refractoring a test case with known physics is a low risk activity and for someo

[2020-04-09 14:38] xylar opened #517 "Relative links to analysis not compatible with COMPASS work directory"
Several test cases refer to relative paths to analysis that is not linked properly when the test case is set up with the `--work_dir` flag.  These test cases are:
[code]
As an example from https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/drying_slope/hybrid/1km/config_analysis.xml#L3-L5:
[code]

Since `analysis` is not a test case itself (it has no `config_

[2020-04-09 14:39] xylar commented on #517
I am working on a PR to fix issues like this and will just include these changes on the `ocean/develop` side but wanted to point them out to see how these fixes can make their way into `ocean/coastal`, particularly in new test cases.

[2020-04-09 14:40] pwolfram commented on #517
Thank you @xylar, much appreciated.

[2020-04-16 13:55] pwolfram commented on #458
Reopening-- unclear if SAL is working correctly based on preliminary testing and it is currently turned off in #520

[2020-04-17 18:56] xylar opened #521 "Missing stream(s) in spin-up configs"
As part of #445, changes were made to how streams are added to some forward config files.  However, it seems that not all files were modified that needed to be and, as a result, the `spin_up` stage of at least the EC60to30 and SO60to10wISC test case, and perhaps others, are broken.

Specifically, https://github.com/MPAS-Dev/MPAS-Model/commit/447df4e5d608496b0a6420ec250433fad9dbf174 missed the file

[2020-04-17 19:07] xylar commented on #521
I'm taking care of the SO60to10wISC as part of #518, but that's not a good place to handle the EC60to30 or other unrelated test cases.

[2020-04-18 14:15] xylar opened #525 "Errors in CUSP 12 spin-up"
CUSP8 and CUSP12 stage `spin_up/test_final_settings` is misconfigured.:
[code]
But the last restart file is:
[code]
This is not compatible with how MPAS handles restarts: there would need to be a restart file at an even month boundary for this to work.

[2020-04-18 14:27] xylar commented on #525
I'm going to see if similar issues emerge elsewhere and then fix this in #523

[2020-04-18 15:18] xylar commented on #525
Update: this is really beyond #523 and needs someone to figure out what is actually useful for the CUSP spin-up.  For example, the `timeSeriesMonthlyOutput` analysis is turned on but the output is also not being produced.  And monthly output is only going to be useful if this is running for a second month, following a month of spin-up.  @mark-petersen, I'm going to assign this to you but please le

[2020-04-18 15:21] xylar commented on #525
I suspect CUSP8 will have the same issues, since the various `prep_spin_up` stages have been modified in #445 but the final stage of that test case was also not updated.

[2020-04-21 07:17] xylar commented on #516
This is being partially addressed by deleting some unused test cases in #530.

[2020-04-22 13:02] mark-petersen commented on #525
Thanks for pointing this out. I will make modifications in https://github.com/MPAS-Dev/MPAS-Model/pull/523.

[2020-04-23 07:18] xylar opened #534 "A template for high-frequency output contains time monthly output"
The following file was added in #104, seemingly as a placeholder to be modified (but if so it never got modified):
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/global_ocean/template_high_frequency_output.xml
This file should be removed or made useful.  It is currently not used.

[2020-05-07 07:29] xylar commented on #525
Renaming since CUSP 8 has been removed.

[2020-05-07 07:30] xylar commented on #521
Closed by #524

[2020-05-07 07:30] #521 closed

[2020-05-07 07:31] xylar commented on #517
Addressed by #514

[2020-05-07 07:31] #517 closed

[2020-05-07 07:32] xylar commented on #516
Closing because no test cases seem to fit this category, as discussed in #530

[2020-05-07 07:32] #516 closed

[2020-05-07 07:32] xylar commented on #490
Addressed in #492

[2020-05-07 07:32] #490 closed

[2020-05-07 07:33] xylar commented on #486
Addressed by #495

[2020-05-07 07:33] #486 closed

[2020-05-07 07:37] xylar commented on #444
Fixed (I believe) by #502.  Fixed somewhere for sure.

[2020-05-07 07:37] #444 closed

[2020-05-07 07:39] xylar commented on #442
While changes to `e3sm_coupling` are ongoing, the specific issues mentioned here (other than runoff) have been addressed.  I think this issue has outlived its usefulness.

[2020-05-07 07:39] #442 closed

[2020-05-07 07:43] xylar commented on #436
This was implemented in #440

[2020-05-07 07:43] #436 closed

[2020-05-07 07:50] xylar commented on #439
Addressed by #441

[2020-05-07 07:50] #439 closed

[2020-05-07 07:51] xylar commented on #381
Addressed by  #381

[2020-05-07 07:51] #381 closed

[2020-05-07 07:53] xylar commented on #235
Closing this because QU60 was removed in #530 and spin-up of the CUSP mesh is the subject of #525

[2020-05-07 07:53] #235 closed

[2020-05-07 07:54] xylar commented on #239
This test case has been marked as "broken"

[2020-05-07 07:54] #239 closed

[2020-05-07 08:30] xylar opened #549 "Earth Radius in COMPASS and MPAS-Ocean init mode"
A (sometimes a bit heated) email discussion has been going on about inconsistent Earth radii between:
* [COMPASS when calling Jigsaw](https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/jigsaw_to_MPAS/triangle_jigsaw_to_netcdf.py#L223): 6371000
* [MPAS framework constant `a`](https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/framework/mpas_constant

[2020-05-07 08:39] xylar commented on #549
@mark-petersen summarized as follows (with some formatting changes from me):

https://github.com/MPAS-Dev/MPAS-Tools/blob/master/mesh_tools/mesh_conversion_tools/mpas_mesh_converter.cpp#L1212
[code]

https://github.com/MPAS-Dev/MPAS-Tools/blob/master/mesh_tools/mesh_conversion_tools/pnt.h#L253
[code]

https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_ocean/mode_init/mpas_ocn_init_

[2020-05-07 08:42] xylar commented on #549
@proteanplanet suggests that the sphere radius for both (all) cases should be taken from CIME to be consistent with EAM and ELM:
https://github.com/E3SM-Project/E3SM/blob/master/cime/src/share/util/shr_const_mod.F90#L20
This value is: SHR_CONST_REARTH  = 6.37122e6

[2020-05-07 08:46] xylar commented on #549
@mark-petersen wrote:

This was discussed further and it does not seem to be true for at least 2 reasons:
1. As both @dengwirda and @xylar pointed out, JIGSAW uses real lengths to determine the target resolution of the mesh it produces (so resolution would have to be normalized if we wanted to use a unit sphere)
2. There is an interest in using these meshes in situations where MPAS-Ocean init mode

[2020-05-07 08:57] xylar opened #550 "Move jigsaw_to_MPAS to MPAS-Tools"
@dengwirda has expressed interest in using [`jigsaw_to_MPAS`](https://github.com/MPAS-Dev/MPAS-Model/tree/ocean/develop/testing_and_setup/compass/ocean/jigsaw_to_MPAS) outside of COMPASS.

This would be useful for making new MPAS meshes for potential river and land components to come.

It would also mean that changes to `jigsaw_to_MPAS` would be more challenging, since they would involve:
* changi

[2020-05-07 08:58] xylar commented on #550
cc @dengwirda, @proteanplanet, @sbrus89, @pwolfram, @mark-petersen, @jonbob

[2020-05-07 08:58] xylar commented on #549
cc @dengwirda, @proteanplanet, @sbrus89, @pwolfram, @mark-petersen, @jonbob

[2020-05-07 09:00] xylar commented on #550
Small thing: maybe also a chance to rename the module to something like `jigsaw_to_mpas`.  Python convention is no capital letters in modules.  Underscores are frowned upon but seem hard to avoid here.

[2020-05-07 09:08] xylar commented on #549
I like @proteanplanet idea of using CIME constants for our Earth radius.  We will just need to figure out the logistics of doing that:
* Which branch or commit of E3SM is used?
* How is the appropriate branch/commit downloaded by the tool (e.g. compute nodes may not be able to access the internet)?
* How to robustly parse out the constant we need from the Fortran file in python?
* How are the CIME

[2020-05-07 13:00] dengwirda commented on #550
@xylar I think we could call this, say, `mesh_creation_tools`, for consistency with `mesh_conversion_tools`, etc. There's also support for non-`JIGSAW` workflows here (i.e. `Triangle`) that should be kept I think.

Let me make an initial PR to MPAS-Tools that combines this move with some related changes needed for ICoM meshing.

[2020-05-07 13:07] xylar commented on #550
@dengwirda, go ahead, but please put it as a module of `conda_package/mpas_tools`, not at the same level as `mesh_conversion_tools`.  While I can't help the legacy of how the repo is laid out, I would like all new python tools to be part of the conda package.

[2020-05-07 13:10] xylar commented on #550
And `mesh_creation_tools` works for me, but we called the wrappers for the `mesh_conversion_tools` just `conversion` under the conda package.

[2020-05-07 13:19] dengwirda commented on #549
Quick additional background ---

This is important for mixed model workflows (i.e. `ICoM`) in which the `MPAS` mesh files created by `MPAS_mesh_converter.cpp` are handed off to various other components (`ELM`, `MOSART`, `HexWatershed`, etc) as well as to `MPAS-O`.

If `MPAS-O` re-normalises its mesh data using its own radius value there could be a mismatch in the key mesh variables (`dvEdge`, `dcE

[2020-05-07 13:20] xylar commented on #550
@dengwirda, I would also be careful about putting in a ton of work before having a discussion with the folks (e.g. @pwolfram and @sbrus89) that would also be affected by us making this move.  Maybe they already know.

[2020-05-07 13:31] xylar commented on #549
Makes sense.  Eliminating, rather than replacing, @mark-petersen's step 4.

[2020-05-07 14:05] pwolfram commented on #550
@dengwirda and I previously discussed this issue, which is related to moving some key grid generation features out of the model into tools.  @sbrus89, please let us know your thoughts.  If we can tag a version of the conda environment to each COMPASS case, ensure this with an `assert`, then we should be able to work around issues related to previously having all code contained inside a single repo

[2020-05-07 14:30] sbrus89 commented on #550
To me, it feels like `jigsaw_to_MPAS` belongs in `MPAS_Tools`. So, I'm in favor of this as long as @xylar thinks the additional overhead for maintaining it inside `MPAS_Tools` isn't prohibitive. I also like the change to `mesh_creation_tools`.

As @pwolfram mentioned, we'll have to come up with a strategy for how to make sure existing COMPASS cases use the correct version of the conda environment.

[2020-05-07 15:30] proteanplanet commented on #549
Thanks @xylar for opening up this issue.  Just to add to the comment on using CIME constants, it would be ideal if we were grabbing all of our physical constants, wherever possible, from this location.  Like you, I'm not sure of the logistics.  I'll give it some thought.

[2020-05-07 16:07] klindsay28 commented on #549
FYI, we're dealing with the basically the same problem in CESM/CIME/MOM.
In MOM, the radius of the Earth is read from a text-based parameter file, while in CIME it is in Fortran source code. We would like to use the CIME value in MOM when running with CIME.

To achieve this, we're leaning towards adding a set parameter method to MOM's parameter infrastructure, and the CIME cap for MOM would call t

[2020-05-07 18:50] xylar commented on #549
@klindsay28, thanks, that's some really helpful insight!  I was thinking along the same lines that it would be ideal if CIME could inform MPAS-Ocean of parameters.  (This would not apply to the Earth radius, which is needed at initialization but to a lot of other constants.)

[2020-05-07 18:54] xylar commented on #550
@sbrus89, if you're good with this change, I'm good with it for sure!  It's a bit more work for me but I'm more worried about others.  I'm used to the 4-step workflow I outlined above but I figured others would be intimidated.

Regarding keeping things synced, yes, as long as you have the right `compass` environment, it will have one and only one version of `mpas_tools`.  So there is essentially n

[2020-05-07 21:08] #509 closed

[2020-05-07 21:15] mgduda opened #551 "Enable missing_value to override default default_value for fields"
Following a discussion on 4 May 2020, there is interest in having the the default value for a field take on the specified `missing_value` if no explicit `default_value` is given in the registry entry for a field.

The motivation for this change is that fields that do contain missing values would otherwise need to be explicitly initialized by a core to the missing value; initializing a field to its

[2020-05-07 21:48] mgduda commented on #549
Incidentally, I've just started dealing with similar issues in CESM/CAM with MPAS-A as the dycore. From my perspective, there are two points worth considering:
1. It would be ideal of all MPAS components that are used in an E3SM/CESM simulation ultimately obtain their constants from the same location; this, I think, would argue for pulling the constants from CIME.
1. When components of MPAS (e.g.,

[2020-05-09 10:58] xylar commented on #551
@mgduda, yep, that looks like what we discussed.  Thanks for being willing to implement this!

[2020-05-11 09:42] zredb opened #554 "The MPI_Comm_f2c() function was called before MPI_INIT was invoked."
Hello,
   I'm new to MPAS, I followed the "https://www2.mmm.ucar.edu/projects/mpas/tutorial/Boulder2019/index.html" page to build and run tutorial, but I get message as below:
*** The MPI_Comm_f2c() function was called before MPI_INIT was invoked.
*** This is disallowed by the MPI standard.
*** Your MPI job will now abort.
[mpas:50242] Local abort before MPI_INIT completed completed successfully,

[2020-05-11 14:49] xylar commented on #549
@mgduda, that approach sounds interesting but I've realized that it likely is more complex than we need for MPAS-Ocean, at least for the Earth radius.  In MPAS-Ocean, we don't use the earth radius as far as I am aware in forward mode, just in init mode.  And that value could come from almost anywhere (certainly no need for it to come from `mpas_constants`, at least).  So we would probably just nee

[2020-05-11 15:01] vanroekel commented on #549
@xylar just a quick note that some of the GM alterations I'm working on use sphere_radius (I need planetary beta), but we could also move that out of GM_init and into the init_mode since that calculation wouldn't change during the run.

[2020-05-11 23:01] MiCurry commented on #551
And if both `missing_value` and `default_value` are present, then the field's default value should be set to `default_value`? i.e. the current behavior?

[2020-05-12 11:36] xylar commented on #551
@MiCurry, my hope is that `missing_value` and `default_value` wouldn't be specified for the same field because that would be confusing.

@mgduda, is the difference in behavior between `missing_value` and `default_value` whether this attribute ends up in the NetCDF file or not (`missing_value`: yes; `default_value`: no)?

[2020-05-12 16:42] mgduda commented on #554
@zredb Could you post this question to the MPAS-Atmosphere section of the support forum at https://forum.mmm.ucar.edu/ ? If we determine that there is actually an issue with the code itself, then we can open a GitHub Issue; until then, the support forum would be a better venue for requesting help.

[2020-05-13 02:57] zredb commented on #554
hello @mgduda,
     Thank you for you reply. After several compilation attempts, the problem has been solved.

[2020-05-13 03:22] #554 closed

[2020-05-13 11:26] xylar opened #557 "Remove unused vertical mixing schemes"
Since we now only use CVMix, the `rich` vertical mixing scheme and perhaps others should be removed so we don't have to maintain code we don't use.

[2020-05-13 11:29] xylar opened #558 "Incorrect triangle or kite area for edges"
Following up on #556, there are several places where edge areas (either for the edge triangles that make up a cell or the kite that represents the "domain" of an edge) are missing a factor of 0.5 or sometimes even 0.25.

These don't matter because the factor of 2 error is in both the numerator and the denominator, but it's confusing:
* https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/

[2020-05-13 13:21] vanroekel commented on #557
I agree with @xylar, we should remove the extra schemes.  The functionality of all other schemes exists in cvmix.  @mark-petersen if you agree, I could put this on my todo list to clean up.

[2020-05-13 13:21] pwolfram commented on #557
@xylar, I'm very much against this because @mark-petersen, @vanroekel, and I used this to do debugging of the noise issue when ENSO was broken.  I recognize it is painful to have this type of code in the repo, but not having the option to use does cause a potential problem.

This being said, if we were able to "swap" this out by replacing the functionality with a proper GOTM implementation, which

[2020-05-13 13:22] pwolfram commented on #557
@vanroekel, looks like we were writing at the same time-- we have P&P and Richardson mixing in CVMIX now?  If so, I agree we can remove.

To clarify, the shift to GOTM is expected to include all the current functionality in CVMIX, right?

[2020-05-13 13:24] pwolfram commented on #557
The bottom line is we need to maintain different physical vertical mixing schemes, minimally for debugging but also to have the science capability available for different cases.  For instance, SOMA *does not* and should not use KPP.

[2020-05-13 13:27] xylar commented on #557
@pwolfram, my understanding is that Richardson is fully supported in CVMix and there's no reason to use the MPAS implementation.  If we still are, we shouldn't be because it hasn't been getting proper maintenance for a long time already.

[2020-05-13 13:28] vanroekel commented on #557
@pwolfram, yes to both questions.  Currently CVMix includes PP81 and LMD94 Ri mixing, it also has the Bryan and lewis constant mixing which can replace the tanh mixing, and certainly uniformly constant.

and yes once @qingli411 finishes incorporation of the new GOTM we will have all of CVMix plus the GOTM family of 2-equation models.

[2020-05-13 13:29] vanroekel commented on #557
I'd also add that I'm not terribly convinced the testing we did with other vertical mixing schemes was helpful for the ENSO issue.  However, the move toward all of this living in GOTM is a good one in my view.

[2020-05-13 13:35] pwolfram commented on #557
The last question I have is how much will we trust / be sure we don't have latent bugs in the CVMIX / GOTM implementations?  Ideally no, practically probably.  If so, assuming Richardson still works, we may want to keep it around to make sure we are at least qualitatively consistent with CVMIX.

For example, if we only have one mixing scheme via GOTM/CVMIX, what happens if there is a hidden bug in

[2020-05-13 13:38] pwolfram commented on #557
And my personal take on this is I would like to see all our mixing be in GOTM with the CVMIX hook under a testing infrastructure that makes us fully comfortable under the scope of science we support and will do, recognizing no testing suite is ever 100% and we will have to hold some degree of risk to be successful here.  In this "world", we don't need ad-hoc mixing scheme implementations because t

[2020-05-13 13:51] vanroekel commented on #557
The current RICH / TANH / CONST mixing code does not give me any comfort or a decent test case for the CVMix implementations.  All three of those are trivial mixing schemes to implement.  The most complex code in CVMix by far is KPP.  The others are simple polynomial formations fixed in time and I don't see how maintaining them helps debug cvmix.  I would also strongly disagree that the debugging

[2020-05-13 13:51] xylar commented on #557
@pwolfram, I'd like to chat a bit offline about this before continuing the conversion.  Please respond on Slack if you get a chance.

[2020-05-13 14:24] pwolfram commented on #557
Thanks @xylar and @vanroekel my concern was related to various bugs you've found and described to me in CVMIX over the years, especially related to the vertical indices, empty or incorrect values, etc.  I wasn't suggesting the process to debug it was done incorrectly and to be fair have said and continue to think your analysis is perhaps the most comprehensive one to date.  I am not concerned with

[2020-05-13 14:25] pwolfram commented on #557
My vote:

Remove the code as recommended here but revisit this higher-level concern of testing for core pieces of the code like vertical mixing (and in the future wetting / drying and high-order pressure gradients) that have potential wide-spread changes to the simulations due to bug senstivities.

[2020-05-13 16:26] vanroekel commented on #557
@pwolfram thanks for the explanation here.  I'm fully on board with all you say.  And sorry if I got overly defensive on previous testing.  I agree we need to think about this more, but separately from this issue.  @pwolfram and I chatted and have started developing a plan for better testing of vertical mixing that we will socialize.

[2020-05-13 16:39] philipwjones commented on #557
Late to the discussion here, but in my previous attempt at GPU porting of all this vmix code,  I even discussed with Mark and Luke that these be eliminated at that time. The capabilities exist in almost identical form in cvmix - PP has a slightly different form in each - but the functionality can certainly be captured in the current code with a suitable cvmix configuration. I purposely stopped con

[2020-05-13 16:43] pwolfram commented on #557
@philipwjones, so you vote 'yes' to removal too?

[2020-05-13 16:46] philipwjones commented on #557
Yup. And a replacement for cvmix too. ;^)

[2020-05-13 22:06] mark-petersen commented on #558
@xylar thanks for writing up this list with an issue. #556 should be corrected as an isolated bug, but I will make a PR to fix these too.

[2020-05-14 05:12] xylar commented on #558
Please see my comment on #556. I do think we want to correct all of them, even the ones that "don't matter". Using incorrect areas clearly leads to misconceptions that propagate to other parts of the code.

[2020-05-16 16:17] xylar commented on #550
@dengwirda, I've given it some thought and I'm not sure I like the idea of moving `jigsaw_to_MPAS` into MPAS-Tools in conjunction with other changes.  I think that sounds dangerous, time consuming and difficult to debug.  My preference would be to move exactly what we have over, likely with a rename, and to then make changes within MPAS-Tools as part of follow-on work.  I think that would be the l

[2020-05-18 13:15] dengwirda commented on #550
@xylar Yes, happy to do this in two stages as you suggest.

Also want to check whether there's any specific build / make instructions on hand for MPAS-Tools?

[2020-05-18 14:16] xylar commented on #550
@dengwirda, great!  I started work on this yesterday in the hopes you'd be okay with it.  I'll make a couple of pull requests later today or tomorrow.  The one to MPAS-Tools will include a stub developer's guide (not yet written) with some instructions on how to update, build and test the conda package.

[2020-05-18 15:59] mark-petersen commented on #557
I agree, we should remove code that is not used, or that is redundant. Some general comments:
1. The simple vmix modules were only nice because it was obvious how they work. But simplicity is not a substitute for testing, and then we had redundant methods anyway. When we use an external package like cvmix, it is even more important to have testing for each term and setting, so I'm happy that @vanr

[2020-05-18 16:04] philipwjones commented on #557
I will second the motion to remove the tensor versions - if we're going to support them, they would need a significant rewrite for optimization/GPU support. I skipped them during this first pass so hope they just disappear and we don't have to worry about them.

[2020-05-19 07:14] xylar opened #564 "e3sm_coupling failing with load_latest_compass.sh on LANL IC"
This is a copy of the following comment form @mark-petersen:
https://github.com/MPAS-Dev/MPAS-Model/pull/480#issuecomment-630465452

@xylar I confirmed on LANL IC that mapping_analysis fails using `compass_0.1.5`, trying to run either with python or mpirun commands.
<details>
<summary> error message </summary> <p>

[code]
</details>

I can get `mapping_analysis` to work with `conda activate compas

[2020-05-19 07:20] xylar commented on #564
@mark-petersen, I'm moving this discussion to a new issue because it's not related to the PR you're commenting on.  That PR and the comment you're referring to was for an older version of COMPASS and the `compass` metapackage.  I don't think the errors you're seeing are related to that work.

The pull request to use `compass_0.1.5` is here: https://github.com/MPAS-Dev/MPAS-Model/pull/545

You appr

[2020-05-19 07:22] xylar commented on #564
This has to be some sort of an IC file system issue.  I see similar things on Cori.  There's nothing I can do about that.

[2020-05-19 09:03] xylar commented on #564
The error @mark-petersen is seeing is still present in #545.  It results from running `ESMF_RegirdWeightGen` without `mpirun` for 1 MPI task.  This will need to be fixed in `pyreamp` (see https://github.com/MPAS-Dev/pyremap/issues/15).

[2020-05-19 16:09] vanroekel commented on #564
@xylar not sure if this is related to this issue, but when I try to run a test case (Jamil's horizontal advection test) with using the ``./setup_testcase.py --link_load_compass`` I get the following errors

[code]

but if I activate ```compass_0.1.4``` the test case runs fine.

sorry if this is in the wrong place.

[2020-05-19 17:00] xylar commented on #564
@vanroekel, I think that may be a different issue but it can stay here.  But I would need more details on how to reproduce this.  `compass_0.1.4` is serial (no MPI) whereas `compass_0.1.5` is MPI.  So it's related to that for sure.